{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ page.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: page.title
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% if is_granted('edit', page) %}
                <div class="float-end">
                    <a class="btn btn-primary"
                        href="{{
                        path(
                            'app_settings_page_edit',
                            {
                                id: page.id
                            }
                        )
                        }}">
                        {{ 'Edit Page'|trans({}, 'forms') }}
                    </a>
                </div>
            {% endif %}
            <h1>
                {{ page.title }}
            </h1>

            <p class="text-muted">
                {% if page.updatedAt %}
                    {{ 'Updated by'|trans }}: {{ page.updatedBy }}. {{
                        'Updated at'|trans
                    }}: {{ page.updatedAt|date('d.m.Y H:i') }}.
                {% else %}
                    {{ 'Created by'|trans }}: {{ page.createdBy }}. {{
                        'Created at'|trans
                    }}: {{ page.createdAt|date('d.m.Y H:i') }}.
                {% endif %}
            </p>

            {% if app_cookie_consent and page.type == 'privacy' %}
                <div class="float-md-end" style="width: 30rem;">
                    <div class="card">
                        <div class="card-header">
                            {{ 'Cookie Consent'|trans }}
                        </div>
                        <div class="card-body">
                            <p>
                                {{
                                    'This website is using cookies, you have to accept necessary cookies to proceed.'|trans
                                }}
                                {{
                                    'You will find more information on this page.'|trans
                                }}
                            </p>

                            {{ form_start(consentForm) }}

                            <strong>{{ 'Options'|trans }}:</strong>
                            {{ form_widget(consentForm.categories) }}

                            {{
                                form_widget(
                                    consentForm.target,
                                    {
                                        value: app.request.pathInfo
                                    }
                                )
                            }}

                            <div class="mt-2 pt-2">
                                {{ form_widget(consentForm.submit) }}
                            </div>

                            {{ form_end(consentForm) }}
                        </div>
                    </div>
                </div>
            {% endif %}

            {{ page.content|raw }}
        </div>
    </div>
{% endblock %}
