<div class="modal fade"
    id="modal"
    tabindex="-1"
    aria-labelledby="modalTitle"
    aria-hidden="true"
    data-modal-target="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                    {{ modalTitle }}
                </h5>
                <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close">

                </button>
            </div>
            <div class="modal-body">
                {{ modalMessage }}

                <div data-modal-target="modalBody">
                    {{ modalContent|default('Loading...') }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal">
                    {{ 'Cancel'|trans({}, 'forms') }}
                </button>
                <button type="button"
                    class="btn btn-primary"
                    data-action="modal#submitForm">
                    {{ 'Delete'|trans({}, 'forms') }}
                </button>
            </div>
        </div>
    </div>
</div>
