{% block navbar %}
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
            <div class="container-fluid">
                {% if is_granted('ROLE_USER') %}
                    <a class="navbar-brand" href="{{ path('dashboard') }}">
                        {{ 'title'|trans }}
                    </a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('default') }}">
                        {{ 'title'|trans }}
                    </a>
                {% endif %}
                <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if is_granted('ROLE_USER') and app.user.isParticipant %}
                            <li class="nav-item">
                                {% if
                                    app.request.attributes.get('_route')
                                        starts with 'hospital' %}
                                    <a class="nav-link active"
                                        aria-current="page"
                                        href="{{ path('hospital_index') }}">
                                        {{ 'link.hospitals'|trans }}
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                        aria-current="page"
                                        href="{{ path('hospital_index') }}">
                                        {{ 'link.hospitals'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and app.user.isParticipant %}
                            <li class="nav-item">
                                {% if
                                    app.request.attributes.get('_route')
                                        starts with 'allocation' %}
                                    <a class="nav-link active"
                                        aria-current="page"
                                        href="{{ path('allocation_index') }}">
                                        {{ 'link.allocations'|trans }}
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                        aria-current="page"
                                        href="{{ path('allocation_index') }}">
                                        {{ 'link.allocations'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if
                                app.request.attributes.get('_route')
                                    starts with 'statistics' %}
                                <a class="nav-link active"
                                    aria-current="page"
                                    href="{{ path('statistics_index') }}">
                                    {{ 'link.statistics'|trans }}
                                </a>
                            {% else %}
                                <a class="nav-link"
                                    aria-current="page"
                                    href="{{ path('statistics_index') }}">
                                    {{ 'link.statistics'|trans }}
                                </a>
                            {% endif %}
                        </li>
                        {% if is_granted('ROLE_USER') and app.user.isParticipant %}
                            <li class="nav-item">
                                {% if
                                    app.request.attributes.get('_route')
                                        starts with 'import' %}
                                    <a class="nav-link active"
                                        aria-current="page"
                                        href="{{ path('import_index') }}">
                                        {{ 'link.import'|trans }}
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                        aria-current="page"
                                        href="{{ path('import_index') }}">
                                        {{ 'link.import'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_USER') and app.user.isParticipant %}
                            <li class="">
                                <a class="nav-link disabled">
                                    {{ 'link.export'|trans }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            {% if
                                app.request.attributes.get('_route')
                                    starts with 'faq' %}
                                <a class="nav-link active"
                                    aria-current="page"
                                    href="{{ path('faq_index') }}">
                                    {{ 'link.faq'|trans }}
                                </a>
                            {% else %}
                                <a class="nav-link"
                                    aria-current="page"
                                    href="{{ path('faq_index') }}">
                                    {{ 'link.faq'|trans }}
                                </a>
                            {% endif %}
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                                href="#"
                                id="transDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                {{
                                    app.request.locale
                                        |locale_name(app.request.locale)
                                        |u.title
                                }}
                            </a>
                            <ul class="dropdown-menu"
                                aria-labelledby="transDropdown">
                                <li>
                                    <a class="dropdown-item"
                                        href="{{
                                        path(
                                            app.request.attributes.get(
                                                '_route'
                                            ),
                                            app.request.attributes.get(
                                                '_route_params'
                                            )|merge({
                                                '_locale': 'en'
                                            })
                                        )
                                        }}">
                                        English
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item"
                                        href="{{
                                        path(
                                            app.request.attributes.get(
                                                '_route'
                                            ),
                                            app.request.attributes.get(
                                                '_route_params'
                                            )|merge({
                                                '_locale': 'de'
                                            })
                                        )
                                        }}">
                                        Deutsch
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item dropdown">
                                {% if is_granted('IS_IMPERSONATOR') %}
                                    <a class="nav-link dropdown-toggle text-warning"
                                        href="#"
                                        id="navbarDropdown"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{
                                            'nav.logged_in_as'|trans({
                                                '%name%': app.user.username
                                            })
                                        }}
                                    </a>
                                {% else %}
                                    <a class="nav-link dropdown-toggle"
                                        href="#"
                                        id="navbarDropdown"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        {{
                                            'nav.logged_in_as'|trans({
                                                '%name%': app.user.username
                                            })
                                        }}
                                    </a>
                                {% endif %}
                                <ul class="dropdown-menu"
                                    aria-labelledby="navbarDropdown">
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <li>
                                            <a class="dropdown-item"
                                                href="{{ path('admin') }}">
                                                <i class="bi-gear-fill"></i>
                                                {{ 'link.backend'|trans }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if is_granted('ROLE_USER') %}
                                        <li>
                                            <a class="dropdown-item"
                                                href="{{ path('account') }}">
                                                <i class="bi-person-circle"></i>
                                                {{ 'link.account'|trans }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider" /></li>
                                    {% endif %}
                                    {% if is_granted('IS_IMPERSONATOR') %}
                                        <li>
                                            <a class="dropdown-item text-danger"
                                                href="{{
                                                impersonation_exit_path(
                                                    path('account')
                                                )
                                                }}">
                                                <i class="bi-door-closed-fill">

                                                </i>
                                                {{
                                                    'link.impersonation_exit'|trans
                                                }}
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider" /></li>
                                    {% endif %}
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ path('app_logout') }}">
                                            <i class="bi-power"></i>
                                            {{ 'link.logout'|trans }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link"
                                    aria-current="page"
                                    href="{{ path('app_login') }}">
                                    {{ 'link.login'|trans }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}
