{% extends 'base.html.twig' %}

{% block title %}
    {{ 'security.login.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'security.login.title'|trans }}
    </h1>

    {% if app.user %}
        <div class="mb-3">
            {{
                'security.login.alreadyLoggedIn'|trans({
                    '%name%': app.user.username
                })
            }}
            <a href="{{ path('app_logout') }}">
                {{ 'security.link.logout'|trans }}
            </a>
        </div>

        {% for label, messages in app.flashes(
            ['warning', 'error', 'success', 'notice']
        ) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message|trans }}
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <p>
            {{ 'security.login.message'|trans }}
        </p>

        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}

        <input type="hidden"
            name="_csrf_token"
            value="{{ csrf_token('authenticate') }}" />

        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-success">
                    {{ 'security.login.button'|trans }}
                    <span class="fa fa-lock"></span>
                </button>

                &nbsp;<input type="checkbox"
                    id="remember_me"
                    name="_remember_me"
                    checked />
                <label for="remember_me">
                    {{ 'security.login.rememberMe'|trans }}
                </label>
            </div>
        </div>
        {{ form_end(form) }}

        <p>
            {{ 'security.login.forgotPassword'|trans }}
            <a href="{{ path('app_forgot_password_request') }}">
                {{ 'security.link.forgotPassword'|trans }}
            </a>
        </p>
    {% endif %}
{% endblock %}
