{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}
{% import '_elements/macro/table.html.twig' as table %}

{% block title %}
    {{ 'Allocations'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Allocations'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="float-end"
                data-controller="toggle"
                data-toggle-target-value="alloc-sidebar"
                data-toggle-url-value="{{ path('app_api_toggle') }}">
                <a class="btn btn-primary"
                    data-bs-toggle="collapse"
                    data-action="toggle#switch"
                    href="#collapseFilters"
                    role="button"
                    aria-expanded="{{ app.user.ToggleAllocSidebar }}"
                    aria-controls="collapseFilters">
                    <i class="bi bi-sliders"></i> {{ 'Toggle Options'|trans }}
                </a>
            </div>

            <h1>
                {{ 'Allocations'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Allocations'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': allocations.count|number_format(0, '', '.')
                    })
                }}
            </p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            {{ 'Dispatch Area'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Time'|trans({}, 'forms') }}
                        </th>
                        <th></th>
                        <th>
                            {{ 'Urgency'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Dispatch'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Properties'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in allocations %}
                        <tr>
                            <td>
                                <a href="{{
                                    path(
                                        'app_allocation_show',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-search"></i><br />
                                    <small>
                                        {{ 'View'|trans({}, 'forms') }}
                                    </small>
                                </a>
                            </td>
                            <td>
                                {{
                                    allocation.dispatchArea|replace({
                                        Leitstelle: ''
                                    })
                                }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_hospital_show',
                                        {
                                            id: allocation.hospital.id
                                        }
                                    )
                                    }}">
                                    {{ allocation.hospital.name }}
                                </a>
                            </td>
                            <td>
                                <p>
                                    {{
                                        allocation.createdAt|date(
                                            'd.m.y H:i',
                                            'Europe/Berlin'
                                        )
                                    }}<br />
                                    {{
                                        allocation.arrivalAt|date(
                                            'd.m.y H:i',
                                            'Europe/Berlin'
                                        )
                                    }}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{ allocation.gender }}<br />
                                    {{ allocation.age }}
                                </p>
                            </td>
                            <td>
                                {% if allocation.urgency == '1' %}
                                    <p class="text-danger fw-bold">
                                        SK{{ allocation.urgency }}
                                    </p>
                                {% elseif allocation.urgency == '2' %}
                                    <p class="text-warning fw-bold">
                                        SK{{ allocation.urgency }}
                                    </p>
                                {% else %}
                                    <p class="text-success fw-bold">
                                        SK{{ allocation.urgency }}
                                    </p>
                                {% endif %}
                            </td>
                            <td>
                                <p>
                                    <strong>{{ allocation.speciality }}</strong><br />
                                    {{ allocation.indicationCode }} {{ allocation.indication }}
                                </p>
                            </td>
                            <td>
                                <span class="text-danger fw-bold">
                                    {% if allocation.requiresResus %}
                                        {{ 'S+'|trans }}
                                    {% endif %}
                                    {% if allocation.requiresCathlab %}
                                        {{ 'H+'|trans }}
                                    {% endif %}
                                    {% if allocation.isCPR %}
                                        {{ 'R+'|trans }}
                                    {% endif %}
                                    {% if allocation.isVentilated %}
                                        {{ 'B+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWithPhysician %}
                                        {{ 'N+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWorkAccident %}
                                        {{ 'BG+'|trans }}
                                    {% endif %}
                                    {% if allocation.isPregnant %}
                                        {{ 'Pregnant'|trans }}
                                    {% endif %}
                                </span><br />
                                <span class="text-warning">
                                    {% if
                                        allocation.isInfectious == 'Keine'
                                            or allocation.isInfectious
                                                == 'I-' %}

                                    {% else %}
                                        {{ allocation.isInfectious }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">
                                {{ 'No Allocations found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last|number_format(0, '', '.')
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_hospital_index') }}
                </div>
            </div>
        </div>

        {% if app.user.ToggleAllocSidebar %}
            {% set class = 'col-3 collapse show' %}
        {% else %}
            {% set class = 'col-3 collapse' %}
        {% endif %}

        <div class="{{ class }}" id="collapseFilters">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="bi bi-funnel"></i>
                    {{ 'Filters'|trans({}, 'forms') }}
                </div>
                <div class="card-body">
                    {{ form(searchForm) }}

                    <hr />

                    {{ form_row(allocationForm.ownHospitals) }}

                    {{ form_start(allocationForm) }}

                    <h5>
                        {{ 'Filter by Location'|trans }}
                    </h5>

                    {{
                        form_row(
                            allocationForm.state,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.dispatchArea,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.supplyArea,
                            {
                                label: false
                            }
                        )
                    }}

                    <h5>
                        {{ 'Filter by Dates'|trans }}
                    </h5>

                    <div class="input-group mb-3">
                        {{
                            form_widget(
                                allocationForm.startDate,
                                {
                                    label: false
                                }
                            )
                        }}

                        {{
                            form_widget(
                                allocationForm.endDate,
                                {
                                    label: false
                                }
                            )
                        }}
                    </div>

                    <h5>
                        {{ 'Filter by Properties'|trans }}
                    </h5>

                    {{
                        form_row(
                            allocationForm.indication,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.speciality,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.specialityDetail,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.urgency,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.infection,
                            {
                                label: false
                            }
                        )
                    }}

                    <div class="row mb-3">
                        <div class="col-6">
                            {{ form_widget(allocationForm.requiresResus) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(allocationForm.requiresCathlab) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(allocationForm.isCPR) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(allocationForm.isVentilated) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(allocationForm.isShock) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(allocationForm.isWithPhysician) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(allocationForm.isPregnant) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(allocationForm.isWorkAccident) }}
                        </div>
                    </div>

                    <h5>
                        {{ 'Filter by Transport'|trans }}
                    </h5>

                    {{
                        form_row(
                            allocationForm.assignment,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.occasion,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            allocationForm.modeOfTransport,
                            {
                                label: false
                            }
                        )
                    }}

                    <h5>
                        {{ 'Admin filters'|trans }}
                    </h5>

                    {% if is_granted('ROLE_ADMIN') %}
                        {{
                            form_row(
                                allocationForm.owner,
                                {
                                    label: false
                                }
                            )
                        }}
                        {{
                            form_row(
                                allocationForm.hospital,
                                {
                                    label: false
                                }
                            )
                        }}
                    {% endif %}

                    <div class="row">
                        <div class="col">
                            {{ form_row(allocationForm.submit) }}
                        </div>
                        <div class="col">
                            <div class="float-end">
                                {{ form_row(allocationForm.reset) }}
                            </div>
                        </div>
                    </div>

                    {{ form_end(allocationForm) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="bi bi-sort-down"></i> {{ 'Sorting'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(sortForm) }}

                    {{ form_row(sortForm.sortBy) }}
                    {{ form_row(sortForm.orderBy) }}

                    {{ form_end(sortForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
