{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'allocations.title'|trans }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('allocations') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('allocations') }}

    <script>
        {% if hospitals is defined %}
            window.hospitals = {{ hospitals|raw }};
        {% else %}
            window.hospitals = null;
        {% endif %}
        {% if hospital_links is defined %}
            window.hospitalLinks = {{ hospital_links|raw }};
        {% else %}
            window.hospitalLinks = null;
        {% endif %}
    </script>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Allocations'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                Current Version
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_allocation_index') }}">
                Preview new Version
            </a>
        </li>
    </ul>

    <div id="app"></div>
{% endblock %}
