{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Allocations'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Allocations'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="float-end">
                <a class="btn btn-primary"
                    data-bs-toggle="collapse"
                    href="#collapseFilters"
                    role="button"
                    aria-expanded="true"
                    aria-controls="collapseFilters">
                    <i class="bi bi-sliders"></i> {{ 'Toogle Options'|trans }}
                </a>
            </div>

            <h1>
                {{ 'Allocations'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Allocations'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': allocations.count
                    })
                }}
            </p>

            {% if filters.search %}
                <div class="alert alert-info" role="alert">
                    {{ 'Searching for'|trans }}: "<i>{{ filters.search }}</i>" | <a href="{{
                        path(
                            'app_allocation_index',
                            app.request.query.all|merge({
                                search: '',
                                page: 1
                            })
                        )
                        }}">
                        {{ 'Click here to end search'|trans }}
                    </a>
                </div>
            {% endif %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            {% if
                                filters.sortBy == 'dispatchArea'
                                    and filters.orderBy == 'desc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            orderBy: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>
                                        {{ 'Dispatch Area'|trans({}, 'forms') }}
                                    </em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% elseif
                                filters.sortBy == 'dispatchArea'
                                    and filters.orderBy == 'asc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            orderBy: 'desc'
                                        })
                                    )
                                    }}">
                                    <em>
                                        {{ 'Dispatch Area'|trans({}, 'forms') }}
                                    </em>
                                </a>

                                <i class="bi bi-chevron-double-up"></i>
                            {% else %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'dispatchArea',
                                            orderBy: 'desc'
                                        })
                                    )
                                    }}">
                                    {{ 'Dispatch Area'|trans({}, 'forms') }}
                                </a>
                            {% endif %}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {% if
                                filters.sortBy == 'times'
                                    and filters.orderBy == 'desc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            orderBy: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Times'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% elseif
                                filters.sortBy == 'times'
                                    and filters.orderBy == 'asc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            orderBy: 'desc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Times'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-up"></i>
                            {% elseif filters.sortBy == null %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'times',
                                            orderBy: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Times'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% else %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'times',
                                            orderBy: 'desc'
                                        })
                                    )
                                    }}">
                                    {{ 'Times'|trans({}, 'forms') }}
                                </a>
                            {% endif %}
                        </th>
                        <th>
                            {% if
                                filters.sortBy == 'age'
                                    or filters.sortBy == 'gender' %}
                                {% if filters.orderBy == 'desc' %}
                                    <a href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                orderBy: 'asc'
                                            })
                                        )
                                        }}">
                                        {{ 'Dem.'|trans({}, 'forms') }}
                                    </a>
                                    <i class="bi bi-chevron-double-down"></i>
                                {% else %}
                                    <a href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                orderBy: 'desc'
                                            })
                                        )
                                        }}">
                                        {{ 'Dem.'|trans({}, 'forms') }}
                                    </a>
                                    <i class="bi bi-chevron-double-up"></i>
                                {% endif %}
                            {% else %}
                                {{ 'Dem.'|trans({}, 'forms') }}
                            {% endif %}
                        </th>
                        <th>
                            {% if
                                filters.sortBy == 'urgency'
                                    and filters.orderBy == 'desc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            orderBy: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Urgency'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% elseif
                                filters.sortBy == 'urgency'
                                    and filters.orderBy == 'asc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            orderBy: 'desc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Urgency'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-up"></i>
                            {% else %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'urgency',
                                            orderBy: 'desc'
                                        })
                                    )
                                    }}">
                                    {{ 'Urgency'|trans({}, 'forms') }}
                                </a>
                            {% endif %}
                        </th>
                        <th>
                            {{ 'Dispatch'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Properties'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in allocations %}
                        <tr>
                            <td>
                                <a href="{{
                                    path(
                                        'app_allocation_show',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-search"></i><br />
                                    <small>
                                        {{ 'View'|trans({}, 'forms') }}
                                    </small>
                                </a>
                            </td>
                            <td>
                                {{
                                    allocation.dispatchArea|replace({
                                        Leitstelle: ''
                                    })
                                }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_hospital_show',
                                        {
                                            id: allocation.hospital.id
                                        }
                                    )
                                    }}">
                                    {{ allocation.hospital.name }}
                                </a>
                            </td>
                            <td>
                                <p>
                                    {{
                                        allocation.createdAt|date(
                                            'd.m.y H:i',
                                            'Europe/Berlin'
                                        )
                                    }}<br />
                                    {{
                                        allocation.arrivalAt|date(
                                            'd.m.y H:i',
                                            'Europe/Berlin'
                                        )
                                    }}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{ allocation.gender }}<br />
                                    {{ allocation.age }}
                                </p>
                            </td>
                            <td>
                                {% if allocation.SK == '1' %}
                                    <p class="text-danger fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% elseif allocation.SK == '2' %}
                                    <p class="text-warning fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% else %}
                                    <p class="text-success fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% endif %}
                            </td>
                            <td>
                                <p>
                                    <strong>{{ allocation.speciality }}</strong><br />
                                    {{ allocation.PZCText }}
                                </p>
                            </td>
                            <td>
                                <span class="text-danger fw-bold">
                                    {% if allocation.requiresResus %}
                                        {{ 'S+'|trans }}
                                    {% endif %}
                                    {% if allocation.requiresCathlab %}
                                        {{ 'H+'|trans }}
                                    {% endif %}
                                    {% if allocation.isCPR %}
                                        {{ 'R+'|trans }}
                                    {% endif %}
                                    {% if allocation.isVentilated %}
                                        {{ 'B+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWithPhysician %}
                                        {{ 'N+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWorkAccident %}
                                        {{ 'BG+'|trans }}
                                    {% endif %}
                                    {% if allocation.isPregnant %}
                                        {{ 'Pregnant'|trans }}
                                    {% endif %}
                                </span><br />
                                <span class="text-warning">
                                    {% if allocation.isInfectious == 'Keine' %}

                                    {% else %}
                                        {{ allocation.isInfectious }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">
                                {{ 'No Allocations found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_hospital_index') }}
                </div>
            </div>
        </div>
        <div class="col-3 collapse" id="collapseFilters">
            <div class="card mb-3">
                <div class="card-header">
                    <i class="bi bi-funnel"></i>
                    {{ 'Filters'|trans({}, 'forms') }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Search'|trans }}
                    </h5>

                    {{ filter.search(filters.search) }}

                    <h5 class="card-title">
                        {{ 'Filter by SupplyArea'|trans }}
                    </h5>
                    <p>
                        {{
                            filter.tagFilter(
                                supplyAreas,
                                'supplyArea',
                                filters.supplyArea,
                                'No SupplyAreas found'
                            )
                        }}
                    </p>

                    <h5 class="card-title">
                        {{ 'Filter by DispatchArea'|trans }}
                    </h5>
                    <p>
                        {{
                            filter.tagFilter(
                                dispatchAreas,
                                'dispatchArea',
                                filters.dispatchArea,
                                'No DispatchArea found'
                            )
                        }}
                    </p>

                    {% if is_granted('ROLE_ADMIN') %}
                        <h5 class="card-title">
                            {{ 'Filter by Hospital'|trans }}
                        </h5>
                        <p class="mb-2">
                            {% for hospital in hospitals %}
                                {% if hospital.id == filters.hospital %}
                                    <span class="badge bg-primary">
                                        <i class="bi bi-tag-fill"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_allocation_index',
                                                app.request.query.all|merge({
                                                    hospital: '',
                                                    page: 1
                                                })
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="badge bg-secondary">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_allocation_index',
                                                app.request.query.all|merge({
                                                    hospital: hospital.id,
                                                    page: 1
                                                })
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </span>
                                {% endif %}
                            {% else %}
                                {{ 'No Hospitals found'|trans }}
                            {% endfor %}
                        </p>
                    {% elseif app.user.hospital %}
                        <h5 class="card-title">
                            {{ 'Filter by Hospital'|trans }}
                        </h5>
                        <p class="mb-2">
                            {% if app.user.hospital.id == filters.hospital %}
                                <span class="badge bg-primary">
                                    <i class="bi bi-tag-fill"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                hospital: '',
                                                page: 1
                                            })
                                        )
                                        }}">
                                        {{ app.user.hospital.name }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="badge bg-secondary">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                hospital: app.user.hospital.id,
                                                page: 1
                                            })
                                        )
                                        }}">
                                        {{ app.user.hospital.name }}
                                    </a>
                                </span>
                            {% endif %}
                        </p>
                    {% endif %}

                    <h5 class="card-title">
                        {{ 'Filter by Dates'|trans }}
                    </h5>
                    <form>
                        <div class="input-group mb-3">
                            <input type="date"
                                name="start"
                                class="form-control"
                                value="{{ filters.startDate }}"
                                aria-label="{{ 'Start Date'|trans }}" />
                            <input type="date"
                                name="end"
                                class="form-control"
                                value="{{ filters.endDate }}"
                                aria-label="{{ 'End Date'|trans }}" />
                        </div>

                        <h5 class="card-title">
                            {{ 'Filter by Properties'|trans }}
                        </h5>
                        <p>
                            <select class="form-select"
                                name="pzc"
                                aria-label="filterPZC">
                                {% if filters.pzc == null %}
                                    <option value="" selected>
                                        {{ 'Filter by PZC'|trans({}, 'forms') }}
                                    </option>
                                {% else %}
                                    <option value="">
                                        {{
                                            'Stop filtering by PZC'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% endif %}
                                {% for item in PZCs %}
                                    {% if item.PZC == filters.pzc %}
                                        <option value="{{ item.PZC }}" selected>
                                            {{ item.PZC }}
                                            {{ item.PZCText }}
                                        </option>
                                    {% elseif
                                        item.PZC == 0 or item.PZCText == null %}
                                        <!-- empty -->
                                    {% else %}
                                        <option value="{{ item.PZC }}">
                                            {{ item.PZC }}
                                            {{ item.PZCText }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>

                        <p>
                            <select class="form-select"
                                name="urgency"
                                aria-label="filterUrgency">
                                {% if filters.urgency == null %}
                                    <option value="" selected>
                                        {{
                                            'Filter by Urgency'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% else %}
                                    <option value="">
                                        {{
                                            'Stop filtering by Urgency'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% endif %}
                                {% for item in urgencies %}
                                    {% if
                                        item.urgency == filters.urgency
                                            and item.urgency != '' %}
                                        <option value="{{ item.urgency|url_encode }}"
                                            selected>
                                            {{ item.urgency }}
                                        </option>
                                    {% elseif
                                        item.urgency == 'SK'
                                            or item.urgency == null %}
                                        <!-- empty -->
                                    {% else %}
                                        <option value="{{ item.urgency|url_encode }}">
                                            {{ item.urgency }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>

                        <p>
                            <select class="form-select"
                                name="assignment"
                                aria-label="filterAssignment">
                                {% if filters.assignment == null %}
                                    <option value="" selected>
                                        {{
                                            'Filter by Assignment'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% else %}
                                    <option value="">
                                        {{
                                            'Stop filtering by Assignment'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% endif %}
                                {% for item in assignments %}
                                    {% if
                                        item.assignment == filters.assignment
                                            and item.assignment != '' %}
                                        <option value="{{ item.assignment|url_encode }}"
                                            selected>
                                            {{ item.assignment }}
                                        </option>
                                    {% elseif
                                        item.assignment == 0
                                            or item.assignment == null %}
                                        <!-- empty -->
                                    {% else %}
                                        <option value="{{ item.assignment|url_encode }}">
                                            {{ item.assignment }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                        <p>
                            <select class="form-select"
                                name="occasion"
                                aria-label="filterOccasion">
                                {% if filters.occasion == null %}
                                    <option value="" selected>
                                        {{
                                            'Filter by Occasion'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% else %}
                                    <option value="">
                                        {{
                                            'Stop filtering by Occasion'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% endif %}
                                {% for item in occasions %}
                                    {% if
                                        item.occasion == filters.occasion
                                            and item.occasion != '' %}
                                        <option value="{{ item.occasion|url_encode }}"
                                            selected>
                                            {{ item.occasion }}
                                        </option>
                                    {% elseif
                                        item.occasion == ''
                                            or item.occasion == null %}
                                        <!-- empty -->
                                    {% else %}
                                        <option value="{{ item.occasion|url_encode }}">
                                            {{ item.occasion }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>
                        <p>
                            <select class="form-select"
                                name="transport"
                                aria-label="filterTransport">
                                {% if filters.modeOfTransport == null %}
                                    <option value="" selected>
                                        {{
                                            'Filter by mode of Transport'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% else %}
                                    <option value="">
                                        {{
                                            'Stop filtering by mode of Transport'|trans(
                                                {},
                                                'forms'
                                            )
                                        }}
                                    </option>
                                {% endif %}
                                {% for item in transports %}
                                    {% if
                                        item.modeOfTransport
                                            == filters.modeOfTransport
                                            and item.modeOfTransport != '' %}
                                        <option value="{{ item.modeOfTransport|url_encode }}"
                                            selected>
                                            {{ item.modeOfTransport }}
                                        </option>
                                    {% elseif
                                        item.modeOfTransport == ''
                                            or item.modeOfTransport == null %}
                                        <!-- empty -->
                                    {% else %}
                                        <option value="{{ item.modeOfTransport|url_encode }}">
                                            {{ item.modeOfTransport }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>

                        <div class="form-check form-switch">
                            {% if filters.reqResus %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqResus"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqResus" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Requires Resuscitation'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.reqCath %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqCath"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqCath" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Requires Cathlab'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isCPR %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isCPR"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isCPR" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is CPR'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isVent %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isVent"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isVent" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is Ventilated'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isShock %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isShock"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isShock" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is Shock'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isWithDoc %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWithDoc"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWithDoc" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is with Physician'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isPreg %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isPreg"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isPreg" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is Pregnant'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isWork %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWork"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWork" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is Work Accident'|trans }}
                            </label>
                        </div>

                        {% if filters.sortBy %}
                            <input type="hidden"
                                id="sortBy"
                                name="sortBy"
                                value="{{ filters.sortBy }}" />
                        {% endif %}
                        {% if filters.orderBy %}
                            <input type="hidden"
                                id="orderBy"
                                name="orderBy"
                                value="{{ filters.orderBy }}" />
                        {% endif %}

                        <div class="float-end">
                            <button type="submit"
                                class="btn btn-outline-primary">
                                {{ 'Apply filters'|trans({}, 'forms') }}
                                <i class="bi bi-arrow-right-square"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="bi bi-sort-down"></i> {{ 'Sorting'|trans }}
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-floating mb-2">
                            <select id="sortBy"
                                name="sortBy"
                                class="form-select"
                                aria-label="sortBy">
                                {% if filters.sortBy == 'time' %}
                                    <option value="time" selected="selected">
                                        {{ 'Time'|trans }}
                                    </option>
                                {% else %}
                                    <option value="time">
                                        {{ 'Time'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'urgency' %}
                                    <option value="urgency" selected="selected">
                                        {{ 'Urgency'|trans }}
                                    </option>
                                {% else %}
                                    <option value="urgency">
                                        {{ 'Urgency'|trans }}
                                    </option>
                                {% endif %}

                                {% if filters.sortBy == 'dispatchArea' %}
                                    <option value="dispatchArea"
                                        selected="selected">
                                        {{ 'DispatchArea'|trans }}
                                    </option>
                                {% else %}
                                    <option value="dispatchArea">
                                        {{ 'DispatchArea'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'age' %}
                                    <option value="age" selected="selected">
                                        {{ 'Age'|trans }}
                                    </option>
                                {% else %}
                                    <option value="age">
                                        {{ 'Age'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'gender' %}
                                    <option value="gender" selected="selected">
                                        {{ 'Gender'|trans }}
                                    </option>
                                {% else %}
                                    <option value="gender">
                                        {{ 'Gender'|trans }}
                                    </option>
                                {% endif %}
                            </select>
                            <label for="sortBy">
                                {{ 'Sort by'|trans({}, 'forms') }}
                            </label>
                        </div>
                        <div class="form-floating mb-2">
                            <select id="orderBy"
                                name="orderBy"
                                class="form-select"
                                aria-label="sortorder">
                                {% if filters.orderBy == 'asc' %}
                                    <option value="asc" selected="selected">
                                        {{ 'Ascending'|trans }}
                                    </option>
                                {% else %}
                                    <option value="asc">
                                        {{ 'Ascending'|trans }}
                                    </option>
                                {% endif %}

                                {% if filters.orderBy == 'desc' %}
                                    <option value="desc" selected="selected">
                                        {{ 'Descending'|trans }}
                                    </option>
                                {% else %}
                                    <option value="desc">
                                        {{ 'Descending'|trans }}
                                    </option>
                                {% endif %}
                            </select>
                            <label for="sortorder">
                                {{ 'Order by'|trans({}, 'forms') }}
                            </label>
                        </div>

                        {% if filters.search %}
                            <input type="hidden"
                                id="search"
                                name="search"
                                value="{{ filters.search }}" />
                        {% endif %}
                        {% if filters.hospital %}
                            <input type="hidden"
                                id="hospital"
                                name="hospital"
                                value="{{ filters.hospital }}" />
                        {% endif %}
                        {% if filters.supplyArea %}
                            <input type="hidden"
                                id="supplyArea"
                                name="supplyArea"
                                value="{{ filters.supplyArea }}" />
                        {% endif %}
                        {% if filters.dispatchArea %}
                            <input type="hidden"
                                id="dispatchArea"
                                name="dispatchArea"
                                value="{{ filters.dispatchArea }}" />
                        {% endif %}
                        {% if filters.startDate %}
                            <input type="hidden"
                                id="startDate"
                                name="startDate"
                                value="{{ filters.startDate }}" />
                        {% endif %}
                        {% if filters.endDate %}
                            <input type="hidden"
                                id="endDate"
                                name="endDate"
                                value="{{ filters.endDate }}" />
                        {% endif %}
                        {% if filters.pzc %}
                            <input type="hidden"
                                id="pzc"
                                name="pzc"
                                value="{{ filters.pzc }}" />
                        {% endif %}
                        {% if filters.reqResus %}
                            <input type="hidden"
                                id="reqResus"
                                name="reqResus"
                                value="{{ filters.reqResus }}" />
                        {% endif %}
                        {% if filters.reqCath %}
                            <input type="hidden"
                                id="reqCath"
                                name="reqCath"
                                value="{{ filters.reqCath }}" />
                        {% endif %}
                        {% if filters.isCPR %}
                            <input type="hidden"
                                id="isCPR"
                                name="isCPR"
                                value="{{ filters.isCPR }}" />
                        {% endif %}
                        {% if filters.isVent %}
                            <input type="hidden"
                                id="isVent"
                                name="isVent"
                                value="{{ filters.isVent }}" />
                        {% endif %}
                        {% if filters.isShock %}
                            <input type="hidden"
                                id="isShock"
                                name="isShock"
                                value="{{ filters.isShock }}" />
                        {% endif %}
                        {% if filters.isWithDoc %}
                            <input type="hidden"
                                id="isWithDoc"
                                name="isWithDoc"
                                value="{{ filters.isWithDoc }}" />
                        {% endif %}
                        {% if filters.isPreg %}
                            <input type="hidden"
                                id="isPreg"
                                name="isPreg"
                                value="{{ filters.isPreg }}" />
                        {% endif %}
                        {% if filters.isWork %}
                            <input type="hidden"
                                id="isWork"
                                name="isWork"
                                value="{{ filters.isWork }}" />
                        {% endif %}

                        <div class="float-end">
                            <button type="submit"
                                class="btn btn-outline-primary">
                                {{ 'Sort allocations'|trans }}
                                <i class="bi bi-arrow-right-square"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
