{% extends 'base-wide.html.twig' %}

{% block title %}{{ parent() }} - Allocations{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('allocations') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('allocations') }}
{% endblock %}

{% block body %}
    <h1>Allocations</h1>

    <div id="app"></div>
{% endblock %}
