{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Allocations'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Allocations'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('allocation_index') }}">
                Current Version
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                Preview new Version
            </a>
        </li>
    </ul>

    <div class="row">
        <div class="col">
            <h1>
                {{ 'Allocations'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Allocations'|trans({
                        '%perPage%': perPage,
                        '%count%': allocations.count
                    })
                }}
            </p>

            {% if search %}
                <div class="alert alert-info" role="alert">
                    {{ 'Searching for'|trans }}: "<i>{{ search }}</i>" | <a href="{{
                        path(
                            'app_allocation_index',
                            app.request.query.all|merge({
                                search: '',
                                offset: '0'
                            })
                        )
                        }}">
                        {{ 'Click here to end search'|trans }}
                    </a>
                </div>
            {% endif %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            {{ 'Dispatch Area'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Times'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Dem.'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Urgency'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Dispatch'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Properties'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in allocations %}
                        <tr>
                            <td>
                                <a href="{{
                                    path(
                                        'allocation_show',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-search"></i>
                                </a>
                            </td>
                            <td>
                                {{ allocation.dispatchArea }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_hospital_show',
                                        {
                                            id: allocation.hospital
                                        }
                                    )
                                    }}">
                                    {{ allocation.hospital.name }}
                                </a>
                            </td>
                            <td>
                                <p>
                                    {{ allocation.createdAt|date('d.m.y H:i') }}<br />
                                    {{ allocation.arrivalAt|date('d.m.y H:i') }}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{ allocation.gender }}<br />
                                    {{ allocation.age }}
                                </p>
                            </td>
                            <td>
                                {% if allocation.SK == '1' %}
                                    <p class="text-danger text-center fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% elseif allocation.SK == '2' %}
                                    <p class="text-warning text-center fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% else %}
                                    <p class="text-success text-center fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% endif %}
                            </td>
                            <td>
                                <p>
                                    <strong>{{ allocation.speciality }}</strong><br />
                                    {{ allocation.PZCText }}
                                </p>
                            </td>
                            <td>
                                <span class="text-danger">
                                    {% if allocation.requiresResus %}
                                        {{ 'S+'|trans }}
                                    {% endif %}
                                    {% if allocation.requiresCathlab %}
                                        {{ 'H+'|trans }}
                                    {% endif %}
                                    {% if allocation.isCPR %}
                                        {{ 'R+'|trans }}
                                    {% endif %}
                                    {% if allocation.isVentilated %}
                                        {{ 'B+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWithPhysician %}
                                        {{ 'N+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWorkAccident %}
                                        {{ 'BG+'|trans }}
                                    {% endif %}
                                    {% if allocation.isPregnant %}
                                        {{ 'Pregnant'|trans }}
                                    {% endif %}
                                </span><br />
                                <span class="text-warning">
                                    {% if allocation.isInfectious == 'Keine' %}

                                    {% else %}
                                        {{ allocation.isInfectious }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                {{ 'No Allocations found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if (allocations|length) > 0 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if previous >= 0 %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            offset: previous
                                        })
                                    )
                                    }}">
                                    {{ 'Previous'|trans }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"
                                    href="#"
                                    tabindex="-1"
                                    aria-disabled="true">
                                    {{ 'Previous'|trans }}
                                </a>
                            </li>
                        {% endif %}
                        {% if next < (allocations|length) %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            offset: next
                                        })
                                    )
                                    }}">
                                    {{ 'Next'|trans }}
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"
                                    href="#"
                                    tabindex="-1"
                                    aria-disabled="true">
                                    {{ 'Next'|trans }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    {{ 'Filters'|trans({}, 'forms') }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Search'|trans }}
                    </h5>
                    <form>
                        <div class="input-group mb-3">
                            {% if search %}
                                <input type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ search }}"
                                    aria-label="{{ 'Search'|trans }}" />
                            {% else %}
                                <input type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'Search...'|trans }}"
                                    aria-label="{{ 'Search'|trans }}" />
                            {% endif %}
                            <button type="submit"
                                class="btn btn-outline-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>

                    <h5 class="card-title">
                        {{ 'Filter by SupplyArea'|trans }}
                    </h5>
                    <p>
                        {% for supplyArea in supplyAreas %}
                            {% if supplyArea.supplyArea == filters.supplyArea %}
                                <span class="badge bg-warning">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                supplyArea: '',
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ supplyArea.supplyArea }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="badge bg-primary">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                supplyArea: supplyArea.supplyArea,
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ supplyArea.supplyArea }}
                                    </a>
                                </span>
                            {% endif %}
                        {% else %}
                            {{ 'No SupplyAreas found'|trans }}
                        {% endfor %}
                    </p>

                    <h5 class="card-title">
                        {{ 'Filter by DispatchArea'|trans }}
                    </h5>
                    <p>
                        {% for dispatchArea in dispatchAreas %}
                            {% if
                                dispatchArea.dispatchArea
                                    == filters.dispatchArea %}
                                <span class="badge bg-warning">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                dispatchArea: '',
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ dispatchArea.dispatchArea }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="badge bg-primary">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                dispatchArea: dispatchArea.dispatchArea,
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ dispatchArea.dispatchArea }}
                                    </a>
                                </span>
                            {% endif %}
                        {% else %}
                            {{ 'No DispatchAreas found'|trans }}
                        {% endfor %}
                    </p>

                    <h5 class="card-title">
                        {{ 'Filter by Hospital'|trans }}
                    </h5>
                    <p class="mb-2">
                        {% for hospital in hospitals %}
                            {% if hospital.id == filters.hospital %}
                                <span class="badge bg-warning">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                hospital: '',
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ hospital.name }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="badge bg-primary">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                hospital: hospital.id,
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ hospital.name }}
                                    </a>
                                </span>
                            {% endif %}
                        {% else %}
                            {{ 'No Hospitals found'|trans }}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
