{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Allocations'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Allocations'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="float-end">
                <a class="btn btn-primary"
                    data-bs-toggle="collapse"
                    href="#collapseFilters"
                    role="button"
                    aria-expanded="true"
                    aria-controls="collapseFilters">
                    <i class="bi bi-funnel"></i> {{ 'Toogle Options'|trans }}
                </a>
            </div>

            <h1>
                {{ 'Allocations'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Allocations'|trans({
                        '%perPage%': perPage,
                        '%count%': allocations.count
                    })
                }}
            </p>

            {% if search %}
                <div class="alert alert-info" role="alert">
                    {{ 'Searching for'|trans }}: "<i>{{ search }}</i>" | <a href="{{
                        path(
                            'app_allocation_index',
                            app.request.query.all|merge({
                                search: '',
                                offset: '0'
                            })
                        )
                        }}">
                        {{ 'Click here to end search'|trans }}
                    </a>
                </div>
            {% endif %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            {% if
                                filters.sortBy == 'dispatchArea'
                                    and filters.order == 'desc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            order: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>
                                        {{ 'Dispatch Area'|trans({}, 'forms') }}
                                    </em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% elseif
                                filters.sortBy == 'dispatchArea'
                                    and filters.order == 'asc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            order: 'desc'
                                        })
                                    )
                                    }}">
                                    <em>
                                        {{ 'Dispatch Area'|trans({}, 'forms') }}
                                    </em>
                                </a>

                                <i class="bi bi-chevron-double-up"></i>
                            {% else %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'dispatchArea',
                                            order: 'desc'
                                        })
                                    )
                                    }}">
                                    {{ 'Dispatch Area'|trans({}, 'forms') }}
                                </a>
                            {% endif %}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {% if
                                filters.sortBy == 'times'
                                    and filters.order == 'desc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            order: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Times'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% elseif
                                filters.sortBy == 'times'
                                    and filters.order == 'asc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            order: 'desc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Times'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-up"></i>
                            {% elseif filters.sortBy == null %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'times',
                                            order: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Times'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% else %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'times',
                                            order: 'desc'
                                        })
                                    )
                                    }}">
                                    {{ 'Times'|trans({}, 'forms') }}
                                </a>
                            {% endif %}
                        </th>
                        <th>
                            {% if
                                filters.sortBy == 'age'
                                    or filters.sortBy == 'gender' %}
                                {% if filters.order == 'desc' %}
                                    <a href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                order: 'asc'
                                            })
                                        )
                                        }}">
                                        {{ 'Dem.'|trans({}, 'forms') }}
                                    </a>
                                    <i class="bi bi-chevron-double-down"></i>
                                {% else %}
                                    <a href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                order: 'desc'
                                            })
                                        )
                                        }}">
                                        {{ 'Dem.'|trans({}, 'forms') }}
                                    </a>
                                    <i class="bi bi-chevron-double-up"></i>
                                {% endif %}
                            {% else %}
                                {{ 'Dem.'|trans({}, 'forms') }}
                            {% endif %}
                        </th>
                        <th>
                            {% if
                                filters.sortBy == 'urgency'
                                    and filters.order == 'desc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            order: 'asc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Urgency'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-down"></i>
                            {% elseif
                                filters.sortBy == 'urgency'
                                    and filters.order == 'asc' %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            order: 'desc'
                                        })
                                    )
                                    }}">
                                    <em>{{ 'Urgency'|trans({}, 'forms') }}</em>
                                </a>

                                <i class="bi bi-chevron-double-up"></i>
                            {% else %}
                                <a href="{{
                                    path(
                                        'app_allocation_index',
                                        app.request.query.all|merge({
                                            sortBy: 'urgency',
                                            order: 'desc'
                                        })
                                    )
                                    }}">
                                    {{ 'Urgency'|trans({}, 'forms') }}
                                </a>
                            {% endif %}
                        </th>
                        <th>
                            {{ 'Dispatch'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Properties'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in allocations %}
                        <tr>
                            <td>
                                <a href="{{
                                    path(
                                        'app_allocation_show',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-search"></i>
                                </a>
                            </td>
                            <td>
                                {{
                                    allocation.dispatchArea|replace({
                                        Leitstelle: ''
                                    })
                                }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_hospital_show',
                                        {
                                            id: allocation.hospital.id
                                        }
                                    )
                                    }}">
                                    {{ allocation.hospital.name }}
                                </a>
                            </td>
                            <td>
                                <p>
                                    {{
                                        allocation.createdAt|date(
                                            'd.m.y H:i',
                                            'Europe/Berlin'
                                        )
                                    }}<br />
                                    {{
                                        allocation.arrivalAt|date(
                                            'd.m.y H:i',
                                            'Europe/Berlin'
                                        )
                                    }}
                                </p>
                            </td>
                            <td>
                                <p>
                                    {{ allocation.gender }}<br />
                                    {{ allocation.age }}
                                </p>
                            </td>
                            <td>
                                {% if allocation.SK == '1' %}
                                    <p class="text-danger fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% elseif allocation.SK == '2' %}
                                    <p class="text-warning fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% else %}
                                    <p class="text-success fw-bold">
                                        {{ allocation.SK }}
                                    </p>
                                {% endif %}
                            </td>
                            <td>
                                <p>
                                    <strong>{{ allocation.speciality }}</strong><br />
                                    {{ allocation.PZCText }}
                                </p>
                            </td>
                            <td>
                                <span class="text-danger">
                                    {% if allocation.requiresResus %}
                                        {{ 'S+'|trans }}
                                    {% endif %}
                                    {% if allocation.requiresCathlab %}
                                        {{ 'H+'|trans }}
                                    {% endif %}
                                    {% if allocation.isCPR %}
                                        {{ 'R+'|trans }}
                                    {% endif %}
                                    {% if allocation.isVentilated %}
                                        {{ 'B+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWithPhysician %}
                                        {{ 'N+'|trans }}
                                    {% endif %}
                                    {% if allocation.isWorkAccident %}
                                        {{ 'BG+'|trans }}
                                    {% endif %}
                                    {% if allocation.isPregnant %}
                                        {{ 'Pregnant'|trans }}
                                    {% endif %}
                                </span><br />
                                <span class="text-warning">
                                    {% if allocation.isInfectious == 'Keine' %}

                                    {% else %}
                                        {{ allocation.isInfectious }}
                                    {% endif %}
                                </span>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8">
                                {{ 'No Allocations found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p>
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': currentPage,
                                '%pages%': pages
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {% if (allocations|length) > 0 %}
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                {% if previous >= 0 %}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="{{
                                            path(
                                                'app_allocation_index',
                                                app.request.query.all|merge({
                                                    offset: 0,
                                                    page: null
                                                })
                                            )
                                            }}">
                                            <i class="bi bi-chevron-bar-left">

                                            </i>
                                            {{ 'First'|trans }}
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="{{
                                            path(
                                                'app_allocation_index',
                                                app.request.query.all|merge({
                                                    offset: previous,
                                                    page: null
                                                })
                                            )
                                            }}">
                                            {{ 'Previous'|trans }}
                                        </a>
                                    </li>
                                    {% if previous >= 10 %}
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="{{
                                                path(
                                                    'app_allocation_index',
                                                    app.request.query.all|merge({
                                                        offset: previous - 10,
                                                        page: null
                                                    })
                                                )
                                                }}">
                                                {{ currentPage - 2 }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li class="page-item">
                                        <a class="page-link"
                                            href="{{
                                            path(
                                                'app_allocation_index',
                                                app.request.query.all|merge({
                                                    offset: previous,
                                                    page: null
                                                })
                                            )
                                            }}">
                                            {{ currentPage - 1 }}
                                        </a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link"
                                            href="#"
                                            tabindex="-1"
                                            aria-disabled="true">
                                            <i class="bi bi-chevron-bar-left">

                                            </i>
                                            {{ 'First'|trans }}
                                        </a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link"
                                            href="#"
                                            tabindex="-1"
                                            aria-disabled="true">
                                            {{ 'Previous'|trans }}
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="page-item active">
                                    <a class="page-link" href="#" tabindex="-1">
                                        {{ currentPage }}
                                    </a>
                                </li>
                                {% if next <= (allocations|length) %}
                                    {% if currentPage != pages %}
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="{{
                                                path(
                                                    'app_allocation_index',
                                                    app.request.query.all|merge({
                                                        offset: next,
                                                        page: null
                                                    })
                                                )
                                                }}">
                                                {{ currentPage + 1 }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if next + 10 < (allocations|length) %}
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="{{
                                                path(
                                                    'app_allocation_index',
                                                    app.request.query.all|merge({
                                                        offset: next + 10,
                                                        page: null
                                                    })
                                                )
                                                }}">
                                                {{ currentPage + 2 }}
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if currentPage != pages %}
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="{{
                                                path(
                                                    'app_allocation_index',
                                                    app.request.query.all|merge({
                                                        offset: next,
                                                        page: null
                                                    })
                                                )
                                                }}">
                                                {{ 'Next'|trans }}
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                                href="{{
                                                path(
                                                    'app_allocation_index',
                                                    app.request.query.all|merge({
                                                        offset: last,
                                                        page: null
                                                    })
                                                )
                                                }}">
                                                {{ 'Last'|trans }}
                                                <i class="bi bi-chevron-bar-right">

                                                </i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link"
                                                href="#"
                                                tabindex="-1"
                                                aria-disabled="true">
                                                {{ 'Next'|trans }}
                                            </a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link"
                                                href="#"
                                                tabindex="-1"
                                                aria-disabled="true">
                                                {{ 'Last'|trans }}
                                                <i class="bi bi-chevron-bar-right">

                                                </i>
                                            </a>
                                        </li>
                                    {% endif %}
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link"
                                            href="#"
                                            tabindex="-1"
                                            aria-disabled="true">
                                            {{ 'Next'|trans }}
                                        </a>
                                    </li>
                                    <li class="page-item disabled">
                                        <a class="page-link"
                                            href="#"
                                            tabindex="-1"
                                            aria-disabled="true">
                                            {{ 'Last'|trans }}
                                            <i class="bi bi-chevron-bar-right">

                                            </i>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
                <div class="col-2">
                    <form>
                        <div class="input-group mb-3">
                            <input type="text"
                                name="page"
                                class="form-control"
                                placeholder="{{ 'Go to Page'|trans }}"
                                aria-label="{{ 'Go to Page'|trans }}" />

                            {% if filters.hospital %}
                                <input type="hidden"
                                    id="hospital"
                                    name="hospital"
                                    value="{{ filters.hospital }}" />
                            {% endif %}
                            {% if filters.supplyArea %}
                                <input type="hidden"
                                    id="supplyArea"
                                    name="supplyArea"
                                    value="{{ filters.supplyArea }}" />
                            {% endif %}
                            {% if filters.dispatchArea %}
                                <input type="hidden"
                                    id="dispatchArea"
                                    name="dispatchArea"
                                    value="{{ filters.dispatchArea }}" />
                            {% endif %}
                            {% if filters.start %}
                                <input type="hidden"
                                    id="start"
                                    name="start"
                                    value="{{ filters.start }}" />
                            {% endif %}
                            {% if filters.end %}
                                <input type="hidden"
                                    id="end"
                                    name="end"
                                    value="{{ filters.end }}" />
                            {% endif %}
                            {% if filters.pzc %}
                                <input type="hidden"
                                    id="pzc"
                                    name="pzc"
                                    value="{{ filters.pzc }}" />
                            {% endif %}
                            {% if filters.reqResus %}
                                <input type="hidden"
                                    id="reqResus"
                                    name="reqResus"
                                    value="{{ filters.reqResus }}" />
                            {% endif %}
                            {% if filters.reqCath %}
                                <input type="hidden"
                                    id="reqCath"
                                    name="reqCath"
                                    value="{{ filters.reqCath }}" />
                            {% endif %}
                            {% if filters.isCPR %}
                                <input type="hidden"
                                    id="isCPR"
                                    name="isCPR"
                                    value="{{ filters.isCPR }}" />
                            {% endif %}
                            {% if filters.isVent %}
                                <input type="hidden"
                                    id="isVent"
                                    name="isVent"
                                    value="{{ filters.isVent }}" />
                            {% endif %}
                            {% if filters.isShock %}
                                <input type="hidden"
                                    id="isShock"
                                    name="isShock"
                                    value="{{ filters.isShock }}" />
                            {% endif %}
                            {% if filters.isWithDoc %}
                                <input type="hidden"
                                    id="isWithDoc"
                                    name="isWithDoc"
                                    value="{{ filters.isWithDoc }}" />
                            {% endif %}
                            {% if filters.isPreg %}
                                <input type="hidden"
                                    id="isPreg"
                                    name="isPreg"
                                    value="{{ filters.isPreg }}" />
                            {% endif %}
                            {% if filters.isWork %}
                                <input type="hidden"
                                    id="isWork"
                                    name="isWork"
                                    value="{{ filters.isWork }}" />
                            {% endif %}
                            {% if filters.sortBy %}
                                <input type="hidden"
                                    id="sortBy"
                                    name="sortBy"
                                    value="{{ filters.sortBy }}" />
                            {% endif %}
                            {% if filters.order %}
                                <input type="hidden"
                                    id="order"
                                    name="order"
                                    value="{{ filters.order }}" />
                            {% endif %}
                            {% if page %}
                                <input type="hidden"
                                    id="page"
                                    name="page"
                                    value="" />
                            {% endif %}

                            <button type="submit"
                                class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-right-circle"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-3 collapse" id="collapseFilters">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Filters'|trans({}, 'forms') }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Search'|trans }}
                    </h5>
                    <form>
                        <div class="input-group mb-3">
                            {% if search %}
                                <input type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ search }}"
                                    aria-label="{{ 'Search'|trans }}" />
                            {% else %}
                                <input type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'Search by PZC or Text'|trans }}"
                                    aria-label="{{ 'Search'|trans }}" />
                            {% endif %}

                            {% if filters.hospital %}
                                <input type="hidden"
                                    id="hospital"
                                    name="hospital"
                                    value="{{ filters.hospital }}" />
                            {% endif %}
                            {% if filters.supplyArea %}
                                <input type="hidden"
                                    id="supplyArea"
                                    name="supplyArea"
                                    value="{{ filters.supplyArea }}" />
                            {% endif %}
                            {% if filters.dispatchArea %}
                                <input type="hidden"
                                    id="dispatchArea"
                                    name="dispatchArea"
                                    value="{{ filters.dispatchArea }}" />
                            {% endif %}
                            {% if filters.start %}
                                <input type="hidden"
                                    id="start"
                                    name="start"
                                    value="{{ filters.start }}" />
                            {% endif %}
                            {% if filters.end %}
                                <input type="hidden"
                                    id="end"
                                    name="end"
                                    value="{{ filters.end }}" />
                            {% endif %}
                            {% if filters.pzc %}
                                <input type="hidden"
                                    id="pzc"
                                    name="pzc"
                                    value="{{ filters.pzc }}" />
                            {% endif %}
                            {% if filters.reqResus %}
                                <input type="hidden"
                                    id="reqResus"
                                    name="reqResus"
                                    value="{{ filters.reqResus }}" />
                            {% endif %}
                            {% if filters.reqCath %}
                                <input type="hidden"
                                    id="reqCath"
                                    name="reqCath"
                                    value="{{ filters.reqCath }}" />
                            {% endif %}
                            {% if filters.isCPR %}
                                <input type="hidden"
                                    id="isCPR"
                                    name="isCPR"
                                    value="{{ filters.isCPR }}" />
                            {% endif %}
                            {% if filters.isVent %}
                                <input type="hidden"
                                    id="isVent"
                                    name="isVent"
                                    value="{{ filters.isVent }}" />
                            {% endif %}
                            {% if filters.isShock %}
                                <input type="hidden"
                                    id="isShock"
                                    name="isShock"
                                    value="{{ filters.isShock }}" />
                            {% endif %}
                            {% if filters.isWithDoc %}
                                <input type="hidden"
                                    id="isWithDoc"
                                    name="isWithDoc"
                                    value="{{ filters.isWithDoc }}" />
                            {% endif %}
                            {% if filters.isPreg %}
                                <input type="hidden"
                                    id="isPreg"
                                    name="isPreg"
                                    value="{{ filters.isPreg }}" />
                            {% endif %}
                            {% if filters.isWork %}
                                <input type="hidden"
                                    id="isWork"
                                    name="isWork"
                                    value="{{ filters.isWork }}" />
                            {% endif %}
                            {% if filters.sortBy %}
                                <input type="hidden"
                                    id="sortBy"
                                    name="sortBy"
                                    value="{{ filters.sortBy }}" />
                            {% endif %}
                            {% if filters.order %}
                                <input type="hidden"
                                    id="order"
                                    name="order"
                                    value="{{ filters.order }}" />
                            {% endif %}
                            {% if page %}
                                <input type="hidden"
                                    id="page"
                                    name="page"
                                    value="" />
                            {% endif %}

                            <button type="submit"
                                class="btn btn-outline-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>

                    <h5 class="card-title">
                        {{ 'Filter by SupplyArea'|trans }}
                    </h5>
                    <p>
                        {% for supplyArea in supplyAreas %}
                            {% if supplyArea.supplyArea == filters.supplyArea %}
                                <span class="badge bg-warning">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                supplyArea: '',
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ supplyArea.supplyArea }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="badge bg-primary">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                supplyArea: supplyArea.supplyArea,
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ supplyArea.supplyArea }}
                                    </a>
                                </span>
                            {% endif %}
                        {% else %}
                            {{ 'No SupplyAreas found'|trans }}
                        {% endfor %}
                    </p>

                    <h5 class="card-title">
                        {{ 'Filter by DispatchArea'|trans }}
                    </h5>
                    <p>
                        {% for dispatchArea in dispatchAreas %}
                            {% if
                                dispatchArea.dispatchArea
                                    == filters.dispatchArea %}
                                <span class="badge bg-warning">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                dispatchArea: '',
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{
                                            dispatchArea.dispatchArea|replace({
                                                Leitstelle: ''
                                            })
                                        }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="badge bg-primary">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                dispatchArea: dispatchArea.dispatchArea,
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ dispatchArea.dispatchArea }}
                                    </a>
                                </span>
                            {% endif %}
                        {% else %}
                            {{ 'No DispatchAreas found'|trans }}
                        {% endfor %}
                    </p>

                    {% if is_granted('ROLE_ADMIN') %}
                        <h5 class="card-title">
                            {{ 'Filter by Hospital'|trans }}
                        </h5>
                        <p class="mb-2">
                            {% for hospital in hospitals %}
                                {% if hospital.id == filters.hospital %}
                                    <span class="badge bg-warning">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_allocation_index',
                                                app.request.query.all|merge({
                                                    hospital: '',
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="badge bg-primary">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_allocation_index',
                                                app.request.query.all|merge({
                                                    hospital: hospital.id,
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </span>
                                {% endif %}
                            {% else %}
                                {{ 'No Hospitals found'|trans }}
                            {% endfor %}
                        </p>
                    {% elseif app.user.hospital %}
                        <h5 class="card-title">
                            {{ 'Filter by Hospital'|trans }}
                        </h5>
                        <p class="mb-2">
                            {% if app.user.hospital.id == filters.hospital %}
                                <span class="badge bg-warning">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                hospital: '',
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ app.user.hospital.name }}
                                    </a>
                                </span>
                            {% else %}
                                <span class="badge bg-primary">
                                    <i class="bi bi-tag"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_allocation_index',
                                            app.request.query.all|merge({
                                                hospital: app.user.hospital.id,
                                                offset: '0'
                                            })
                                        )
                                        }}">
                                        {{ app.user.hospital.name }}
                                    </a>
                                </span>
                            {% endif %}
                        </p>
                    {% endif %}

                    <h5 class="card-title">
                        {{ 'Filter by Dates'|trans }}
                    </h5>
                    <form>
                        <div class="input-group mb-3">
                            <input type="date"
                                name="start"
                                class="form-control"
                                value="{{ filters.start }}"
                                aria-label="{{ 'Start Date'|trans }}" />
                            <input type="date"
                                name="end"
                                class="form-control"
                                value="{{ filters.end }}"
                                aria-label="{{ 'End Date'|trans }}" />
                        </div>

                        <h5 class="card-title">
                            {{ 'Filter by Properties'|trans }}
                        </h5>
                        <p>
                            <select class="form-select"
                                name="pzc"
                                aria-label="filterPZC">
                                {% if filters.pzc == null %}
                                    <option selected>
                                        Filter by PZC
                                    </option>
                                {% else %}
                                    <option value="">
                                        Stop filtering by PZC
                                    </option>
                                {% endif %}
                                {% for item in PZCs %}
                                    {% if item.PZC == filters.pzc %}
                                        <option value="{{ item.PZC }}" selected>
                                            {{ item.PZC }}
                                            {{ item.PZCText }}
                                        </option>
                                    {% elseif
                                        item.PZC == 0 or item.PZCText == null %}
                                        <!-- empty -->
                                    {% else %}
                                        <option value="{{ item.PZC }}">
                                            {{ item.PZC }}
                                            {{ item.PZCText }}
                                        </option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </p>

                        <div class="form-check form-switch">
                            {% if filters.reqResus %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqResus"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqResus" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Requires Resuscitation'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.reqCath %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqCath"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="reqCath" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Requires Cathlab'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isCPR %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isCPR"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isCPR" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is CPR'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isVent %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isVent"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isVent" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is Ventilated'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isShock %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isShock"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isShock" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is Shock'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isWithDoc %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWithDoc"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWithDoc" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is with Physician'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isPreg %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isPreg"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isPreg" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is with Pregnant'|trans }}
                            </label>
                        </div>
                        <div class="form-check form-switch">
                            {% if filters.isWork %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWork"
                                    checked="checked" />
                            {% else %}
                                <input class="form-check-input"
                                    type="checkbox"
                                    name="isWork" />
                            {% endif %}
                            <label class="form-check-label"
                                for="flexSwitchCheckDefault">
                                {{ 'Is Work Accident'|trans }}
                            </label>
                        </div>

                        {% if filters.sortBy %}
                            <input type="hidden"
                                id="sortBy"
                                name="sortBy"
                                value="{{ filters.sortBy }}" />
                        {% endif %}
                        {% if filters.order %}
                            <input type="hidden"
                                id="order"
                                name="order"
                                value="{{ filters.order }}" />
                        {% endif %}

                        <div class="float-end">
                            <button type="submit"
                                class="btn btn-outline-secondary">
                                Apply filters <i class="bi bi-arrow-right-square"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    Sorting
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-floating mb-2">
                            <select id="sortBy"
                                name="sortBy"
                                class="form-select"
                                aria-label="sortBy">
                                {% if filters.sortBy == 'time' %}
                                    <option value="time" selected="selected">
                                        {{ 'Time'|trans }}
                                    </option>
                                {% else %}
                                    <option value="time">
                                        {{ 'Time'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'urgency' %}
                                    <option value="urgency" selected="selected">
                                        {{ 'Urgency'|trans }}
                                    </option>
                                {% else %}
                                    <option value="urgency">
                                        {{ 'Urgency'|trans }}
                                    </option>
                                {% endif %}

                                {% if filters.sortBy == 'dispatchArea' %}
                                    <option value="dispatchArea"
                                        selected="selected">
                                        {{ 'DispatchArea'|trans }}
                                    </option>
                                {% else %}
                                    <option value="dispatchArea">
                                        {{ 'DispatchArea'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'age' %}
                                    <option value="age" selected="selected">
                                        {{ 'Age'|trans }}
                                    </option>
                                {% else %}
                                    <option value="age">
                                        {{ 'Age'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'gender' %}
                                    <option value="gender" selected="selected">
                                        {{ 'Gender'|trans }}
                                    </option>
                                {% else %}
                                    <option value="gender">
                                        {{ 'Gender'|trans }}
                                    </option>
                                {% endif %}
                            </select>
                            <label for="sortBy">Sort by</label>
                        </div>
                        <div class="form-floating mb-2">
                            <select id="order"
                                name="order"
                                class="form-select"
                                aria-label="sortorder">
                                {% if filters.order == 'asc' %}
                                    <option value="asc" selected="selected">
                                        {{ 'Ascending'|trans }}
                                    </option>
                                {% else %}
                                    <option value="asc">
                                        {{ 'Ascending'|trans }}
                                    </option>
                                {% endif %}

                                {% if filters.order == 'desc' %}
                                    <option value="desc" selected="selected">
                                        {{ 'Descending'|trans }}
                                    </option>
                                {% else %}
                                    <option value="desc">
                                        {{ 'Descending'|trans }}
                                    </option>
                                {% endif %}
                            </select>
                            <label for="sortorder">Sort</label>
                        </div>

                        {% if filters.search %}
                            <input type="hidden"
                                id="search"
                                name="search"
                                value="{{ filters.search }}" />
                        {% endif %}
                        {% if filters.hospital %}
                            <input type="hidden"
                                id="hospital"
                                name="hospital"
                                value="{{ filters.hospital }}" />
                        {% endif %}
                        {% if filters.supplyArea %}
                            <input type="hidden"
                                id="supplyArea"
                                name="supplyArea"
                                value="{{ filters.supplyArea }}" />
                        {% endif %}
                        {% if filters.dispatchArea %}
                            <input type="hidden"
                                id="dispatchArea"
                                name="dispatchArea"
                                value="{{ filters.dispatchArea }}" />
                        {% endif %}
                        {% if filters.start %}
                            <input type="hidden"
                                id="start"
                                name="start"
                                value="{{ filters.start }}" />
                        {% endif %}
                        {% if filters.end %}
                            <input type="hidden"
                                id="end"
                                name="end"
                                value="{{ filters.end }}" />
                        {% endif %}
                        {% if filters.pzc %}
                            <input type="hidden"
                                id="pzc"
                                name="pzc"
                                value="{{ filters.pzc }}" />
                        {% endif %}
                        {% if filters.reqResus %}
                            <input type="hidden"
                                id="reqResus"
                                name="reqResus"
                                value="{{ filters.reqResus }}" />
                        {% endif %}
                        {% if filters.reqCath %}
                            <input type="hidden"
                                id="reqCath"
                                name="reqCath"
                                value="{{ filters.reqCath }}" />
                        {% endif %}
                        {% if filters.isCPR %}
                            <input type="hidden"
                                id="isCPR"
                                name="isCPR"
                                value="{{ filters.isCPR }}" />
                        {% endif %}
                        {% if filters.isVent %}
                            <input type="hidden"
                                id="isVent"
                                name="isVent"
                                value="{{ filters.isVent }}" />
                        {% endif %}
                        {% if filters.isShock %}
                            <input type="hidden"
                                id="isShock"
                                name="isShock"
                                value="{{ filters.isShock }}" />
                        {% endif %}
                        {% if filters.isWithDoc %}
                            <input type="hidden"
                                id="isWithDoc"
                                name="isWithDoc"
                                value="{{ filters.isWithDoc }}" />
                        {% endif %}
                        {% if filters.isPreg %}
                            <input type="hidden"
                                id="isPreg"
                                name="isPreg"
                                value="{{ filters.isPreg }}" />
                        {% endif %}
                        {% if filters.isWork %}
                            <input type="hidden"
                                id="isWork"
                                name="isWork"
                                value="{{ filters.isWork }}" />
                        {% endif %}

                        <div class="float-end">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
