{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View Allocation'|trans }}: {{ 'allocations.show.title'|trans }} (#{{ allocation.id }}) - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_allocation_index'),
                            label: 'Allocations'|trans
                        },
                        {
                            label: 'View Allocation'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <h1>
        {{ 'allocations.show.title'|trans }}
        <small class="text-muted">(<i>#{{ allocation.id }}</i>)</small>
    </h1>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'allocations.card.hospital'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'allocations.field.hospital'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-house"></i>
                        <a href="{{
                            path(
                                'app_hospital_show',
                                {
                                    id: allocation.hospital.id
                                }
                            )
                            }}">
                            {{ allocation.hospital }}
                        </a>
                    </p>

                    <h5 class="card-title">
                        {{ 'allocations.fields.area'|trans }}
                    </h5>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.supplyArea'|trans }}
                            </h6>
                            <p>
                                {{ allocation.supplyArea }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.dispatchArea'|trans }}
                            </h6>
                            <p>
                                {{ allocation.dispatchArea }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.speciality'|trans }}
                            </h5>
                            <p>
                                {{ allocation.speciality }}
                            </p>
                        </div>
                        {% if
                            allocation.speciality
                                != allocation.specialityDetail %}
                            <div class="col-6">
                                <h5 class="card-title">
                                    {{
                                        'allocations.field.specialityDetail'|trans
                                    }}
                                </h5>
                                <p>
                                    {{ allocation.specialityDetail }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-title text-muted">
                                {{
                                    'allocations.field.specialityWasClosed'|trans
                                }}
                            </h6>
                            <p {{
                                allocation.specialityWasClosed
                                    ? 'class="text-danger fw-bold"'
                                    : 'class="text-success"'
                                }}>
                                {% if allocation.specialityWasClosed %}
                                    {{
                                        'allocations.field.specialityClosed'|trans
                                    }}
                                {% else %}
                                    {{
                                        'allocations.field.specialityOpen'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-title text-muted">
                                {{ 'allocations.field.handoverPoint'|trans }}
                            </h6>
                            <p>
                                {{ allocation.handoverPoint }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    {{ 'allocations.card.deployment'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'allocations.field.pzc'|trans }}
                    </h5>
                    <div class="row">
                        <div class="col-2">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.SK'|trans }}
                            </h6>
                            {% if allocation.SK == '1' %}
                                <p class="text-danger text-center fw-bold fs-1">
                                    {{ allocation.SK }}
                                </p>
                            {% elseif allocation.SK == '2' %}
                                <p class="text-warning text-center fw-bold fs-1">
                                    {{ allocation.SK }}
                                </p>
                            {% else %}
                                <p class="text-success text-center fw-bold fs-1">
                                    {{ allocation.SK }}
                                </p>
                            {% endif %}
                        </div>
                        <div class="col-10">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.RMIText'|trans }}
                            </h6>
                            <p>
                                {{ allocation.RMI }} {{ allocation.pZCText }}
                            </p>
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.secondaryRMIText'|trans }}
                            </h6>
                            <p class="text-muted">
                                {% if allocation.secondaryPZCText %}
                                    {{ allocation.secondaryPZCText }}
                                {% else %}
                                    {{
                                        'allocations.field.noSecondaryRMI'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.occasion'|trans }}
                            </h6>
                            <p>
                                {{ allocation.occasion }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.assignment'|trans }}
                            </h6>
                            <p>
                                {{ allocation.assignment }}
                            </p>
                        </div>
                    </div>

                    <h5 class="card-title">
                        {{ 'allocations.field.transport'|trans }}
                    </h5>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.modeOfTransport'|trans }}
                            </h6>
                            <p>
                                {{ allocation.modeOfTransport }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.isWithPhysician'|trans }}
                            </h6>
                            <p {{
                                allocation.isWithPhysician
                                    ? 'class="text-danger fw-bold"'
                                    : 'class="text-success"'
                                }}>
                                {% if allocation.isWithPhysician %}
                                    {{
                                        'allocations.field.isWithPhysician.true'|trans
                                    }}
                                {% else %}
                                    {{
                                        'allocations.field.isWithPhysician.false'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <h5 class="card-title"></h5>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.requiresResus'|trans }}
                            </h6>
                            <p {{
                                allocation.requiresResus
                                    ? 'class="text-danger fw-bold"'
                                    : 'class="text-success"'
                                }}>
                                {% if allocation.requiresResus %}
                                    {{
                                        'allocations.field.requiresResus.true'|trans
                                    }}
                                {% else %}
                                    {{
                                        'allocations.field.requiresResus.false'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'allocations.field.requiresCathlab'|trans }}
                            </h6>
                            <p {{
                                allocation.requiresCathlab
                                    ? 'class="text-danger fw-bold"'
                                    : 'class="text-success"'
                                }}>
                                {% if allocation.requiresCathlab %}
                                    {{
                                        'allocations.field.requiresCathlab.true'|trans
                                    }}
                                {% else %}
                                    {{
                                        'allocations.field.requiresCathlab.false'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                    </div>

                    <h6 class="card-title text-muted">
                        {{ 'allocations.field.commentary'|trans }}
                    </h6>
                    <p>
                        <i>
                            {% if allocation.comment %}
                                {{ allocation.comment }}
                            {% else %}
                                {{ 'allocations.field.noCommentary'|trans }}
                            {% endif %}
                        </i>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'allocations.card.timestamps'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'allocations.field.createdAt'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-clock"></i>
                        {{ allocation.creationWeekday }}, {{
                            allocation.createdAt|date(
                                'd.m.Y H:i',
                                'Europe/Berlin'
                            )
                        }}
                    </p>

                    <h5 class="card-title">
                        {{ 'allocations.field.arrivalAt'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-clock-history"></i>
                        {{ allocation.arrivalWeekday }}, {{
                            allocation.arrivalAt|date(
                                'd.m.Y H:i',
                                'Europe/Berlin'
                            )
                        }}
                    </p>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    {{ 'allocations.card.patient'|trans }}
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.age'|trans }}
                            </h5>
                            <p>
                                {{ allocation.age }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.gender'|trans }}
                            </h5>
                            <p>
                                {% if allocation.gender == 'M' %}
                                    {{ 'allocations.field.gender.male'|trans }}
                                {% elseif allocation.gender == 'W' %}
                                    {{
                                        'allocations.field.gender.female'|trans
                                    }}
                                {% else %}
                                    {{ 'allocations.field.gender.other'|trans }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.isCPR'|trans }}
                            </h5>
                            <p {{
                                allocation.isCPR
                                    ? 'class="text-danger fw-bold"'
                                    : 'class="text-success"'
                                }}>
                                {% if allocation.isCPR %}
                                    {{ 'allocations.field.isCPR.true'|trans }}
                                {% else %}
                                    {{ 'allocations.field.isCPR.false'|trans }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.infectious'|trans }}
                            </h5>
                            <p {{
                                allocation.isInfectious == 'Keine'
                                    ? 'class="text-warning" fw-bold'
                                    : ''
                                }}>
                                {% if allocation.isInfectious %}
                                    {{ allocation.isInfectious }}
                                {% else %}
                                    {{
                                        'allocations.field.isInfectious.false'|trans
                                    }} }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.isVentilated'|trans }}
                            </h5>
                            <p {{
                                allocation.isVentilated
                                    ? 'class="text-danger fw-bold"'
                                    : 'class="text-success"'
                                }}>
                                {% if allocation.isVentilated %}
                                    {{
                                        'allocations.field.isVentilated.true'|trans
                                    }}
                                {% else %}
                                    {{
                                        'allocations.field.isVentilated.false'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.isPregnant'|trans }}
                            </h5>
                            <p {{
                                allocation.isPregnant
                                    ? 'class="text-warning fw-bold"'
                                    : ''
                                }}>
                                {% if allocation.isPregnant %}
                                    {{
                                        'allocations.field.isPregnant.true'|trans
                                    }}
                                {% else %}
                                    {{
                                        'allocations.field.isPregnant.false'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.isShock'|trans }}
                            </h5>
                            <p {{
                                allocation.isShock
                                    ? 'class="text-danger fw-bold"'
                                    : 'class="text-success"'
                                }}>
                                {% if allocation.isShock %}
                                    {{ 'allocations.field.isShock.true'|trans }}
                                {% else %}
                                    {{
                                        'allocations.field.isShock.false'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'allocations.field.isWorkAccident'|trans }}
                            </h5>
                            <p {{
                                allocation.isWorkAccident
                                    ? 'class="text-warning fw-bold"'
                                    : ''
                                }}>
                                {% if allocation.isWorkAccident %}
                                    {{
                                        'allocations.field.isWorkAccident.true'|trans
                                    }}
                                {% else %}
                                    {{
                                        'allocations.field.isWorkAccident.false'|trans
                                    }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card border-secondary mb-3">
                <div class="card-header bg-secondary">
                    <a class="text-white"
                        href="{{
                        path(
                            'app_import_show',
                            {
                                id: allocation.import.id
                            }
                        )
                        }}">
                        {{ 'allocations.field.import'|trans }}
                        (#<i>{{ allocation.import.id }})</i>
                    </a>
                </div>
                <div class="card-body">
                    <p>
                        <i class="bi bi-person-fill"></i>
                        {{
                            'allocations.field.importedBy'|trans({
                                '%name%': importUser.username
                            })
                        }}

                        <br />

                        <i class="bi bi-clock"></i>
                        {{
                            'allocations.field.importedAt'|trans({
                                '%time%': allocation.import.createdAt|date(
                                    'd.m.Y H:i',
                                    'Europe/Berlin'
                                )
                            })
                        }}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-outline-primary"
                href="{{ path('app_allocation_index') }}"
                role="button">
                {{ 'allocations.link.back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
