{% extends 'emails/base_email.html.twig' %}

{% block content %}
    <h1>
        {{
            'account.verified.email.heading'|trans(
                {
                    '%username%': user.username
                },
                'emails'
            )
        }}
    </h1>

    <p class="lead">
        {{ 'account.verified.text'|trans({}, 'emails') }}
    </p>

    <p class="py-2">
        {{ 'account.verified.nextSteps'|trans({}, 'emails') }}:<ul>
            <li>
                <strong>{{ 'dashboard.onboarding.step2'|trans }}</strong><br />
                <a href="{{ path('app_hospital_new') }}">
                    {{ 'dashboard.onboarding.hospital.create'|trans }}
                </a>
            </li>
            <li>
                <strong>{{ 'dashboard.onboarding.step3'|trans }}</strong><br />
                <a href="{{ path('app_import_new') }}">
                    {{ 'dashboard.onboarding.import.create'|trans }}
                </a>
            </li>
        </ul>
    </p>

    <p>
        {{ 'account.verified.otherSteps'|trans({}, 'emails') }}
    </p>

    <p class="text-center">
        <a class="btn btn-primary" href="{{ targetUrl }}" role="button">
            {{ 'account.verified.btn'|trans({}, 'emails') }}
        </a>
    </p>
{% endblock %}
