{% extends 'emails/base.twig' %}

{% block content %}
    <h1>
        {{ 'reset.email.heading'|trans({}, 'emails') }}
    </h1>

    <p class="lead">
        {{ 'reset.email.text'|trans({}, 'emails') }}
    </p>

    <p class="text-center">
        <a class="btn btn-primary"
            href="{{
            url(
                'app_reset_password',
                {
                    token: resetToken.token
                }
            )
            }}"
            role="button">
            {{ 'reset.email.btn'|trans({}, 'emails') }}
        </a>
    </p>

    <p>
        {{
            'verify.email.action'|trans(
                {
                    '%expiration%': expiration|date('g')
                },
                'emails'
            )
        }}
    </p>
{% endblock %}
