{% extends 'emails/base.inky.twig' %}

{% block content %}
    <row>
        <columns>
            <h1>
                <center>
                    {{ 'Reset your password'|trans({}, 'emails') }}
                </center>
            </h1>
            <p>
                {{
                    'A reset of your password has been requested. To proceed click on the link below, or copy and paste it to your browser. If you didn´t request it by yourself, please ignore this e-mail.'|trans(
                        {},
                        'emails'
                    )
                }}
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button href="{{
                    url(
                        'app_reset_password',
                        {
                            token: resetToken.token
                        }
                    )
                    }}">
                    {{ 'Reset my password'|trans({}, 'emails') }}
                </button>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                {{
                    'Please note that this link expires in %expiration% hours.'|trans(
                        {
                            '%expiration%': 1
                        },
                        'emails'
                    )
                }}
            </p>
        </columns>
    </row>
{% endblock %}
