{% extends 'emails/base.inky.twig' %}

{% block content %}
    <row>
        <columns>
            <h1>
                <center>
                    {{ 'Verify your E-Mail address'|trans({}, 'emails') }}
                </center>
            </h1>
            <p>
                {{
                    'Your E-Mail address for COIS - Collaborative IVENA statistics has been
                changed. Please confirm your new email address by clicking the following button.'|trans(
                        {},
                        'emails'
                    )
                }}
            </p>
        </columns>
    </row>
    <row>
        <columns>
            <center>
                <button href="{{ signedUrl|raw }}">
                    {{ 'Confirm my Email'|trans({}, 'emails') }}
                </button>
            </center>
        </columns>
    </row>
    <row>
        <columns>
            <p>
                {{
                    'Please note that this link expires in %expiration% hours.'|trans(
                        {
                            '%expiration%': expiration|date('g')
                        },
                        'emails'
                    )
                }}
            </p>
        </columns>
    </row>
{% endblock %}
