{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Edit hospital'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_hospital_index'),
                            label: 'Hospitals'|trans
                        },
                        {
                            label: 'Edit hospital'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="container">
        <h1>
            {{ 'Edit hospital'|trans }}
        </h1>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}

                <h3>
                    {{ 'Basic information'|trans }}
                </h3>

                {{ form_row(form.name) }}

                {{ form_row(form.address) }}

                {% if is_granted('ROLE_ADMIN') %}
                    <h3>
                        {{ 'Hospital owner'|trans }}
                    </h3>

                    {{ form_row(form.owner) }}
                {% endif %}

                <h3>
                    {{ 'Hospital location'|trans }}
                </h3>

                {{ form_row(form.state) }}

                {{ form_row(form.dispatchArea) }}

                {{ form_row(form.supplyArea) }}

                {{ form_row(form.location) }}

                <h3>
                    {{ 'Hospital size'|trans }}
                </h3>

                {{ form_row(form.size) }}

                {{ form_row(form.beds) }}

                <a class="btn btn-outline-primary"
                    href="{{
                    path(
                        'app_hospital_show',
                        {
                            id: hospital.id
                        }
                    )
                    }}"
                    role="button">
                    <i class="bi bi-search"></i>
                    {{ 'View hospital'|trans }}
                </a>

                <div class="float-end">
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_hospital_index') }}">
                        {{ 'Back to hospitals'|trans({}, 'forms') }}
                    </a>
                    <button class="btn btn-success">
                        <i class="bi bi-check-circle-fill"></i>
                        {{ 'Save Hospital'|trans({}) }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
