{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Hospitals'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_hospital_index'),
                            label: 'Hospitals'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>
                {{ 'Hospitals'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Hospitals'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': hospitals.count
                    })
                }}
            </p>

            {% for row in hospitals|batch(2, null) %}
                <div class="row">
                    {% for hospital in row %}
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{
                                            path(
                                                'app_hospital_show',
                                                {
                                                    id: hospital.id
                                                }
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{ hospital.owner }}
                                    </h6>

                                    <p class="m-0">
                                        {% if hospital.state %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            state: hospital.state.id,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {{ hospital.state.name }}
                                                </a>
                                            </span>
                                        {% endif %}

                                        {% if hospital.dispatchArea %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            state: hospital.dispatchArea.id,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {{
                                                        hospital.dispatchArea.name
                                                    }}
                                                </a>
                                            </span>
                                        {% endif %}

                                        {% if hospital.supplyArea %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            state: hospital.supplyArea.id,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {{
                                                        hospital.supplyArea.name
                                                    }}
                                                </a>
                                            </span>
                                        {% endif %}

                                        {% if hospital.location %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            location: hospital.location,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {% if
                                                        hospital.location
                                                            == 'urban' %}
                                                        {{ 'Urban'|trans }}
                                                    {% elseif
                                                        hospital.location
                                                            == 'rural' %}
                                                        {{ 'Rural'|trans }}
                                                    {% endif %}
                                                </a>
                                            </span>
                                        {% endif %}

                                        {% if hospital.size %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            size: hospital.size,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {% if
                                                        hospital.size
                                                            == 'small' %}
                                                        {{ 'Small'|trans }}
                                                    {% elseif
                                                        hospital.size
                                                            == 'medium' %}
                                                        {{ 'Medium'|trans }}
                                                    {% elseif
                                                        hospital.size
                                                            == 'large' %}
                                                        {{ 'Large'|trans }}
                                                    {% endif %}({{
                                                        hospital.beds
                                                    }}
                                                    {{ 'Beds'|trans }})
                                                </a>
                                            </span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">
                    {{ 'No Hospitals found'|trans }}
                </p>
            {% endfor %}

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_settings_user_index') }}
                </div>
            </div>
        </div>

        <div class="col-3">
            {% if is_granted('create_hospital', app.user) %}
                <p>
                    <a href="{{ path('app_hospital_new') }}"
                        class="btn btn-success"
                        disabled>
                        <i class="bi bi-plus-circle"></i>
                        {{ 'Create Hospital'|trans }}
                    </a>
                </p>
            {% endif %}

            <div class="card mb-3">
                <div class="card-header">
                    <i class="bi bi-funnel"></i>
                    {{ 'Filters'|trans({}, 'forms') }}
                </div>
                <div class="card-body">
                    {{ form(searchForm) }}

                    {{ form(hospitalForm) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="bi bi-sort-down"></i> {{ 'Sorting'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(sortForm) }}

                    {{ form_row(sortForm.sortBy) }}
                    {{ form_row(sortForm.orderBy) }}

                    {{ form_end(sortForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
