{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Hospitals'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_hospital_index'),
                            label: 'Hospitals'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>
                {{ 'Hospitals'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Hospitals'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': hospitals.count
                    })
                }}
            </p>

            {% if filters.search %}
                <div class="alert alert-info" role="alert">
                    {{ 'Searching for'|trans }}: "<i>{{ filters.search }}</i>" | <a href="{{
                        path(
                            'app_hospital_index',
                            app.request.query.all|merge({
                                search: '',
                                page: 1
                            })
                        )
                        }}">
                        {{ 'Click here to end search'|trans }}
                    </a>
                </div>
            {% endif %}

            {% for row in hospitals|batch(2, null) %}
                <div class="row">
                    {% for hospital in row %}
                        <div class="col-md-6">
                            <div class="card mb-3">
                                <div class="card-header"></div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="{{
                                            path(
                                                'app_hospital_show',
                                                {
                                                    id: hospital.id
                                                }
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </h5>
                                    <h6 class="card-subtitle mb-2 text-muted">
                                        {{ hospital.owner }}
                                    </h6>

                                    <p class="m-0">
                                        {% if
                                            hospital.supplyArea
                                                != filters.supplyArea %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            supplyArea: hospital.supplyArea,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {{ hospital.supplyArea }}
                                                </a>
                                            </span>
                                        {% elseif
                                            hospital.supplyArea
                                                == filters.supplyArea %}
                                            <span class="badge bg-primary">
                                                <i class="bi bi-tag-fill"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            supplyArea: '',
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {{ hospital.supplyArea }}
                                                </a>
                                            </span>
                                        {% endif %}

                                        {% if
                                            hospital.dispatchArea
                                                != filters.dispatchArea %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            dispatchArea: hospital.dispatchArea,
                                                            offset: '0'
                                                        })
                                                    )
                                                    }}">
                                                    {{ hospital.dispatchArea }}
                                                </a>
                                            </span>
                                        {% elseif
                                            hospital.dispatchArea
                                                == filters.dispatchArea %}
                                            <span class="badge bg-primary">
                                                <i class="bi bi-tag-fill"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            dispatchArea: '',
                                                            offset: '0'
                                                        })
                                                    )
                                                    }}">
                                                    {{ hospital.dispatchArea }}
                                                </a>
                                            </span>
                                        {% endif %}

                                        {% if
                                            filters.location
                                                != hospital.location %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            location: hospital.location,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {% if
                                                        hospital.location
                                                            == 'urban' %}
                                                        {{ 'Urban'|trans }}
                                                    {% elseif
                                                        hospital.location
                                                            == 'rural' %}
                                                        {{ 'Rural'|trans }}
                                                    {% endif %}
                                                </a>
                                            </span>
                                        {% elseif
                                            filters.location
                                                == hospital.location %}
                                            <span class="badge bg-primary">
                                                <i class="bi bi-tag-fill"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            location: '',
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {% if
                                                        hospital.location
                                                            == 'urban' %}
                                                        {{ 'Urban'|trans }}
                                                    {% elseif
                                                        hospital.location
                                                            == 'rural' %}
                                                        {{ 'Rural'|trans }}
                                                    {% endif %}
                                                </a>
                                            </span>
                                        {% endif %}

                                        {% if filters.size != hospital.size %}
                                            <span class="badge bg-secondary">
                                                <i class="bi bi-tag"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            size: hospital.size,
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {% if
                                                        hospital.size
                                                            == 'small' %}
                                                        {{ 'Small'|trans }}
                                                    {% elseif
                                                        hospital.size
                                                            == 'medium' %}
                                                        {{ 'Medium'|trans }}
                                                    {% elseif
                                                        hospital.size
                                                            == 'large' %}
                                                        {{ 'Large'|trans }}
                                                    {% endif %}({{
                                                        hospital.beds
                                                    }}
                                                    {{ 'Beds'|trans }})
                                                </a>
                                            </span>
                                        {% elseif
                                            filters.size == hospital.size %}
                                            <span class="badge bg-primary">
                                                <i class="bi bi-tag-fill"></i>
                                                <a class="link-light"
                                                    href="{{
                                                    path(
                                                        'app_hospital_index',
                                                        app.request.query.all|merge({
                                                            size: '',
                                                            page: 1
                                                        })
                                                    )
                                                    }}">
                                                    {% if
                                                        hospital.size
                                                            == 'small' %}
                                                        {{ 'Small'|trans }}
                                                    {% elseif
                                                        hospital.size
                                                            == 'medium' %}
                                                        {{ 'Medium'|trans }}
                                                    {% elseif
                                                        hospital.size
                                                            == 'large' %}
                                                        {{ 'Large'|trans }}
                                                    {% endif %}({{
                                                        hospital.beds
                                                    }}
                                                    {{ 'Beds'|trans }})
                                                </a>
                                            </span>
                                        {% endif %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="text-center">
                    {{ 'No Hospitals found'|trans }}
                </p>
            {% endfor %}

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_hospital_index') }}
                </div>
            </div>
        </div>

        <div class="col-3">
            {% if app.user.hospital == null and app.user.isParticipant %}
                <p>
                    <a href="{{ path('app_hospital_new') }}"
                        class="btn btn-success"
                        disabled>
                        <i class="bi bi-plus-circle"></i>
                        {{ 'Create Hospital'|trans }}
                    </a>
                </p>
            {% elseif app.user.hospital %}
                <p>
                    <a href="{{
                        path(
                            'app_hospital_edit',
                            {
                                id: app.user.hospital.id
                            }
                        )
                        }}"
                        class="btn btn-primary">
                        <i class="bi bi-pencil-fill"></i>
                        {{ 'Edit your Hospital'|trans }}
                    </a>
                </p>
            {% endif %}

            <div class="card mb-3">
                <div class="card-header">
                    <i class="bi bi-funnel"></i>
                    {{ 'Filters'|trans({}, 'forms') }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Search'|trans }}
                    </h5>

                    {{ filter.search(filters.search) }}

                    <h5 class="card-title">
                        {{ 'Filter by SupplyArea'|trans }}
                    </h5>
                    <p>
                        {{
                            filter.tagFilter(
                                supplyAreas,
                                'supplyArea',
                                filters.supplyArea,
                                'No SupplyAreas found'
                            )
                        }}
                    </p>

                    <h5 class="card-title">
                        {{ 'Filter by DispatchArea'|trans }}
                    </h5>
                    <p>
                        {{
                            filter.tagFilter(
                                dispatchAreas,
                                'dispatchArea',
                                filters.dispatchArea,
                                'No DispatchArea found'
                            )
                        }}
                    </p>

                    <h5 class="card-title">
                        {{ 'Filter by Location'|trans }}
                    </h5>
                    <p class="mb-2">
                        {{
                            filter.tagFilter(
                                locations,
                                'location',
                                filters.location
                            )
                        }}
                    </p>

                    <h5 class="card-title">
                        {{ 'Filter by Size'|trans }}
                    </h5>
                    <p class="mb-2">
                        {{ filter.tagFilter(size, 'size', filters.size) }}
                    </p>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <i class="bi bi-sort-down"></i> {{ 'Sorting'|trans }}
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-floating mb-2">
                            <select id="sortBy"
                                name="sortBy"
                                class="form-select"
                                aria-label="sortBy">
                                {% if filters.sortBy == 'name' %}
                                    <option value="name" selected="selected">
                                        {{ 'Name'|trans }}
                                    </option>
                                {% else %}
                                    <option value="name">
                                        {{ 'Name'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'supplyArea' %}
                                    <option value="supplyArea"
                                        selected="selected">
                                        {{ 'SupplyArea'|trans }}
                                    </option>
                                {% else %}
                                    <option value="supplyArea">
                                        {{ 'Supply Area'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'dispatchArea' %}
                                    <option value="dispatchArea"
                                        selected="selected">
                                        {{ 'DispatchArea'|trans }}
                                    </option>
                                {% else %}
                                    <option value="dispatchArea">
                                        {{ 'DispatchArea'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'size' %}
                                    <option value="size" selected="selected">
                                        {{ 'Size'|trans }}
                                    </option>
                                {% else %}
                                    <option value="size">
                                        {{ 'Size'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.sortBy == 'location' %}
                                    <option value="location"
                                        selected="selected">
                                        {{ 'Location'|trans }}
                                    </option>
                                {% else %}
                                    <option value="status">
                                        {{ 'Location'|trans }}
                                    </option>
                                {% endif %}
                            </select>
                            <label for="sortBy">
                                {{ 'Sort by'|trans({}, 'forms') }}
                            </label>
                        </div>
                        <div class="form-floating mb-2">
                            <select id="orderBy"
                                name="orderBy"
                                class="form-select"
                                aria-label="sortorder">
                                {% if filters.orderBy == 'asc' %}
                                    <option value="asc" selected="selected">
                                        {{ 'Ascending'|trans }}
                                    </option>
                                {% else %}
                                    <option value="asc">
                                        {{ 'Ascending'|trans }}
                                    </option>
                                {% endif %}
                                {% if filters.orderBy == 'desc' %}
                                    <option value="desc" selected="selected">
                                        {{ 'Descending'|trans }}
                                    </option>
                                {% else %}
                                    <option value="desc">
                                        {{ 'Descending'|trans }}
                                    </option>
                                {% endif %}
                            </select>
                            <label for="sortorder">
                                {{ 'Order by'|trans({}, 'forms') }}
                            </label>
                        </div>

                        {% if filters.search %}
                            <input type="hidden"
                                id="search"
                                name="search"
                                value="{{ filters.search }}" />
                        {% endif %}

                        <div class="float-end">
                            <button type="submit"
                                class="btn btn-outline-primary">
                                {{ 'Sort hospitals'|trans }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
