{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Create hospital'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_hospital_index'),
                            label: 'Hospitals'|trans
                        },
                        {
                            label: 'Create hospital'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <h1>
            {{ 'Create hospital'|trans }}
        </h1>

        {{ form_start(form) }}

        <div>
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Basic information'|trans }}
                </div>
                <div class="card-body">
                    {{ form_row(form.name) }}

                    {{ form_row(form.address) }}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Hospital location'|trans }}
                </div>
                <div class="card-body">
                    {{ form_row(form.dispatchArea) }}

                    {{ form_row(form.supplyArea) }}

                    {{ form_row(form.location) }}
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Hospital size'|trans }}
                </div>
                <div class="card-body">
                    {{ form_row(form.size) }}

                    {{ form_row(form.beds) }}
                </div>
            </div>
        </div>

        <div class="btn-toolbar d-flex justify-content-end mb-2">
            <div class="btn-group" role="group">
                <button class="btn btn-success">
                    {{ 'Create Hospital'|trans({}) }}
                </button>
                <a class="btn btn-outline-secondary"
                    href="{{ path('app_hospital_index') }}"
                    role="button">
                    {{ 'Back to list'|trans }}
                </a>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
