{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Create hospital'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_hospital_index'),
                            label: 'Hospitals'|trans
                        },
                        {
                            label: 'Create hospital'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="container">
        <h1>
            {{ 'Create hospital'|trans }}
        </h1>

        <div class="card">
            <div class="card-body">
                {{ form_start(form) }}

                <h3>
                    {{ 'Basic information'|trans }}
                </h3>

                {{ form_row(form.name) }}

                {{ form_row(form.address) }}

                <h3>
                    {{ 'Hospital location'|trans }}
                </h3>

                {{ form_row(form.state) }}

                {{ form_row(form.dispatchArea) }}

                {{ form_row(form.supplyArea) }}

                {{ form_row(form.location) }}

                <h3>
                    {{ 'Hospital size'|trans }}
                </h3>

                {{ form_row(form.size) }}

                {{ form_row(form.beds) }}

                <div class="float-end">
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_hospital_index') }}">
                        {{ 'Back to hospitals'|trans({}, 'forms') }}
                    </a>
                    <button class="btn btn-primary">
                        <i class="bi bi-plus-circle"></i>
                        {{ 'Create Hospital'|trans({}, 'forms') }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
