{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View Hospital'|trans }}: {{ hospital.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_hospital_index'),
                            label: 'Hospitals'|trans
                        },
                        {
                            label: 'View Hospital'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <h1>
            {{ hospital.name }}
            <small class="text-muted">(<i>#{{ hospital.id }}</i>)</small>
        </h1>

        <div class="row">
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-header">
                        {{ 'Basic information'|trans }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ 'Address'|trans }}
                        </h5>
                        <p>
                            {{ hospital.address|nl2br }}
                        </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        {{ 'Hospital location'|trans }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h6 class="card-subtitle text-muted">
                                    {{ 'SupplyArea'|trans }}
                                </h6>
                                {% if hospital.supplyArea %}
                                    <p>
                                        <span class="badge bg-secondary">
                                            <i class="bi bi-collection"></i>
                                            <a class="link-light" href="#">
                                                {{ hospital.supplyArea.name }}
                                            </a>
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                            <div class="col-6">
                                <h6 class="card-subtitle text-muted">
                                    {{ 'DispatchArea'|trans }}
                                </h6>
                                {% if hospital.dispatchArea %}
                                    <p>
                                        <span class="badge bg-secondary">
                                            <i class="bi bi-collection"></i>
                                            <a class="link-light" href="#">
                                                {{ hospital.dispatchArea.name }}
                                            </a>
                                        </span>
                                    </p>
                                {% endif %}
                            </div>
                        </div>

                        <h5 class="card-title">
                            {{ 'Location'|trans }}
                        </h5>
                        <p>
                            {% if hospital.location == 'rural' %}
                                <span class="badge bg-secondary">
                                    <i class="bi bi-collection"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_hospital_index',
                                            app.request.query.all|merge({
                                                location: 'rural'
                                            })
                                        )
                                        }}">
                                        {{ 'Rural'|trans }}
                                    </a>
                                </span>
                            {% elseif hospital.location == 'urban' %}
                                <span class="badge bg-secondary">
                                    <i class="bi bi-collection"></i>
                                    <a class="link-light"
                                        href="{{
                                        path(
                                            'app_hospital_index',
                                            app.request.query.all|merge({
                                                location: 'urban'
                                            })
                                        )
                                        }}">
                                        {{ 'Urban'|trans }}
                                    </a>
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">
                        {{ 'Hospital size'|trans }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <h5 class="card-title">
                                    {{ 'Size'|trans }}
                                </h5>
                                <p>
                                    {% if hospital.size == 'small' %}
                                        <span class="badge bg-secondary">
                                            <i class="bi bi-collection"></i>
                                            <a class="link-light"
                                                href="{{
                                                path(
                                                    'app_hospital_index',
                                                    app.request.query.all|merge({
                                                        size: 'small'
                                                    })
                                                )
                                                }}">
                                                {{ 'Small'|trans }}
                                            </a>
                                        </span>
                                    {% elseif hospital.size == 'medium' %}
                                        <span class="badge bg-secondary">
                                            <i class="bi bi-collection"></i>
                                            <a class="link-light"
                                                href="{{
                                                path(
                                                    'app_hospital_index',
                                                    app.request.query.all|merge({
                                                        size: 'medium'
                                                    })
                                                )
                                                }}">
                                                {{ 'Medium'|trans }}
                                            </a>
                                        </span>
                                    {% elseif hospital.size == 'large' %}
                                        <span class="badge bg-secondary">
                                            <i class="bi bi-collection"></i>
                                            <a class="link-light"
                                                href="{{
                                                path(
                                                    'app_hospital_index',
                                                    app.request.query.all|merge({
                                                        size: 'large'
                                                    })
                                                )
                                                }}">
                                                {{ 'Large'|trans }}
                                            </a>
                                        </span>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="col-6">
                                <h5 class="card-title">
                                    {{ 'Beds'|trans }}
                                </h5>
                                <p>
                                    {{ hospital.beds }} {{ 'Beds'|trans }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <div class="card-header bg-secondary text-white">
                        {{ 'Hospital details'|trans }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ 'Hospital owner'|trans }}
                        </h5>
                        <p>
                            <i class="bi bi-person-fill"></i>
                            <strong>{{ hospital.owner }}</strong>
                        </p>

                        <h5 class="card-title">
                            {{ 'Timestamps'|trans }}
                        </h5>
                        <p>
                            <i class="bi bi-clock"></i>
                            <strong>{{ 'Created at'|trans }}</strong>
                            {{ hospital.createdAt
                                ? hospital.createdAt|date('d.m.Y H:i')
                                : '' }}
                            <br />
                            <i class="bi bi-clock-history"></i>
                            <strong>{{ 'Updated at'|trans }}</strong>
                            {{ hospital.updatedAt
                                ? hospital.updatedAt|date('d.m.Y H:i')
                                : '' }}
                        </p>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        {{ 'Statistics'|trans }}
                    </div>
                    <div class="card-body">
                        <p>
                            {{
                                'dashboard.allocations.by_hospital'|trans({
                                    '%count%': hospital_allocations|number_format(
                                        0,
                                        '',
                                        '.'
                                    )
                                })
                            }}
                        </p>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-end">
                <p>
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_hospital_index') }}"
                        role="button">
                        {{ 'Back to hospitals'|trans }}
                    </a>
                    {% if is_granted('edit', hospital) %}
                        <a class="btn btn-primary"
                            href="{{
                            path(
                                'app_hospital_edit',
                                {
                                    id: hospital.id
                                }
                            )
                            }}"
                            role="button">
                            <i class="bi bi-pencil"></i>
                            {{ 'Edit hospital'|trans }}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
