{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Update your Profile'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'Profile'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Change your Profile'|trans }}
            </h1>

            <div class="card">
                <div class="card-body">
                    {{ form_start(form_profile) }}

                    {{ form_row(form_profile.fullName) }}

                    {{ form_row(form_profile.biography) }}

                    {{ form_row(form_profile.location) }}

                    {{ form_row(form_profile.website) }}

                    <div class="float-end">
                        {{ form_row(form_profile.submit) }}
                    </div>

                    {{ form_end(form_profile) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
