{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View Page'|trans }}: {{ page.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            url: url('app_settings_page_index'),
                            label: 'Pages'|trans
                        },
                        {
                            label: 'View Page'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                {{ include('settings/page/_delete_form.html.twig') }}
            </div>

            <h1>
                {{ 'View Page'|trans }}
            </h1>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {{ page.id }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Title'|trans({}) }}
                        </th>
                        <td>
                            {{ page.title }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Slug'|trans({}) }}
                        </th>
                        <td>
                            {{ page.slug }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Type'|trans({}) }}
                        </th>
                        <td>
                            {{ page.type }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Status'|trans({}) }}
                        </th>
                        <td>
                            {{ page.status }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Created at'|trans }}
                        </th>
                        <td>
                            {{
                                page.createdAt|date(
                                    'd.m.Y H:i',
                                    'Europe/Berlin'
                                )
                            }}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Created by'|trans }}
                        </th>
                        <td>
                            {{ page.createdBy }}
                        </td>
                    </tr>
                    {% if page.updatedAt %}
                        <tr>
                            <th scope="row">
                                {{ 'Updated at'|trans }}
                            </th>
                            <td>
                                {{
                                    page.updatedAt|date(
                                        'd.m.Y H:i',
                                        'Europe/Berlin'
                                    )
                                }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                {{ 'Updated by'|trans }}
                            </th>
                            <td>
                                {{ page.updatedBy }}
                            </td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class="float-end">
                <a class="btn btn-outline-secondary"
                    href="{{ path('app_settings_page_index') }}">
                    {{ 'Back to list'|trans({}, 'forms') }}
                </a>
                <a class="btn btn-primary"
                    href="{{
                    path(
                        'app_settings_page_edit',
                        {
                            id: page.id
                        }
                    )
                    }}">
                    {{ 'Edit Page'|trans({}, 'forms') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
