{% macro render(filters, targetPath) %}
    {% if filters.active %}
        <div class="alert alert-info" role="alert">
            <p class="float-end">
                <a href="{{ path(targetPath) }}">
                    {{ 'Clear all filters'|trans }}
                </a>
            </p>
            <span class="float-start fw-bold">
                {{ 'Active Filters'|trans }}:&nbsp;
            </span>

            {% for key, filter in filters.getFilters %}
                {% if key == 'ownHospitals' %}
                    <a href="{{
                    path(
                        targetPath,
                        app.request.query.all|merge({
                        ownHospitals: '',
                        page: ''
                    })
                    )
                    }}">
                    <span class="badge rounded-pill bg-primary">
                        <u>{{ 'Own hospitals'|trans }}</u>
                        <i class="bi bi-x-lg"></i>
                    </span>
                    </a>
                {% elseif key == 'date' %}
                    {% if filter.value.startDate is not empty %}
                        <a href="{{
                        path(
                            targetPath,
                            app.request.query.all|merge({
                            startDate: '',
                            page: ''
                        })
                        )
                        }}">
                            <span class="badge rounded-pill bg-primary">
                                <u>{{ filter.key|trans }}:</u>
                                    {{ filter.value.startDate|date(
                                        'd.m.Y',
                                        'Europe/Berlin'
                                    ) }}
                                <i class="bi bi-x-lg"></i>
                            </span>
                        </a>
                    {% endif %}
                    {% if filter.value.endDate is not empty %}
                        <a href="{{
                        path(
                            targetPath,
                            app.request.query.all|merge({
                            endDate: '',
                            page: ''
                        })
                        )
                        }}">
                            <span class="badge rounded-pill bg-primary">
                                <u>{{ filter.key|trans }}:</u>
                                    {{ filter.value.endDate|date(
                                        'd.m.Y',
                                        'Europe/Berlin'
                                    ) }}
                                <i class="bi bi-x-lg"></i>
                            </span>
                        </a>
                    {% endif %}
                {% else %}
                    <a href="{{
                    path(
                        targetPath,
                        app.request.query.all|merge({
                        (key): '',
                        page: ''
                    })
                    )
                    }}">
                        <span class="badge rounded-pill bg-primary">
                            <u>{{ filter.key|trans }}:</u>
                            {% if filter.altValue %}
                                {{ filter.altValue }}
                            {% else %}
                                {{ filter.value|trans }}
                            {% endif %}
                            <i class="bi bi-x-lg"></i>
                        </span>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro widget(filters, key, caption, value, targetPath, icon = 'bi bi-tag') %}
    {% if filters.getFilter(key) and filters.getFilter(key).value == (value) %}
        <span class="badge bg-primary">
            <i class="{{ icon }}"></i>
            <a class="link-light"
               href="{{
               path(
                   (targetPath),
                   app.request.query.all|merge({
                   (key): '',
                   page: ''
               })
               )
               }}">{{ caption }}</a>
        </span>
    {% else %}
        <span class="badge bg-secondary">
            <i class="{{ icon }}"></i>
            <a class="link-light"
               href="{{
               path(
                   (targetPath),
                   app.request.query.all|merge({
                   (key): (value),
                   page: ''
               })
               )
               }}">{{ caption }}</a>
        </span>
    {% endif %}
{% endmacro %}
