{% extends 'base.html.twig' %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <div class="container">
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">
                {{ flashError }}
            </div>
        {% endfor %}

        <h1>
            {{ 'Register'|trans }}
        </h1>

        <div class="card">
            <div class="card-body">
                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{
                    form_row(
                        registrationForm.plainPassword,
                        {
                            label: 'Password'
                        }
                    )
                }}
                {{ form_row(registrationForm.email) }}

                {% if app_terms == true %}
                    {% set termsFormGroup %}
                        {{ form_row(registrationForm.agreeTerms) }}
                    {% endset %}

                    {{
                        termsFormGroup
                            |replace({
                                '#TERMS#': '<a href="'
                                    ~ path(
                                        'app_page',
                                        {
                                            slug: get_slug('terms')
                                        }
                                    )
                                    ~ '"> '
                                    ~ (get_title('terms')|capitalize)
                                    ~ '</a>'
                            })
                            |replace({
                                '#PRIVACY#': '<a href="'
                                    ~ path(
                                        'app_page',
                                        {
                                            slug: get_slug('privacy')
                                        }
                                    )
                                    ~ '"> '
                                    ~ (get_title('privacy')|capitalize)
                                    ~ '</a>'
                            })
                            |raw
                    }}
                {% endif %}

                <div class="float-end">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-person-plus-fill"></i>
                        {{ 'Create account'|trans }}
                    </button>
                </div>

                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
