{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Settings'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            url: url('app_settings_config'),
                            label: 'Configuration'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Configuration'|trans }}
            </h1>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Category'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Name'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Value'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for setting in settings %}
                        <tr>
                            <td>
                                {{ setting.id }}
                            </td>
                            <td>
                                {{ setting.category }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_config_edit',
                                        {
                                            id: setting.id
                                        }
                                    )
                                    }}">
                                    {{ setting.name }}
                                </a>
                            </td>
                            <td>
                                {{ setting.value }}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">
                                {{ 'No Settings found'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
