{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/active_filters.html.twig' as active_filters %}

{% block title %}
    {{ 'Export'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Export'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>
                {{ 'Exports'|trans }}
            </h1>

            <div class="alert alert-success">
                {{ active_filters.render(filters, 'app_export_index') }}

                {% if results %}
                    <a class="btn btn-primary"
                        href="{{
                        path(
                            'app_export_fetch',
                            app.request.query.all
                        )
                        }}">
                        Download {{ results }} rows
                    </a>
                {% endif %}
            </div>

            <div class="card">
                <div class="card-body">
                    <h5>
                        {{ 'Filter by Hospital'|trans }}
                    </h5>

                    {{ form_start(exportForm) }}

                    {{ form_row(exportForm.ownHospitals) }}

                    {% if
                        (app.user.hospitals|length) > 1
                            or is_granted('ROLE_ADMIN') %}
                        {{ form_row(exportForm.hospital) }}
                    {% endif %}

                    <h5>
                        {{ 'Filter by Dates'|trans }}
                    </h5>

                    <div class="input-group mb-3">
                        {{
                            form_widget(
                                exportForm.startDate,
                                {
                                    label: false
                                }
                            )
                        }}

                        {{
                            form_widget(
                                exportForm.endDate,
                                {
                                    label: false
                                }
                            )
                        }}
                    </div>

                    <h5>
                        {{ 'Filter by Properties'|trans }}
                    </h5>

                    {{
                        form_row(
                            exportForm.indication,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            exportForm.speciality,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            exportForm.specialityDetail,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            exportForm.urgency,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            exportForm.infection,
                            {
                                label: false
                            }
                        )
                    }}

                    <div class="row mb-3">
                        <div class="col-6">
                            {{ form_widget(exportForm.requiresResus) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(exportForm.requiresCathlab) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(exportForm.isCPR) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(exportForm.isVentilated) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(exportForm.isShock) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(exportForm.isWithPhysician) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(exportForm.isPregnant) }}
                        </div>
                        <div class="col-6">
                            {{ form_widget(exportForm.isWorkAccident) }}
                        </div>
                    </div>

                    <h5>
                        {{ 'Filter by Transport'|trans }}
                    </h5>

                    {{
                        form_row(
                            exportForm.assignment,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            exportForm.occasion,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            exportForm.modeOfTransport,
                            {
                                label: false
                            }
                        )
                    }}

                    {{
                        form_row(
                            exportForm.secondaryDeployment,
                            {
                                label: false
                            }
                        )
                    }}

                    <div class="row">
                        <div class="col">
                            {{ form_row(exportForm.submit) }}
                        </div>
                        <div class="col">
                            <div class="float-end">
                                {{ form_row(exportForm.reset) }}
                            </div>
                        </div>
                    </div>

                    {{ form_end(exportForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
