{{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.supplyArea) }}

    {{ form_row(form.disptachArea) }}

    {{ form_row(form.address) }}

    {{ form_row(form.size) }}

    {{ form_row(form.beds) }}

    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
