{% extends 'base.html.twig' %}

{% block title %}Edit Hospital{% endblock %}

{% block body %}
    <h1>Edit your Hospital</h1>

    {{ form_start(form) }}

    {{ form_row(form.name) }}

    {{ form_row(form.supplyArea) }}

    {{ form_row(form.address) }}



    {{ form_end(form) }}
    <a href="{{ path('hospital_index') }}">back to list</a>
{% endblock %}
