{% extends 'base.html.twig' %}

{% block title %}
    {{ 'hospitals.edit.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-end mb-2">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-outline-primary"
                href="{{
                path(
                    'hospital_show',
                    {
                        id: user_hospital.id
                    }
                )
                }}"
                role="button">
                {{ 'hospitals.link_view'|trans }}
            </a>
            <a class="btn btn-outline-primary"
                href="{{ path('hospital_index') }}"
                role="button">
                {{ 'hospitals.link_back'|trans }}
            </a>
        </div>
    </div>

    <h1>
        {{ 'hospitals.edit.title'|trans }}
    </h1>

    {{ form_start(form) }}

    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'hospitals.basics.title'|trans }}
                </div>
                <div class="card-body">
                    {{ form_row(form.name) }}

                    {{ form_row(form.address) }}

                    {{ form_row(form.dispatchArea) }}

                    {{ form_row(form.supplyArea) }}

                    {{ form_row(form.location) }}
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    {{ 'hospitals.size.title'|trans }}
                </div>
                <div class="card-body">
                    {{ form_row(form.size) }}

                    {{ form_row(form.beds) }}
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card border-danger mb-3">
                <div class="card-header">
                    {{ 'hospitals.admin.title'|trans }}
                </div>
                <div class="card-body text-danger">
                    <p>
                        <strong>
                            WARNING - Be very careful when changing something in
                            this section.
                        </strong>
                    </p>

                    {{ form_row(form.owner) }}
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    <div class="d-flex justify-content-end mb-2">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <a class="btn btn-outline-primary"
                href="{{
                path(
                    'hospital_show',
                    {
                        id: user_hospital.id
                    }
                )
                }}"
                role="button">
                {{ 'hospitals.link_view'|trans }}
            </a>
            <a class="btn btn-outline-primary"
                href="{{ path('hospital_index') }}"
                role="button">
                {{ 'hospitals.link_back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
