{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Areas'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'Areas'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                <div class="dropdown">
                    <a class="btn btn-primary dropdown-toggle"
                        href="#"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Create new Element
                    </a>

                    <ul class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink">
                        <li>
                            <a class="dropdown-item"
                                href="{{
                                path(
                                    'app_settings_area_state_new'
                                )
                                }}">
                                {{ 'Create new State'|trans({}, 'forms') }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="{{
                                path(
                                    'app_settings_area_dispatch_new'
                                )
                                }}">
                                {{
                                    'Create new Dispatch Area'|trans(
                                        {},
                                        'forms'
                                    )
                                }}
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item"
                                href="{{
                                path(
                                    'app_settings_area_supply_new'
                                )
                                }}">
                                {{
                                    'Create new Supply Area'|trans({}, 'forms')
                                }}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <h1>
                {{ 'Areas'|trans }}
            </h1>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            #
                        </th>
                        <th scope="col">
                            State
                        </th>
                        <th scope="col">
                            Dispatch Areas
                        </th>
                        <th scope="col">
                            Supply Areas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for state in states %}
                        <tr>
                            <th scope="row">
                                {{ loop.index }}
                            </th>
                            <td>
                                {{ state.name }}
                                <a href="{{
                                    path(
                                        'app_settings_area_state_edit',
                                        {
                                            id: state.id
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="{{
                                    path(
                                        'app_settings_area_state_delete',
                                        {
                                            id: state.id
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </td>
                            <td>
                                {% for area in state.dispatchAreas %}
                                    {{ area.name }}
                                    <a href="{{
                                        path(
                                            'app_settings_area_dispatch_edit',
                                            {
                                                id: area.id
                                            }
                                        )
                                        }}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a href="{{
                                        path(
                                            'app_settings_area_dispatch_delete',
                                            {
                                                id: area.id
                                            }
                                        )
                                        }}">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                {% else %}
                                    No dispatch areas found.
                                {% endfor %}
                            </td>
                            <td>
                                {% for area in state.supplyAreas %}
                                    {{ area.name }}
                                    <a href="{{
                                        path(
                                            'app_settings_area_supply_edit',
                                            {
                                                id: area.id
                                            }
                                        )
                                        }}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    <a href="{{
                                        path(
                                            'app_settings_area_supply_delete',
                                            {
                                                id: area.id
                                            }
                                        )
                                        }}">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                {% else %}
                                    No supply areas found.
                                {% endfor %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">
                                No states found
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
