<h3>
    {{ 'General'|trans }}
</h3>
<ul class="list-group mb-3">
    {% if
        app.request.attributes.get('_route')
            starts with 'app_statistics_gender' %}
        <li class="list-group-item active">
            <i class="bi bi-gender-ambiguous"></i>
            <a class="text-light" href="{{ path('app_statistics_gender') }}">
                {{ 'Gender'|trans }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <i class="bi bi-gender-ambiguous"></i>
            <a href="{{ path('app_statistics_gender') }}">
                {{ 'Gender'|trans }}
            </a>
        </li>
    {% endif %}
    {% if
        app.request.attributes.get('_route')
            starts with 'app_statistics_time' %}
        <li class="list-group-item active">
            <i class="bi bi-clock-fill"></i>
            <a class="text-light" href="{{ path('app_statistics_times') }}">
                {{ 'Times'|trans }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <i class="bi bi-clock"></i>
            <a href="{{ path('app_statistics_times') }}">{{ 'Times'|trans }}</a>
        </li>
    {% endif %}
    {% if
        app.request.attributes.get('_route')
            starts with 'app_statistics_urgency' %}
        <li class="list-group-item active">
            <i class="bi bi-exclamation-circle-fill"></i>
            <a class="text-light" href="{{ path('app_statistics_urgency') }}">
                {{ 'Urgency'|trans }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <i class="bi bi-exclamation-circle"></i>
            <a href="{{ path('app_statistics_urgency') }}">
                {{ 'Urgency'|trans }}
            </a>
        </li>
    {% endif %}
</ul>
