{% extends 'base.html.twig' %}

{% block title %}
    Statistics - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_dashboard') }}">
                            {{ 'Home'|trans }}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        {{ 'Statistics'|trans }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Age Statistics'|trans }}
            </h1>

            <div data-controller="piechart" data-piechart-url-value="{{ url('app_data_gender') }}">
                <div id="chart"></div>
            </div>
        </div>
    </div>
{% endblock %}
