{% extends 'base.html.twig' %}

{% block title %}
    Statistics - {{ parent() }}
{% endblock %}

{% block body %}
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" href="#">Demographics</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-8">
            <div class="card mb-3">
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <p>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th colspan="3">Gender</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Male</td>
                                <td>{{ gender.male }}</td>
                                <td>{{ gender.male_percent }}%</td>
                            </tr>
                            <tr>
                                <td>Female</td>
                                <td>{{ gender.female }}</td>
                                <td>{{ gender.female_percent }}%</td>
                            </tr>
                            <tr>
                                <td>Other</td>
                                <td>{{ gender.other }}</td>
                                <td>{{ gender.other_percent }}%</td>
                            </tr>
                        </tbody>
                    </table>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
