{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Statistics'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Statistics'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="row">
                <h1>
                    {{ 'General'|trans }}
                </h1>
                <div class="row">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_statistics_age') }}">
                                    <i class="bi bi-alarm"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Age'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_statistics_gender') }}">
                                    <i class="bi bi-gender-ambiguous"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Gender'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_statistics_times') }}">
                                    <i class="bi bi-clock"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Times'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <h1>
                        {{ 'Allocations'|trans }}
                    </h1>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_statistics_occasion') }}">
                                    <i class="bi bi-briefcase"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Occasion'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_statistics_assignment'
                                    )
                                    }}">
                                    <i class="bi bi-chat-text"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Assignment'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_statistics_urgency') }}">
                                    <i class="bi bi-exclamation-circle"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Urgency'|trans }}
                                </a>
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">
                                        New alerts
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_statistics_properties'
                                    )
                                    }}">
                                    <i class="bi bi-file-earmark-ruled"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Properties'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_statistics_pzc') }}">
                                    <i class="bi bi-card-list"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'PZC'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_statistics_speciality'
                                    )
                                    }}">
                                    <i class="bi bi-tags"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Speciality'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_statistics_infection'
                                    )
                                    }}">
                                    <i class="bi bi-bug"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Infection'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mt-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_statistics_transport'
                                    )
                                    }}">
                                    <i class="bi bi-cart"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Transport'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
