{% extends 'base.html.twig' %}

{% block title %}
    Statistics - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_dashboard') }}">
                            {{ 'Home'|trans }}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        {{ 'Statistics'|trans }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="row">
                <h1>
                    {{ 'General'|trans }}
                </h1>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{{ path('app_statistics_gender') }}">
                                <i class="bi bi-gender-ambiguous"
                                    style="font-size: 5rem; color: cornflowerblue;">

                                </i><br />
                                {{ 'Gender'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{{ path('app_statistics_times') }}">
                                <i class="bi bi-clock"
                                    style="font-size: 5rem; color: cornflowerblue;">

                                </i><br />
                                {{ 'Times'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
