{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Statistics'|trans }}: {{ 'Time Statistics'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_statistics_index'),
                            label: 'Statistics'|trans
                        },
                        {
                            label: 'PZC Statistics'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'PZC Statistics'|trans }}
            </h1>

            <h2>
                {{ 'Distribution of PZCs'|trans }}
            </h2>
            <table class="table table-hover">
                <thead>
                    <th>
                        Number
                    </th>
                    <th>
                        PZC
                    </th>
                    <th>
                        Bar
                    </th>
                    <th>
                        Count
                    </th>
                    <th>
                        Percentage
                    </th>
                </thead>
                <tbody>
                    {% for pzc in results %}
                        <tr>
                            <td>
                                {{ loop.index }}
                            </td>
                            <td>
                                {{ pzc.label }}
                            </td>
                            <td>
                                <svg width="100px" height="65px">
                                    <g class="bars">
                                        <rect fill="#3d5599"
                                            width="{{ pzc.percent }}px"
                                            height="25"></rect>
                                    </g>
                                </svg>
                            </td>
                            <td>
                                {{ pzc.count }}
                            </td>
                            <td>
                                {{ pzc.percent }}%
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
