{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Statistics'|trans }}: {{ 'Time Statistics'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_statistics_index'),
                            label: 'Statistics'|trans
                        },
                        {
                            label: 'PZC Statistics'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'PZC Statistics'|trans }}
            </h1>

            <p>
                {{ 'Distribution of PZCs'|trans }}
            </p>

            <div data-controller="table">
                <input class="form-control"
                    type="search"
                    data-table-target="source"
                    data-action="input->table#filter"
                    placeholder="Filter table" />

                <table class="table table-hover">
                    <thead>
                        <th>
                            Rank
                        </th>
                        <th>
                            PZC
                        </th>
                        <th>
                            Bar
                        </th>
                        <th>
                            Count
                        </th>
                        <th>
                            Percent
                        </th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for pzc in results %}
                            <tr data-table-target="filterable"
                                data-filter-key="{{ pzc.label|lower }}">
                                <td>
                                    {{ loop.index }}
                                </td>
                                <td>
                                    {{ pzc.label }}
                                </td>
                                <td>
                                    <svg width="100px" height="25px">
                                        <g class="bars">
                                            <rect fill="#3d5599"
                                                width="100%"
                                                height="25"></rect>;<rect fill="#cb4d3e"
                                                width="{{ pzc.percent }}px"
                                                height="25"></rect>
                                        </g>
                                    </svg>
                                </td>
                                <td>
                                    {{ pzc.count }}
                                </td>
                                <td>
                                    {{ pzc.percent }}%
                                </td>
                                <td>
                                    <a href="{{
                                        path(
                                            'app_allocation_index',
                                            {
                                                pzc: pzc.PZC
                                            }
                                        )
                                        }}">
                                        <i class="bi bi-search"></i><br />
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
