{% extends 'base.html.twig' %}

{% block title %}
    Statistics - {{ parent() }}
{% endblock %}

{% block body %}
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('statistics_index') }}">
                Demographics
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('statistics_times') }}">Times</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('statistics_allocations') }}">
                Allocations
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('statistics_specialities') }}">
                Specialities
            </a>
        </li>
    </ul>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-header">
                    Specialities
                </div>
                <div class="card-body">
                    {{ render_chart(speciality_chart) }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-dark bg-light mb-2">
                <div class="card-header">
                    Detailed Specialities
                </div>
                <div class="card-body">
                    {{ render_chart(specialityDetail_chart) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
