{% extends 'base.html.twig' %}

{% block title %}
    Statistics - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_dashboard') }}">
                            {{ 'Home'|trans }}
                        </a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page">
                        {{ 'Statistics'|trans }}
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Time Statistics'|trans }}
            </h1>

            <h2>
                Distribution of allocations by hours
            </h2>
            <div class="row mb-3"
                data-controller="curve"
                data-curve-target-value="#graph1"
                data-curve-url-value="{{ url('app_data_time') }}">
                <div class="">
                    <svg id="graph1" width="750" height="400"></svg>
                </div>
            </div>

            <h2>
                Distribution of allocations by days
            </h2>
            <div class="row"
                data-controller="barplot"
                data-barplot-target-value="#graph2"
                data-barplot-url-value="{{ url('app_data_days') }}">
                <div class="">
                    <svg id="graph2" width="750" height="400"></svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
