{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Time Statistics'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_statistics_index'),
                            label: 'Statistics'|trans
                        },
                        {
                            label: 'Time Statistics'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Time Statistics'|trans }}
            </h1>

            <h2>
                {{ 'Distribution of allocations by hours'|trans }}
            </h2>
            <div class="row mb-3"
                {{
                stimulus_controller(
                    'chart-times-perhours',
                    {
                        target: '#graph1',
                        url: url('app_data_time')
                    }
                )
                }}>
                <div class="">
                    <svg id="graph1" width="750" height="400"></svg>
                </div>
            </div>

            <hr />

            <h2>
                {{ 'Distribution of allocations by days'|trans }}
            </h2>
            <div class="row"
                {{
                stimulus_controller(
                    'chart-times-perweekday',
                    {
                        target: '#graph2',
                        url: url('app_api_days')
                    }
                )
                }}>
                <div class="">
                    <svg id="graph2" width="750" height="400"></svg>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
