{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/active_filters.html.twig' as active_filters %}

{% block title %}
    {{ 'Urgency Statistics'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_statistics_index'),
                            label: 'Statistics'|trans
                        },
                        {
                            label: 'Urgency Statistics'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Urgency Statistics'|trans }}
            </h1>

            {{ active_filters.render(filters, 'app_statistics_urgency') }}

            <h2>
                {{ 'Distribution of urgencies'|trans }}
            </h2>

            <div class="row"
                 data-controller="chart-urgency"
                 data-chart-urgency-target-value="#graph1"
                 data-chart-urgency-data-value='{{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}'
                >
                <div class="col-8 justify-content-center">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="bi bi-pie-chart"></i>
                            {{ 'Graph'|trans({}, 'forms') }}
                        </div>
                        <div class="card-body">
                            <svg id="graph1" class="m-2" width="200" height="200"></svg>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card mb-3">
                        <div class="card-header">
                            <i class="bi bi-funnel"></i>
                            {{ 'Filters'|trans({}, 'forms') }}
                        </div>
                        <div class="card-body">
                            {{ form_start(filter_form) }}

                            {{ form_row(filter_form.hospital) }}

                            <div class="row">
                                <div class="col">
                                    {{ form_row(filter_form.submit) }}
                                </div>
                                <div class="col">
                                    <div class="float-end">
                                        {{ form_row(filter_form.reset) }}
                                    </div>
                                </div>
                            </div>

                            {{ form_end(filter_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
