{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Urgency Statistics'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_statistics_index'),
                            label: 'Statistics'|trans
                        },
                        {
                            label: 'Urgency Statistics'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('statistics/_statistics_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Urgency Statistics'|trans }}
            </h1>

            <p>
                {{ 'Distribution of urgencies'|trans }}
            </p>
            <div class="row"
                {{
                stimulus_controller(
                    'chart-urgency',
                    {
                        target: '#graph1',
                        url: url('app_api_urgency')
                    }
                )
                }}>
                <div class="col-4 justify-content-center">
                    <svg id="graph1" class="m-2" width="200" height="200"></svg>
                </div>
                <div class="col-8">
                    <table id="table" class="objecttable table">
                        <thead>
                            <tr>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Count
                                </th>
                                <th>
                                    Percent
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
