{% extends 'data/_data_layout.html.twig' %}

{% block title %}
    {{ 'title.import.view'|trans }}: {{ import.name }} (#{{ import.id }}) - {{
        parent()
    }}
{% endblock %}

{% block breadcrumbs %}
    {{
        component(
            'breadcrumb',
            {
                items: [
                    {
                        url: url('app_import_index'),
                        label: 'Import'|trans
                    },
                    {
                        label: 'View Import'|trans
                    }
                ]
            }
        )
    }}
{% endblock %}

{% block content %}
    <div class="float-end">
        <div {{
            stimulus_controller(
                'modal',
                {
                    formUrl: path(
                        'app_import_delete_form',
                        {
                            id: import.id
                        }
                    ),
                    targetUrl: path('app_import_index')
                }
            )
            }}>
            {% if is_granted('delete', import) %}
                <a href="#"
                    class="btn btn-outline-danger"
                    data-action="modal#openModal">
                    <i class="bi bi-trash-fill"></i>
                    {{ 'Delete'|trans({}, 'forms') }}
                </a>
            {% endif %}
            {% if is_granted('edit', import) %}
                <a class="btn btn-outline-primary"
                    href="{{
                    path(
                        'app_import_edit',
                        {
                            id: import.id
                        }
                    )
                    }}">
                    <i class="bi bi-pencil-fill"></i>
                    {{ 'Edit Import'|trans }}
                </a>
            {% endif %}

            {{
                include(
                    'elements/modal.html.twig',
                    {
                        modalTitle: 'Delete Import?'|trans({}, 'forms'),
                        modalSubmit: 'Delete Import'|trans({}, 'forms')
                    }
                )
            }}
        </div>
    </div>

    <h1>
        {{ 'View Import'|trans }}
        <small class="text-muted">(<i>#{{ import.id }}</i>)</small>
    </h1>

    {% if is_granted('delete', import) %}
        <ul class="nav nav-tabs mb-3">
            <li class="nav-item">
                <a class="nav-link active" href="#">
                    {{ 'View Import'|trans }}
                </a>
            </li>
            <li class="nav-item">
                {% if import.skippedRows > 0 %}
                    <a class="nav-link"
                        aria-current="page"
                        href="{{
                        path(
                            'app_import_show_skipped',
                            {
                                id: import.id
                            }
                        )
                        }}">
                        {{ 'Skipped rows'|trans }}
                        <span class="badge bg-primary">
                            {{ import.skippedRows }}
                        </span>
                    </a>
                {% else %}
                    <a class="nav-link disabled" aria-current="page" href="#">
                        {{ 'Skipped rows'|trans }}
                        <span class="badge bg-secondary">0</span>
                    </a>
                {% endif %}
            </li>
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Basic information'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Caption'|trans }}
                    </h5>
                    <p>
                        {{ import.name }}
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'Content'|trans }}
                            </h5>
                            <p>
                                {{ import.type }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'Status'|trans }}
                            </h5>
                            <p>
                                {% if import.status == 'success' %}
                                    <i class="bi bi-check-circle-fill text-success">

                                    </i>
                                    {{ import.status|trans }}
                                {% elseif import.status == 'pending' %}
                                    <div class="spinner-border text-secondary spinner-border-sm"
                                        role="status">
                                        <span class="visually-hidden">
                                            {{ 'import.field.loading'|trans }}
                                        </span>
                                    </div> {{ import.status|trans }}
                                {% elseif import.status == 'incomplete' %}
                                    <i class="bi bi-exclamation-triangle-fill text-warning">

                                    </i>
                                    {{ import.status|trans }}
                                {% elseif import.status == 'failure' %}
                                    <i class="bi bi-exclamation-circle-fill text-danger">

                                    </i>
                                    {{ import.status|trans }}
                                {% elseif import.status == 'empty' %}
                                    <i class="bi bi-exclamation-circle-fill text-danger">

                                    </i>
                                    {{ import.status|trans }}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Import details'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Statistics'|trans }}
                    </h5>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'Item count'|trans }}
                            </h6>
                            <p>
                                {{ import.rowCount }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'Runtime'|trans }}
                            </h6>
                            <p>
                                {{ import.runtime / 1000 }}s
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'Times run'|trans }}
                            </h6>
                            <p>
                                {{ import.runCount }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'Skipped rows'|trans }}
                            </h6>
                            <p>
                                {{ import.skippedRows }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-secondary-subtle mb-3">
                <div class="card-header bg-secondary-subtle">
                    {{ 'Import details'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Created by'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-person-fill"></i>
                        <strong>{{ import.user }}</strong>
                    </p>

                    <h5 class="card-title">
                        {{ 'Hospital'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-house"></i>
                        <strong>
                            <a href="{{
                                path(
                                    'app_hospital_show',
                                    {
                                        id: import.hospital.id
                                    }
                                )
                                }}">
                                {{ import.hospital }}
                            </a>
                        </strong>
                    </p>

                    <h5 class="card-title">
                        {{ 'Timestamps'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-clock"></i>
                        <strong>{{ 'Created at'|trans }}</strong>
                        {{ import.createdAt
                            ? import.createdAt|date('d.m.Y H:i')
                            : '' }}
                        <br />
                        {% if import.updatedAt %}
                            <i class="bi bi-clock-history"></i>
                            <strong>{{ 'Updated at'|trans }}</strong>
                            {{ import.updatedAt|date('d.m.Y H:i') }}
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if is_granted('filter', import) %}
                <div class="list-group">
                    <a class="list-group-item list-group-item-action"
                        href="{{
                        path(
                            'app_allocation_index',
                            {
                                import: import.id
                            }
                        )
                        }}">
                        <i class="bi bi-filter"></i>
                        {{ 'Show Allocations'|trans }}
                    </a>
                    {% if import.filePath == 'dummy/path' %}
                        <a href="#"
                            class="list-group-item list-group-item-action disabled">
                            <i class="bi bi-file-earmark-arrow-down"></i>
                            {{ 'Get original import file'|trans }}
                        </a>
                    {% else %}
                        <a class="list-group-item list-group-item-action"
                            href="{{
                            path(
                                'app_file_import',
                                {
                                    id: import.id
                                }
                            )
                            }}">
                            <i class="bi bi-file-earmark-arrow-down"></i>
                            {{ 'Get original import file'|trans }}
                        </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-end">
        <p>
            <a class="btn btn-outline-secondary"
                href="{{ path('app_import_index') }}"
                role="button">
                {{ 'Back to imports'|trans({}, 'forms') }}
            </a>
        </p>
    </div>
{% endblock %}
