{% extends 'data/_data_layout.html.twig' %}

{% block title %}
    {{ 'View Import'|trans }}: {{ import.name }} (#{{ import.id }}) - {{
        parent()
    }}
{% endblock %}

{% block breadcrumbs %}
    {{
        component(
            'breadcrumb',
            {
                items: [
                    {
                        url: url('app_import_index'),
                        label: 'Import'|trans
                    },
                    {
                        label: 'Edit Import'|trans
                    }
                ]
            }
        )
    }}
{% endblock %}

{% block content %}
    <div class="float-end">
        <div {{
            stimulus_controller(
                'modal',
                {
                    formUrl: path(
                        'app_import_delete_form',
                        {
                            id: import.id
                        }
                    ),
                    targetUrl: path('app_import_index')
                }
            )
            }}>
            {% if is_granted('delete', import) %}
                <a href="#"
                    class="btn btn-outline-danger"
                    data-action="modal#openModal">
                    <i class="bi bi-trash-fill"></i>
                    {{ 'Delete'|trans({}, 'forms') }}
                </a>
            {% endif %}
            {% if is_granted('edit', import) %}
                <a class="btn btn-outline-primary"
                    href="{{
                    path(
                        'app_import_edit',
                        {
                            id: import.id
                        }
                    )
                    }}">
                    <i class="bi bi-pencil-fill"></i>
                    {{ 'Edit Import'|trans }}
                </a>
            {% endif %}

            {{
                include(
                    'elements/modal.html.twig',
                    {
                        modalTitle: 'Delete Import?'|trans({}, 'forms'),
                        modalSubmit: 'Delete Import'|trans({}, 'forms')
                    }
                )
            }}
        </div>
    </div>

    <h1>
        {{ 'View Import'|trans }}
        <small class="text-muted">(<i>#{{ import.id }}</i>)</small>
    </h1>

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link"
                href="{{
                path(
                    'app_import_show',
                    {
                        id: import.id
                    }
                )
                }}">
                {{ 'View Import'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
                {{ 'Skipped rows'|trans }}
                <span class="badge bg-primary">{{ results|length }}</span>
            </a>
        </li>
    </ul>

    <div class="row">
        <div class="col">
            {% for result in results %}
                <div class="card mb-3">
                    <div class="card-header">
                        #{{ loop.index }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <h5 class="card-title">
                                {{ 'Messages'|trans }}
                            </h5>
                            <p class="text-danger">
                                {{ result.errors|nl2br }}
                            </p>

                            <div class="text-right">
                                <a class="btn btn-primary"
                                    data-bs-toggle="collapse"
                                    href="#collapse{{ loop.index }}"
                                    role="button"
                                    aria-expanded="false"
                                    aria-controls="collapse{{ loop.index }}">
                                    {{ 'View raw data'|trans }}
                                </a>
                            </div>

                            <div class="collapse" id="collapse{{ loop.index }}">
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr class="d-flex">
                                            <th class="col-4" scope="col">
                                                {{ 'Caption'|trans }}
                                            </th>
                                            <th class="col-8" scope="col">
                                                {{ 'Value'|trans }}
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for key, value in result.data %}
                                            <tr class="d-flex">
                                                <td class="col-4">
                                                    {{ key }}
                                                </td>
                                                <td class="col-8">
                                                    {% if
                                                        value is null
                                                            or value is empty %}
                                                        <span class="badge bg-secondary">
                                                            null
                                                        </span>
                                                    {% else %}
                                                        <code>{{ value }}</code>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <a class="btn btn-outline-secondary"
            href="{{ path('app_import_index') }}"
            role="button">
            {{ 'Back to imports'|trans({}, 'forms') }}
        </a>
    </div>
{% endblock %}
