{% extends 'base.html.twig' %}

{% block title %}
    {{ 'default.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">
                    {{ 'default.welcome.title'|trans }}
                </h1>
                <p class="col-md-8 fs-4">
                    {{ 'default.welcome.text'|trans }}
                </p>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-secondary rounded-3">
                    {% if app.user == null %}
                        <h2>
                            {{ 'How to participate'|trans }}
                        </h2>
                        <p>
                            {{
                                'For full access to this project, you need to login. If you don´t already have a login you can register yourself.'|trans
                            }}
                        </p>
                        <div class="btn-group"
                            role="group"
                            aria-label="Basic example">
                            <a class="btn btn-outline-light"
                                href="{{ path('app_login') }}"
                                role="button">
                                {{ 'Click here to Login'|trans }}
                            </a>
                            <a class="btn btn-outline-light"
                                href="{{ path('app_register') }}"
                                role="button">
                                {{ 'Create a new Account'|trans }}
                            </a>
                        </div>
                    {% else %}
                        <h2>
                            {{ 'Explore the platform'|trans }}
                        </h2>
                        <p>
                            {{
                                'Discover what we´ve got: Browse the Hospitals, search and filter our Allocations or import new Data.'|trans
                            }}
                        </p>
                        <div class="btn-group"
                            role="group"
                            aria-label="Basic example">
                            <a class="btn btn-outline-light"
                                href="{{ path('app_dashboard') }}"
                                role="button">
                                {{ 'Go to dashboard'|trans }}
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>
                        {{ 'default.stats.title'|trans }}
                    </h2>
                    <p>
                        {{
                            'default.stats.text'|trans({
                                '%imports%': importCount|number_format(
                                    0,
                                    '',
                                    '.'
                                ),
                                '%hospitals%': hospitalCount|number_format(
                                    0,
                                    '',
                                    '.'
                                ),
                                '%allocations%': allocationCount|number_format(
                                    0,
                                    '',
                                    '.'
                                )
                            })
                        }}
                    </p>
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_statistics_index') }}"
                        role="button">
                        {{ 'View statistics'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
