{% extends 'base.html.twig' %}

{% block title %}
    {{ 'default.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">
                    {{ 'default.welcome.title'|trans }}
                </h1>
                <p class="col-md-8 fs-4">
                    {{ 'default.welcome.text'|trans }}
                </p>
            </div>
        </div>

        <div class="row align-items-md-stretch">
            <div class="col-md-6">
                <div class="h-100 p-5 text-white bg-secondary rounded-3">
                    <h2>
                        {{ 'default.login.title'|trans }}
                    </h2>
                    <p>
                        {{ 'default.login.text'|trans }}
                    </p>
                    <div class="btn-group"
                        role="group"
                        aria-label="Basic example">
                        <a class="btn btn-outline-light"
                            href="{{ path('app_login') }}"
                            role="button">
                            {{ 'link.login'|trans }}
                        </a>
                        <a class="btn btn-outline-light"
                            href="{{ path('app_register') }}"
                            role="button">
                            {{ 'link.register'|trans }}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="h-100 p-5 bg-light border rounded-3">
                    <h2>
                        {{ 'default.stats.title'|trans }}
                    </h2>
                    <p>
                        {{
                            'default.stats.text'|trans({
                                '%imports%': importCount,
                                '%hospitals%': hospitalCount,
                                '%allocations%': allocationCount
                            })
                        }}
                    </p>
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_statistics_index') }}"
                        role="button">
                        {{ 'link.statistics'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
