{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'title.contact.form'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% if is_granted('ROLE_USER') %}
                    {% set baseUrl = 'app_dashboard' %}
                {% else %}
                    {% set baseUrl = 'app_homepage' %}
                {% endif %}
                {{
                    breadcrumbs.render(
                        [
                            {
                                url: url(baseUrl),
                                label: 'home'|trans({}, 'breadcrumbs')
                            },
                            {
                                label: 'contact.form'|trans({}, 'breadcrumbs')
                            }
                        ]
                    )
                }}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h1>
                    <strong>{{ 'title.contact.form'|trans }}</strong>
                </h1>

                <div class="card">
                    <div class="card-body">
                        {{ form_start(form) }}

                        {{ form_widget(form) }}

                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
