{% extends 'base.html.twig' %}

{% block title %}
    {{ 'security.requestResetSend.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <p>
        {{ 'security.requestResetSend.message'|trans }}
        {{
            resetToken.expirationMessageKey|trans(
                resetToken.expirationMessageData,
                'ResetPasswordBundle'
            )
        }}.
    </p>
    <p>
        {{ 'security.requestResetSend.failure'|trans }}
        <a href="{{ path('app_forgot_password_request') }}">
            {{ 'security.requestResetSend.tryAgain'|trans }}
        </a>.
    </p>
{% endblock %}
