{% extends 'base.html.twig' %}

{% block title %}
    {{ 'security.requestReset.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            {{ 'Reset your password'|trans }}
        </h1>

        <div class="card">
            <div class="card-body">
                {% for flashError in app.flashes('reset_password_error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ flashError }}
                    </div>
                {% endfor %}

                {{ form_start(requestForm) }}
                {{ form_row(requestForm.email) }}
                <div>
                    <small>{{ 'security.requestReset.message'|trans }}</small>
                </div>

                <div class="float-end">
                    <button class="btn btn-primary">
                        {{ 'security.requestReset.button'|trans }}
                    </button>
                </div>

                {{ form_end(requestForm) }}
            </div>
        </div>
    </div>
{% endblock %}
