{% extends 'base.html.twig' %}

{% block title %}
    {{ 'security.reset.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>
            {{ 'Reset your password'|trans }}
        </h1>

        <p>
            {{ 'security.reset.message'|trans }}
        </p>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">
            {{ 'security.reset.button'|trans }}
        </button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
