{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Edit Import'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_import_index'),
                            label: 'Import'|trans
                        },
                        {
                            label: 'Edit Import'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="container">
        {% if is_granted('delete', import) %}
            <div class="float-end">
                {{ include('import/_delete_form.html.twig') }}
            </div>
        {% endif %}

        <h1>
            <strong>{{ 'Edit Import'|trans }}</strong>
        </h1>

        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <strong>{{ 'Please notice'|trans }}:</strong>
                    {{ 'Import edit infotext'|trans }}
                </div>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                <a class="btn btn-outline-primary"
                    href="{{
                    path(
                        'app_import_show',
                        {
                            id: import.id
                        }
                    )
                    }}"
                    role="button">
                    <i class="bi bi-search"></i>
                    {{ 'View Import'|trans }}
                </a>

                <div class="float-end">
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_import_index') }}">
                        {{ 'Back to imports'|trans({}, 'forms') }}
                    </a>
                    <button class="btn btn-success">
                        <i class="bi bi-check-circle"></i>
                        {{ 'Save Import'|trans({}, 'forms') }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
