{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'import.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            label: 'Import'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h1>
                {{ 'Your Imports'|trans }}
            </h1>

            {% if search %}
                <div class="alert alert-info" role="alert">
                    {{ 'Searching for'|trans }}: "<i>{{ search }}</i>" | <a href="{{
                        path(
                            'app_import_index',
                            app.request.query.all|merge({
                                search: '',
                                offset: '0'
                            })
                        )
                        }}">
                        {{ 'Click here to end search'|trans }}
                    </a>
                </div>
            {% endif %}

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Name'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'User'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Created at'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Status'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for import in imports %}
                        <tr>
                            <td>
                                {{ import.id }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_import_show',
                                        {
                                            id: import.id
                                        }
                                    )
                                    }}">
                                    {{ import.caption }}
                                </a>
                            </td>
                            <td>
                                {{ import.user.username }}
                            </td>
                            <td>
                                {% if import.hospital %}
                                    <a href="{{
                                        path(
                                            'app_hospital_show',
                                            {
                                                id: import.hospital.id
                                            }
                                        )
                                        }}">
                                        {{ import.hospital }}
                                    </a>
                                {% else %}
                                    {{ 'Import has no Hospital'|trans }}
                                {% endif %}
                            </td>
                            <td>
                                {{ import.createdAt|date('d.m.Y H:i') }}
                            </td>
                            <td>
                                {% if import.status == 'finished' %}
                                    <i class="bi bi-check-circle-fill text-success">

                                    </i>
                                {% elseif import.status == 'pending' %}
                                    <div class="spinner-border text-secondary spinner-border-sm"
                                        role="status">
                                        <span class="visually-hidden">
                                            {{ 'import.fields.loading'|trans }}
                                        </span>
                                    </div>
                                {% elseif import.status == 'processing' %}
                                    <div class="spinner-border text-primary spinner-border-sm"
                                        role="status">
                                        <span class="visually-hidden">
                                            {{ 'import.fields.loading'|trans }}
                                        </span>
                                    </div>
                                {% elseif import.status == 'failed' %}
                                    <i class="bi bi-exclamation-circle-fill text-warning">

                                    </i>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td scope="col" colspan="5" class="text-muted">
                                {{ 'import.noUploads'|trans }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% if (imports|length) > 0 %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {% if previous >= 0 %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="{{
                                    path(
                                        'app_import_index',
                                        app.request.query.all|merge({
                                            offset: previous
                                        })
                                    )
                                    }}">
                                    Previous
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"
                                    href="#"
                                    tabindex="-1"
                                    aria-disabled="true">
                                    Previous
                                </a>
                            </li>
                        {% endif %}
                        {% if next < (imports|length) %}
                            <li class="page-item">
                                <a class="page-link"
                                    href="{{
                                    path(
                                        'app_import_index',
                                        app.request.query.all|merge({
                                            offset: next
                                        })
                                    )
                                    }}">
                                    Next
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link"
                                    href="#"
                                    tabindex="-1"
                                    aria-disabled="true">
                                    Next
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
        </div>
        <div class="col-3">
            <p>
                <a class="btn btn-primary" href="{{ path('app_import_new') }}">
                    {{ 'Import new Data'|trans({}, 'forms') }}
                </a>
            </p>

            <div class="card">
                <div class="card-header">
                    {{ 'Filters'|trans({}, 'forms') }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Search'|trans }}
                    </h5>
                    <form>
                        <div class="input-group mb-3">
                            {% if search %}
                                <input type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ search }}"
                                    aria-label="{{ 'Search'|trans }}" />
                            {% else %}
                                <input type="text"
                                    name="search"
                                    class="form-control"
                                    placeholder="{{ 'Search...'|trans }}"
                                    aria-label="{{ 'Search'|trans }}" />
                            {% endif %}
                            <button type="submit"
                                class="btn btn-outline-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
