{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Create new Import'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_import_index'),
                            label: 'Import'|trans
                        },
                        {
                            label: 'Create new Import'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="container">
        <h1>
            <strong>{{ 'Create new Import'|trans }}</strong>
        </h1>

        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning" role="alert">
                    <strong>{{ 'Please notice'|trans }}:</strong>
                    {{ 'Import infotext'|trans }}
                </div>

                {{ form_start(form) }}

                {{ form_widget(form) }}

                <div class="float-end">
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_import_index') }}">
                        {{ 'Back to imports'|trans({}, 'forms') }}
                    </a>
                    <button class="btn btn-primary">
                        <i class="bi bi-folder-plus"></i>
                        {{ 'Import new Data'|trans({}, 'forms') }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
