{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View Import'|trans }}: {{ import.name }} (#{{ import.id }}) - {{
        parent()
    }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_import_index'),
                            label: 'Import'|trans
                        },
                        {
                            label: 'View Import'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    {% if is_granted('delete', import) %}
        <div class="float-end">
            {{ include('import/_delete.html.twig') }}
        </div>
    {% endif %}

    <h1>
        {{ 'View Import'|trans }}
        <small class="text-muted">(<i>#{{ import.id }}</i>)</small>
    </h1>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Basic information'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Caption'|trans }}
                    </h5>
                    <p>
                        {{ import.name }}
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'Content'|trans }}
                            </h5>
                            <p>
                                {{ import.contents }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'Status'|trans }}
                            </h5>
                            <p>
                                {{
                                    component(
                                        'status_polling',
                                        {
                                            importId: import.id
                                        }
                                    )
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {{
                component(
                    'import_polling',
                    {
                        importId: import.id
                    }
                )
            }}
        </div>

        <div class="col-md-4">
            <div class="card border-secondary mb-3">
                <div class="card-header bg-secondary text-white">
                    {{ 'Import details'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'Created by'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-person-fill"></i>
                        <strong>{{ import.user }}</strong>
                    </p>

                    <h5 class="card-title">
                        {{ 'Hospital'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-house"></i>
                        <strong>
                            <a href="{{
                                path(
                                    'app_hospital_show',
                                    {
                                        id: import.hospital.id
                                    }
                                )
                                }}">
                                {{ import.hospital }}
                            </a>
                        </strong>
                    </p>

                    <h5 class="card-title">
                        {{ 'Timestamps'|trans }}
                    </h5>
                    <p>
                        <i class="bi bi-clock"></i>
                        <strong>{{ 'Created at'|trans }}</strong>
                        {{ import.createdAt
                            ? import.createdAt|date('d.m.Y H:i')
                            : '' }}
                        <br />
                        <i class="bi bi-clock-history"></i>
                        <strong>{{ 'Last run at'|trans }}</strong>
                        {{ import.lastRun
                            ? import.lastRun|date('d.m.Y H:i')
                            : '' }}
                    </p>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="card border-warning text-warning mb-3">
                    <div class="card-header bg-warning text-white">
                        {{ 'Debugging'|trans }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ 'Download'|trans }}
                        </h5>

                        <p>
                            <a href="{{
                                path(
                                    'app_files_allocations',
                                    {
                                        id: import.id
                                    }
                                )
                                }}">
                                <i class="bi bi-file-earmark-arrow-down"></i>
                                {{ 'Get original import file'|trans }}
                            </a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <p>
            <a class="btn btn-outline-secondary"
                href="{{ path('app_import_index') }}"
                role="button">
                {{ 'Back to imports'|trans({}, 'forms') }}
            </a>
            {% if is_granted('delete', import) %}
                <a class="btn btn-primary"
                    href="{{
                    path(
                        'app_import_edit',
                        {
                            id: import.id
                        }
                    )
                    }}">
                    <i class="bi bi-pencil-fill"></i>
                    {{ 'Edit Import'|trans }}
                </a>
            {% endif %}
        </p>
    </div>
{% endblock %}
