{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'import.show.title'|trans }} (#{{ import.id }}) - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_import_index'),
                            label: 'Import'|trans
                        },
                        {
                            label: 'View Import'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="float-end">
        {{ include('import/_delete_form.html.twig') }}
    </div>

    <h1>
        {{ 'import.show.title'|trans }} - {{ import.caption }}
        <small>(<i>#{{ import.id }}</i>)</small>
    </h1>

    <div class="row">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-header">
                    {{ 'import.card.basics'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'import.field.caption'|trans }}
                    </h5>
                    <p>
                        {{ import.caption }}
                    </p>

                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'import.field.contents'|trans }}
                            </h5>
                            <p>
                                {{ import.contents }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h5 class="card-title">
                                {{ 'import.field.status'|trans }}
                            </h5>
                            <p>
                                {% if import.status == 'finished' %}
                                    <i class="bi bi-check-circle-fill text-success">

                                    </i>
                                {% elseif import.status == 'pending' %}
                                    <div class="spinner-border text-secondary spinner-border-sm"
                                        role="status">
                                        <span class="visually-hidden">
                                            {{ 'import.field.loading'|trans }}
                                        </span>
                                    </div>
                                {% elseif import.status == 'processing' %}
                                    <div class="spinner-border text-primary spinner-border-sm"
                                        role="status">
                                        <span class="visually-hidden">
                                            {{ 'import.field.loading'|trans }}
                                        </span>
                                    </div>
                                {% elseif import.status == 'failed' %}
                                    <i class="bi bi-exclamation-circle-fill text-warning">

                                    </i>
                                {% endif %}

                                {{ import.status }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    {{ 'import.card.details'|trans }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'import.field.error'|trans }}
                    </h5>
                    <p>
                        {% if import.lastError %}
                            {{ import.lastError }}
                        {% else %}
                            {{ 'import.field.noError'|trans }}
                        {% endif %}
                    </p>

                    <h5 class="card-title">
                        {{ 'import.field.statistics'|trans }}
                    </h5>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'import.field.itemCount'|trans }}
                            </h6>
                            <p>
                                {{ import.itemCount }}
                            </p>
                        </div>
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'import.field.runtime'|trans }}
                            </h6>
                            <p>
                                {{ import.duration|number_format(5, '.', ',') }}s
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h6 class="card-subtitle text-muted">
                                {{ 'import.field.timesRun'|trans }}
                            </h6>
                            <p>
                                {{ import.timesRun }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card border-primary mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'import.field.createdBy'|trans }}
                    </h5>
                    <p>
                        {{ import.user }}
                    </p>

                    <p>
                        {% if import.createdAt %}
                            {{
                                'import.field.createdAt'|trans({
                                    '%time%': import.createdAt|date(
                                        'd.m.Y H:i:s'
                                    )
                                })
                            }}
                        {% endif %}
                    </p>
                    <p>
                        {% if import.lastRun %}
                            {{
                                'import.field.lastRun'|trans({
                                    '%time%': import.lastRun|date('d.m.Y H:i:s')
                                })
                            }}
                        {% endif %}
                    </p>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="card border-warning text-warning mb-3">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ 'import.card.debugging'|trans }}
                        </h5>
                        <a href="{{
                            path(
                                'app_files_allocations',
                                {
                                    id: import.id
                                }
                            )
                            }}">
                            {{ 'import.field.download'|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-end mb-2">
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            {% if user_is_owner %}
                <a class="btn btn-outline-primary disabled"
                    href="#"
                    role="button">
                    {{ 'import.button.delete'|trans }}
                </a>
            {% endif %}
            <a class="btn btn-outline-primary"
                href="{{ path('app_import_index') }}"
                role="button">
                {{ 'import.link.back'|trans }}
            </a>
        </div>
    </div>
{% endblock %}
