{% extends 'data/_data_layout.html.twig' %}

{% block title %}
    {{ 'title.export'|trans({}, 'app') }} - {{ parent() }}
{% endblock %}

{% block breadcrumbs %}
    {{
        component(
            'breadcrumb',
            {
                items: [
                    {
                        url: url('app_export_index'),
                        label: 'title.export'|trans({}, 'app')
                    }
                ]
            }
        )
    }}
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="{{ path('app_export_allocation') }}"
            class="list-group-item list-group-item-action"
            aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    {{ 'title.export.allocation'|trans({}, 'app') }}
                </h5>
                <small class="text-success">
                    {{ 'info.export.available'|trans({}, 'app') }} <i class="bi bi-unlock-fill"></i>
                </small>
            </div>
            <p class="mb-1">
                {{ 'desc.export.allocation'|trans({}, 'app') }}
            </p>
        </a>
        {% if app.user.member %}
            <a href="{{ path('app_export_dgina23') }}"
               class="list-group-item list-group-item-action"
               aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        {{ 'title.export.dgina23'|trans({}, 'app') }}
                    </h5>
                    <small class="text-success">
                        {{ 'info.export.available'|trans({}, 'app') }} <i class="bi bi-unlock-fill"></i>
                    </small>
                </div>
                <p class="mb-1">
                    {{ 'desc.export.dgina23'|trans({}, 'app') }}
                </p>
            </a>
        {% else %}
                <a
                   class="list-group-item list-group-item-action"
                   aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            {{ 'title.export.dgina23'|trans({}, 'app') }}
                        </h5>
                        <small class="text-danger">
                            {{ 'info.export.restricted'|trans({}, 'app') }} <i class="bi bi-lock-fill"></i>
                        </small>
                    </div>
                    <p class="mb-1">
                        {{ 'desc.export.dgina23'|trans({}, 'app') }}
                    </p>
                </a>
        {% endif %}
    </div>
{% endblock %}
