{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Edit User'|trans }}: {{ user.username }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            url: url('app_settings_user_index'),
                            label: 'Users'|trans
                        },
                        {
                            label: 'Edit User'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                {{ include('settings/user/_delete_form.html.twig') }}
            </div>

            <h1>
                {{ 'Edit User'|trans({}, 'forms') }}
            </h1>

            {{ form_start(form) }}
            {{ form_row(form.username) }}

            {{ form_row(form.email) }}

            {{ form_row(form.plainPassword) }}

            {{ form_row(form.roles) }}

            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="btn btn-primary">
                    {{ 'Update User'|trans({}, 'forms') }}
                </button>
                <a class="btn btn-outline-secondary"
                    href="{{ path('app_settings_user_index') }}">
                    {{ 'Back to list'|trans({}, 'forms') }}
                </a>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
