{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Users'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'Users'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-primary"
                    href="{{ path('app_settings_user_new') }}">
                    {{ 'Create User'|trans({}, 'forms') }}
                </a>
            </div>

            <h1>
                {{ 'Users'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Users'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': users.count
                    })
                }}
            </p>

            <div class="card mb-3">
                <div class="card-header">
                    <a data-toggle="collapse"
                        href="#collapse-example"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-example"
                        aria-expanded="false"
                        class="collapsible d-block">
                        <i class="bi bi-chevron-bar-down float-end collapsed">

                        </i>
                        {{ 'Filters'|trans({}, 'forms') }}
                    </a>
                </div>
                <div id="collapse-example"
                    class="collapse"
                    aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                {{ form_start(sortForm) }}

                                {{ form_row(sortForm.sortBy) }}
                                {{ form_row(sortForm.orderBy) }}

                                {{ form_end(sortForm) }}
                            </div>
                            <div class="col">
                                {{ form(searchForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th style="width: 10%">
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <th style="width: 20%">
                            {{ 'Username'|trans({}, 'forms') }}
                        </th>
                        <th style="width: 20%">
                            {{ 'Roles'|trans({}, 'forms') }}
                        </th>
                        <th style="width: 20%">
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th style="width: 10%">
                            {{ 'Attributes'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>
                                {{ user.id }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_user_show',
                                        {
                                            id: user.id
                                        }
                                    )
                                    }}">
                                    {{ user.username }}
                                </a>
                            </td>
                            <td>
                                {% for role in user.roles|sort %}
                                    {% if role == 'ROLE_ADMIN' %}
                                        <span class="badge bg-primary">
                                            {{
                                                'Administrator'|trans(
                                                    {},
                                                    'forms'
                                                )
                                            }}
                                        </span>
                                    {% else %}
                                        <span class="badge bg-secondary">
                                            {{ 'User'|trans({}, 'forms') }}
                                        </span>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for hospital in user.hospitals %}
                                    <span class="badge bg-info">
                                        <a class="text-white"
                                            href="{{
                                            path(
                                                'app_settings_user_show',
                                                {
                                                    id: hospital.id
                                                }
                                            )
                                            }}">
                                            {{ hospital }}
                                        </a>
                                    </span>
                                {% endfor %}
                            </td>
                            <td>
                                {% if user.hasCredentialsExpired %}
                                    <i class="bi bi-dash-circle-fill text-warning"
                                        title="{{ 'Credentials are Expired'|trans }}">

                                    </i>
                                {% endif %}

                                {% if user.isVerified == true %}
                                    <i class="bi bi-check-circle-fill text-success"
                                        title="{{ 'User is verified'|trans }}">

                                    </i>
                                {% else %}
                                    <i class="bi bi-x-circle-fill text-danger"
                                        title="{{ 'User is not verified'|trans }}">

                                    </i>
                                {% endif %}

                                {% if user.isParticipant == true %}
                                    <i class="bi bi-unlock-fill text-success"
                                        title="{{ 'User is participant'|trans }}">

                                    </i>
                                {% else %}
                                    <i class="bi bi-lock-fill text-danger"
                                        title="{{ 'User no participant'|trans }}">

                                    </i>
                                {% endif %}
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">
                                {{ 'No Users found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_settings_user_index') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
