{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View User'|trans }}: {{ user.username }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            url: url('app_settings_user_index'),
                            label: 'Users'|trans
                        },
                        {
                            label: 'View User'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                {{ include('settings/user/_delete_form.html.twig') }}
            </div>

            <h1>
                {{ 'View User'|trans }}
            </h1>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th style="width: 30%">
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {{ user.id }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Username'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {{ user.username }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Email'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {{ user.email }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Roles'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {% for role in user.roles|sort %}
                                {% if role == 'ROLE_ADMIN' %}
                                    <span class="badge bg-primary">
                                        {{ 'Administrator'|trans({}, 'forms') }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-secondary">
                                        {{ 'User'|trans({}, 'forms') }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {% if user.hospitals.empty %}
                                <p>
                                    {{ 'No hospital linked to User'|trans }}
                                </p>
                            {% else %}
                                {% for hospital in user.hospitals %}
                                    <span class="badge bg-info">
                                        <a class="text-white"
                                            href="{{
                                            path(
                                                'app_settings_hospital_show',
                                                {
                                                    id: hospital.id
                                                }
                                            )
                                            }}">
                                            {{ hospital }}
                                        </a>
                                    </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            {{ 'Created at'|trans }}
                        </th>
                        <td>
                            {{
                                user.createdAt|date(
                                    'd.m.Y H:i',
                                    'Europe/Berlin'
                                )
                            }}
                        </td>
                    </tr>
                    {% if user.updatedAt %}
                        <tr>
                            <th scope="row">
                                {{ 'Updated at'|trans }}
                            </th>
                            <td>
                                {{
                                    user.updatedAt|date(
                                        'd.m.Y H:i',
                                        'Europe/Berlin'
                                    )
                                }}
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>
                            {{ 'Status'|trans({}, 'forms') }}
                        </th>
                        <td>
                            <ul>
                                {% if user.hasCredentialsExpired %}
                                    <li>
                                        <span class="badge bg-danger">
                                            {{
                                                'Credentials are Expired'|trans
                                            }}
                                        </span>
                                    </li>
                                {% else %}
                                    <li>
                                        <span class="badge bg-success">
                                            {{ 'Credentials are valid'|trans }}
                                        </span>
                                    </li>
                                {% endif %}
                                {% if user.isVerified %}
                                    <li>
                                        <span class="badge bg-success">
                                            {{ 'User is verified'|trans }}
                                        </span>
                                    </li>
                                {% else %}
                                    <li>
                                        <span class="badge bg-danger">
                                            {{ 'User is not verified'|trans }}
                                        </span>
                                    </li>
                                {% endif %}
                                {% if user.isParticipant %}
                                    <li>
                                        <span class="badge bg-success">
                                            {{ 'User is participant'|trans }}
                                        </span>
                                    </li>
                                {% else %}
                                    <li>
                                        <span class="badge bg-danger">
                                            {{ 'User no participant'|trans }}
                                        </span>
                                    </li>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Tasks'|trans }}
                        </th>
                        <td>
                            <a class="btn btn-secondary mb-1"
                                href="{{
                                path(
                                    'app_settings_user_welcome',
                                    {
                                        id: user.id
                                    }
                                )
                                }}">
                                <i class="bi bi-send"></i>
                                {{ 'Send Welcome E-Mail'|trans({}, 'forms') }}
                            </a>
                            {% if user.isVerified == true %}
                                <a class="btn btn-danger mb-1"
                                    href="{{
                                    path(
                                        'app_settings_user_verify',
                                        {
                                            id: user.id,
                                            action: 'unverify'
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-x-circle-fill"></i>
                                    {{ 'Unverify User'|trans({}, 'forms') }}
                                </a>
                            {% else %}
                                <a class="btn btn-success mb-1"
                                    href="{{
                                    path(
                                        'app_settings_user_verify',
                                        {
                                            id: user.id,
                                            action: 'verify'
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-check-circle-fill"></i>
                                    {{ 'Verify User'|trans({}, 'forms') }}
                                </a>
                            {% endif %}

                            {% if user.isParticipant == true %}
                                <a class="btn btn-danger mb-1"
                                    href="{{
                                    path(
                                        'app_settings_user_verify',
                                        {
                                            id: user.id,
                                            action: 'disable'
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-lock-fill"></i>
                                    {{
                                        'Disable Participation'|trans(
                                            {},
                                            'forms'
                                        )
                                    }}
                                </a>
                            {% else %}
                                <a class="btn btn-success mb-1"
                                    href="{{
                                    path(
                                        'app_settings_user_verify',
                                        {
                                            id: user.id,
                                            action: 'enable'
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-unlock-fill"></i>
                                    {{
                                        'Enable Participation'|trans(
                                            {},
                                            'forms'
                                        )
                                    }}
                                </a>
                            {% endif %}

                            {% if user.credentialsExpired == false %}
                                <a class="btn btn-outline-danger mb-1"
                                    href="{{
                                    path(
                                        'app_settings_user_expire',
                                        {
                                            id: user.id
                                        }
                                    )
                                    }}">
                                    <i class="bi bi-x-circle-fill"></i>
                                    {{
                                        'Expire Credentials'|trans({}, 'forms')
                                    }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Special'|trans }}
                        </th>
                        <td>
                            <a class="btn btn-outline-info"
                                href="{{
                                path(
                                    'app_settings',
                                    app.request.query.all|merge({
                                        _switch_user: user.username
                                    })
                                )
                                }}">
                                {{ 'Impersonate'|trans({}, 'forms') }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="float-right">
                <div class="btn-group float-right"
                    role="group"
                    aria-label="Basic example">
                    <a class="btn btn-primary"
                        href="{{
                        path(
                            'app_settings_user_edit',
                            {
                                id: user.id
                            }
                        )
                        }}">
                        {{ 'Edit User'|trans({}, 'forms') }}
                    </a>
                    <a class="btn btn-outline-secondary"
                        href="{{ path('app_settings_user_index') }}">
                        {{ 'Back to list'|trans({}, 'forms') }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
