{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Imports'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'Imports'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-primary"
                   href="{{ path('app_settings_import_new') }}">
                    {{ 'Create new Import'|trans({}, 'forms') }}
                </a>
            </div>

            <h1>
                {{ 'Imports'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Imports'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': imports.count
                    })
                }}
            </p>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Name'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'User'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Created at'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Status'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Actions'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for import in imports %}
                        <tr>
                            <td>
                                {{ import.id }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_import_show',
                                        {
                                            id: import.id
                                        }
                                    )
                                    }}">
                                    {{ import.caption }}
                                </a>
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_user_show',
                                        {
                                            id: import.user.id
                                        }
                                    )
                                    }}">
                                    {{ import.user.username }}
                                </a>
                            </td>
                            <td>
                                {% if import.hospital %}
                                    <a href="{{
                                        path(
                                            'app_settings_hospital_show',
                                            {
                                                id: import.hospital.id
                                            }
                                        )
                                        }}">
                                        {{ import.hospital }}
                                    </a>
                                {% else %}
                                    {{ 'Import has no Hospital'|trans }}
                                {% endif %}
                            </td>
                            <td>
                                {{ import.createdAt|date('d.m.Y H:i') }}
                            </td>
                            <td>
                                {% if import.status == 'finished' %}
                                    <i class="bi bi-check-circle-fill text-success">

                                    </i>
                                {% elseif import.status == 'pending' %}
                                    <div class="spinner-border text-secondary spinner-border-sm"
                                        role="status">
                                        <span class="visually-hidden">
                                            {{ 'import.fields.loading'|trans }}
                                        </span>
                                    </div>
                                {% elseif import.status == 'processing' %}
                                    <div class="spinner-border text-primary spinner-border-sm"
                                        role="status">
                                        <span class="visually-hidden">
                                            {{ 'import.fields.loading'|trans }}
                                        </span>
                                    </div>
                                {% elseif import.status == 'failed' %}
                                    <i class="bi bi-exclamation-circle-fill text-warning">

                                    </i>
                                {% endif %}
                            </td>
                            <td>
                                <a class="btn btn-outline-primary"
                                    href="{{
                                    path(
                                        'app_settings_import_edit',
                                        {
                                            id: import.id
                                        }
                                    )
                                    }}">
                                    {{ 'Edit'|trans({}, 'forms') }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                {{ 'No Imports found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                        'Showing Page page of pages'|trans({
                            '%page%': pages.page,
                            '%pages%': pages.last
                        })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                    pagination.navbar(
                        pages.last,
                        pages.page,
                        pages.previous,
                        pages.next
                    )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_hospital_index') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
