{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View Import'|trans }}: {{ import.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            url: url('app_settings_import_index'),
                            label: 'Imports'|trans
                        },
                        {
                            label: 'View Import'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                {{ include('settings/import/_delete_form.html.twig') }}
            </div>

            <h1>
                {{ 'View Import'|trans }}
                <small class="text-muted">#{{ import.id }}</small>
            </h1>

            <ul class="nav nav-tabs mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        {{ 'View Import'|trans }}
                    </a>
                </li>
                <li class="nav-item">
                    {% if import.skippedRows > 0 %}
                        <a class="nav-link"
                            aria-current="page"
                            href="{{
                            path(
                                'app_settings_import_show_skipped',
                                {
                                    id: import.id
                                }
                            )
                            }}">
                            {{ 'Skipped rows'|trans }}
                            <span class="badge bg-primary">
                                {{ import.skippedRows }}
                            </span>
                        </a>
                    {% else %}
                        <a class="nav-link disabled"
                            aria-current="page"
                            href="#">
                            {{ 'Skipped rows'|trans }}
                            <span class="badge bg-secondary">0</span>
                        </a>
                    {% endif %}
                </li>
            </ul>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th style="width: 30%">
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {{ import.id }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Name'|trans({}) }}
                        </th>
                        <td>
                            {{ import.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Hospital'|trans({}) }}
                        </th>
                        <td>
                            {% if import.hospital %}
                                <a href="{{
                                    path(
                                        'app_settings_hospital_show',
                                        {
                                            id: import.hospital.id
                                        }
                                    )
                                    }}">
                                    {{ import.hospital }}
                                </a>
                            {% else %}
                                {{ 'Import has no Hospital'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Created by'|trans({}) }}
                        </th>
                        <td>
                            <a href="{{
                                path(
                                    'app_settings_user_show',
                                    {
                                        id: import.user.id
                                    }
                                )
                                }}">
                                {{ import.user.username }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Status'|trans({}) }}
                        </th>
                        <td>
                            {{
                                component(
                                    'status_polling',
                                    {
                                        importId: import.id
                                    }
                                )
                            }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Statistics'|trans }}
                        </th>
                        <td>
                            <ul>
                                <li>
                                    {{ 'Item count'|trans }}: {{
                                        import.rowCount
                                    }}
                                </li>
                                <li>
                                    {{ 'Duration'|trans }}: {{ import.runtime
                                        / 1000 }}s
                                </li>
                                <li>
                                    {{ 'Times run'|trans }}: {{
                                        import.runCount
                                    }}
                                </li>
                                <li>
                                    {{ 'Skipped rows'|trans }}: {{
                                        import.skippedRows
                                    }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Import File'|trans }}
                        </th>
                        <td>
                            {% if import.filePath == 'dummy/path' %}
                                <p class="text-muted">
                                    <i class="bi bi-file-earmark-arrow-down">

                                    </i> /{{ import.filePath }}.{{
                                        import.fileExtension
                                    }} ({{ import.fileMimeType }})
                                </p>
                            {% else %}
                                <p class="text-wrap">
                                    <i class="bi bi-file-earmark-arrow-down">

                                    </i>
                                    <a href="{{
                                        path(
                                            'app_files_allocations',
                                            {
                                                id: import.id
                                            }
                                        )
                                        }}">
                                        /{{ import.filePath }}
                                    </a>
                                    (.<strong>
                                        {{ import.fileExtension }}
                                    </strong> | <em>
                                        {{ import.fileMimeType }}
                                    </em>)
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Tasks'|trans }}
                        </th>
                        <td>
                            {% if import.filePath == 'dummy/path' %}
                                <a class="btn btn-secondary disabled">
                                    {{ 'Refresh Import'|trans({}, 'forms') }}
                                </a>
                            {% else %}
                                <a class="btn btn-secondary"
                                    href="{{
                                    path(
                                        'app_settings_import_refresh',
                                        {
                                            id: import.id
                                        }
                                    )
                                    }}">
                                    {{ 'Refresh Import'|trans({}, 'forms') }}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-group" role="group">
                <a class="btn btn-primary"
                    href="{{
                    path(
                        'app_settings_import_edit',
                        {
                            id: import.id
                        }
                    )
                    }}">
                    Edit Import
                </a>
                <a class="btn btn-outline-secondary"
                    href="{{ path('app_settings_import_index') }}">
                    {{ 'Back to list'|trans({}, 'forms') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
