{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View Import'|trans }}: {{ import.caption }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            url: url('app_settings_import_index'),
                            label: 'Imports'|trans
                        },
                        {
                            label: 'View Import'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                {{ include('settings/import/_delete_form.html.twig') }}
            </div>

            <h1>
                {{ 'View Import'|trans }}
            </h1>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th style="width: 30%">
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {{ import.id }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Name'|trans({}) }}
                        </th>
                        <td>
                            {{ import.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Hospital'|trans({}) }}
                        </th>
                        <td>
                            {% if import.hospital %}
                                <a href="{{
                                    path(
                                        'app_settings_hospital_show',
                                        {
                                            id: import.hospital.id
                                        }
                                    )
                                    }}">
                                    {{ import.hospital }}
                                </a>
                            {% else %}
                                {{ 'Import has no Hospital'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Created by'|trans({}) }}
                        </th>
                        <td>
                            <a href="{{
                                path(
                                    'app_settings_user_show',
                                    {
                                        id: import.user.id
                                    }
                                )
                                }}">
                                {{ import.user.username }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Status'|trans({}) }}
                        </th>
                        <td>
                            {{
                                component(
                                    'status_polling',
                                    {
                                        importId: import.id
                                    }
                                )
                            }}
                        </td>
                    </tr>
                    {% if import.isFixture %}
                        <tr class="table-warning">
                            <th>
                                {{ 'Is Fixture?'|trans }}
                            </th>
                            <td>
                                <strong>
                                    {{ 'Import is a Fixture'|trans }}
                                </strong>
                            </td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>
                            {{ 'Errors'|trans }}
                        </th>
                        <td>
                            {% if import.lastError %}
                                {{ import.lastError }}
                            {% else %}
                                {{ 'No Errors'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Statistics'|trans }}
                        </th>
                        <td>
                            <ul>
                                <li>
                                    {{ 'Item count'|trans }}: {{
                                        import.rowCount
                                    }}
                                </li>
                                <li>
                                    {{ 'Duration'|trans }}: {{
                                        import.runtime|number_format(
                                            5,
                                            '.',
                                            ','
                                        )
                                    }}s
                                </li>
                                <li>
                                    {{ 'Times run'|trans }}: {{
                                        import.runCount
                                    }}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Import File'|trans }}
                        </th>
                        <td>
                            {% if import.isFixture %}
                                <p>
                                    /{{ import.path }}{{ import.extension }} ({{
                                        import.mimeType
                                    }})
                                </p>
                            {% else %}
                                <p class="text-wrap">
                                    <a href="{{
                                        path(
                                            'app_files_allocations',
                                            {
                                                id: import.id
                                            }
                                        )
                                        }}">
                                        /{{ import.path }}
                                    </a>
                                    (.<strong>{{ import.extension }}</strong> | <em>
                                        {{ import.mimeType }}
                                    </em>)
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Tasks'|trans }}
                        </th>
                        <td>
                            <a class="btn btn-secondary"
                                href="{{
                                path(
                                    'app_settings_import_refresh',
                                    {
                                        id: import.id
                                    }
                                )
                                }}">
                                {{ 'Refresh Import'|trans({}, 'forms') }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="btn-group" role="group">
                <a class="btn btn-primary"
                    href="{{
                    path(
                        'app_settings_import_edit',
                        {
                            id: import.id
                        }
                    )
                    }}">
                    Edit Import
                </a>
                <a class="btn btn-outline-secondary"
                    href="{{ path('app_settings_import_index') }}">
                    {{ 'Back to list'|trans({}, 'forms') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
