<h3>
    {{ 'Account'|trans }}
</h3>
<ul class="list-group mb-3">
    {% if
        app.request.attributes.get('_route') starts with 'app_settings_email' %}
        <li class="list-group-item active">
            <i class="bi bi-mailbox2"></i>
            <a class="text-light" href="{{ path('app_settings_email') }}">
                {{ 'E-Mail'|trans }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <i class="bi bi-mailbox"></i>
            <a href="{{ path('app_settings_email') }}">{{ 'E-Mail'|trans }}</a>
        </li>
    {% endif %}
    {% if
        app.request.attributes.get('_route')
            starts with 'app_settings_profile' %}
        <li class="list-group-item active">
            <i class="bi bi-people-fill"></i>
            <a class="text-light" href="{{ path('app_settings_profile') }}">
                {{ 'Profile'|trans }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <i class="bi bi-people"></i>
            <a href="{{ path('app_settings_profile') }}">
                {{ 'Profile'|trans }}
            </a>
        </li>
    {% endif %}
    {% if
        app.request.attributes.get('_route')
            starts with 'app_settings_password' %}
        <li class="list-group-item active">
            <i class="bi bi-shield-lock-fill"></i>
            <a class="text-light" href="{{ path('app_settings_password') }}">
                {{ 'Password'|trans }}
            </a>
        </li>
    {% else %}
        <li class="list-group-item">
            <i class="bi bi-shield-lock"></i>
            <a href="{{ path('app_settings_password') }}">
                {{ 'Password'|trans }}
            </a>
        </li>
    {% endif %}
</ul>

{% if is_granted('ROLE_ADMIN') %}
    <h3>
        {{ 'Administration'|trans }}
    </h3>
    <ul class="list-group">
        {% if
            app.request.attributes.get('_route')
                starts with 'app_settings_user' %}
            <li class="list-group-item active">
                <i class="bi bi-people-fill"></i>
                <a class="text-light"
                    href="{{ path('app_settings_user_index') }}">
                    {{ 'Users'|trans }}
                </a>
            </li>
        {% else %}
            <li class="list-group-item">
                <i class="bi bi-people"></i>
                <a href="{{ path('app_settings_user_index') }}">
                    {{ 'Users'|trans }}
                </a>
            </li>
        {% endif %}
        {% if
            app.request.attributes.get('_route')
                starts with 'app_settings_hospital' %}
            <li class="list-group-item active">
                <i class="bi bi-house-fill"></i>
                <a class="text-light"
                    href="{{ path('app_settings_hospital_index') }}">
                    {{ 'Hospitals'|trans }}
                </a>
            </li>
        {% else %}
            <li class="list-group-item">
                <i class="bi bi-house"></i>
                <a href="{{ path('app_settings_hospital_index') }}">
                    {{ 'Hospitals'|trans }}
                </a>
            </li>
        {% endif %}
        {% if
            app.request.attributes.get('_route')
                starts with 'app_settings_import' %}
            <li class="list-group-item active">
                <i class="bi bi-archive-fill"></i>
                <a class="text-light"
                    href="{{ path('app_settings_import_index') }}">
                    {{ 'Imports'|trans }}
                </a>
            </li>
        {% else %}
            <li class="list-group-item">
                <i class="bi bi-archive"></i>
                <a href="{{ path('app_settings_import_index') }}">
                    {{ 'Imports'|trans }}
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}
