{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Settings'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="row">
                <h1>
                    {{ 'Account'|trans }}
                </h1>

                <div class="col-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{{ path('app_settings_email') }}">
                                <i class="bi bi-mailbox"
                                    style="font-size: 5rem; color: cornflowerblue;">

                                </i><br />
                                {{ 'E-Mail'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{{ path('app_settings_profile') }}">
                                <i class="bi bi-people"
                                    style="font-size: 5rem; color: cornflowerblue;">

                                </i><br />

                                {{ 'Profile'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body text-center">
                            <a href="{{ path('app_settings_password') }}">
                                <i class="bi bi-shield-lock"
                                    style="font-size: 5rem; color: cornflowerblue;">

                                </i><br />
                                {{ 'Password'|trans }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="row mt-4">
                    <h1>
                        {{ 'Administration'|trans }}
                    </h1>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_settings_allocation_index'
                                    )
                                    }}">
                                    <i class="bi bi-collection"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Allocations'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_settings_hospital_index'
                                    )
                                    }}">
                                    <i class="bi bi-house"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Hospitals'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_settings_area_index') }}">
                                    <i class="bi bi-geo-alt"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Areas'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_settings_import_index'
                                    )
                                    }}">
                                    <i class="bi bi-archive"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Imports'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_settings_page_index') }}">
                                    <i class="bi bi-book"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Pages'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_settings_user_index') }}">
                                    <i class="bi bi-people"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Users'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_settings_task_index') }}">
                                    <i class="bi bi-list-check"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Tasks'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4">
                    <h1>
                        {{ 'System'|trans }}
                    </h1>

                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{ path('app_settings_config') }}">
                                    <i class="bi bi-gear"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Configuration'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <a href="{{
                                    path(
                                        'app_settings_cookie_consent'
                                    )
                                    }}">
                                    <i class="bi bi-award"
                                        style="font-size: 5rem; color: cornflowerblue;">

                                    </i><br />
                                    {{ 'Cookie Consent'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
