{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'welcome.title'|trans }} {{ parent() }}
{% endblock %}

{% block main %}
    <header class="bg-dark py-5">
        <div class="container px-5">
            <div class="px-4 py-4 my-4 text-center">
                <h1 class="display-5 fw-bold text-white">
                    {{ 'welcome.title'|trans }}
                </h1>
                <div class="col-lg-6 mx-auto">
                    <p class="lead text-white mb-3">
                        {{ 'welcome.text'|trans }}
                    </p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                        {% if not is_granted('ROLE_USER') %}
                            <a class="btn btn-primary btn-lg px-4 gap-3"
                                href="{{ path('app_login') }}"
                                role="button">
                                {{ 'link.login.action'|trans }}
                            </a>
                        {% else %}
                            <a class="btn btn-primary btn-lg px-4 gap-3"
                                href="{{ path('app_dashboard') }}"
                                role="button">
                                {{ 'link.dashboard.action'|trans }}
                            </a>
                        {% endif %}
                        {% if has_page('about') %}
                            <a class="btn btn-outline-secondary btn-lg px-4 gap-3"
                                href="{{ path('app_page_about') }}"
                                role="button">
                                {{ 'link.learn_more'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main class="flex-shrink-0">
        {% if app_enable_features %}
            <section class="py-5 border-bottom" id="features">
                <div class="container px-5 my-5">
                    <div class="row">
                        <div class="col-lg-3 mb-5 mb-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <i class="bi bi-patch-check"></i>
                            </div>
                            <h2 class="h4 fw-bolder">
                                {{
                                    'app.homepage.independency'|trans({}, 'app')
                                }}
                            </h2>
                            <p>
                                {{
                                    'app.homepage.independency.text'|trans(
                                        {},
                                        'app'
                                    )
                                }}
                            </p>
                            {% if has_page('about') %}
                                <a class="text-decoration-none"
                                    href="{{ path('app_page_about') }}">
                                    {{
                                        'app.homepage.go_about'|trans({}, 'app')
                                    }}
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-lg-3 mb-5 mb-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <i class="bi bi-building"></i>
                            </div>
                            <h2 class="h4 fw-bolder">
                                {{ 'app.homepage.users'|trans({}, 'app') }}
                            </h2>
                            <p>
                                {{ 'app.homepage.users.text'|trans({}, 'app') }}
                            </p>
                            <a class="text-decoration-none"
                                href="{{
                                path(
                                    'app_page_features'
                                )
                                }}#hospitals">
                                {{ 'app.homepage.go_users'|trans({}, 'app') }}
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <div class="col-lg-3 mb-5 mb-lg-0">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <i class="bi bi-search"></i>
                            </div>
                            <h2 class="h4 fw-bolder">
                                {{ 'app.homepage.explore'|trans({}, 'app') }}
                            </h2>
                            <p>
                                {{
                                    'app.homepage.explore.text'|trans({}, 'app')
                                }}
                            </p>
                            <a class="text-decoration-none"
                                href="{{ path('app_page_features') }}#explore">
                                {{ 'app.homepage.go_explore'|trans({}, 'app') }}
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                                <i class="bi bi-graph-up"></i>
                            </div>
                            <h2 class="h4 fw-bolder">
                                {{ 'app.homepage.stats'|trans({}, 'app') }}
                            </h2>
                            <p>
                                {{ 'app.homepage.stats.text'|trans({}, 'app') }}
                            </p>
                            <a class="text-decoration-none"
                                href="{{
                                path(
                                    'app_page_features'
                                )
                                }}#statistics">
                                {{ 'app.homepage.go_stats'|trans({}, 'app') }}
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        <section class="bg-light py-3">
            <div class="container px-3 my-3">
                <div class="text-center mb-4">
                    <h2 class="fw-bolder">
                        {{ 'app.homepage.overview'|trans({}, 'app') }}
                    </h2>
                    <p class="lead mb-0">
                        {{ 'app.homepage.overview.teaser'|trans({}, 'app') }}
                    </p>
                </div>
                <div class="row gx-3 justify-content-center">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-3">
                        <div class="col d-flex align-items-start">
                            <i class="bi bi-person-fill flex-shrink-0 me-3"
                                style="font-size: 1.75em">

                            </i>
                            <div>
                                <h4 class="fw-bold mb-0">
                                    {{ userCount|number_format(0, '', '.') }}
                                    {{ 'Users'|trans }}
                                </h4>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <i class="bi bi-house-door-fill flex-shrink-0 me-3"
                                style="font-size: 1.75em">

                            </i>
                            <div>
                                <h4 class="fw-bold mb-0">
                                    {{
                                        hospitalCount|number_format(0, '', '.')
                                    }}
                                    {{ 'Hospitals'|trans }}
                                </h4>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <i class="bi bi-list-ul flex-shrink-0 me-3"
                                style="font-size: 1.75em">

                            </i>
                            <div>
                                <h4 class="fw-bold mb-0">
                                    {{
                                        allocationCount|number_format(
                                            0,
                                            '',
                                            '.'
                                        )
                                    }}
                                    {{ 'Allocations'|trans }}
                                </h4>
                            </div>
                        </div>
                        <div class="col d-flex align-items-start">
                            <i class="bi bi-file-earmark-arrow-up-fill flex-shrink-0 me-3"
                                style="font-size: 1.75em">

                            </i>
                            <div>
                                <h4 class="fw-bold mb-0">
                                    {{ importCount|number_format(0, '', '.') }}
                                    {{ 'Imports'|trans }}
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {% if app_enable_blog %}
            <section class="py-3 border-top">
                <div class="container px-3 my-3 px-3">
                    <div class="text-center mb-4">
                        <h2 class="fw-bolder">
                            {{ 'app.homepage.blog'|trans({}, 'app') }}
                        </h2>
                        <p class="lead mb-0">
                            {{ 'app.homepage.blog.teaser'|trans({}, 'app') }}
                        </p>
                    </div>
                    <div class="row gx-3 justify-content-center">
                        <div class="col-lg-8">
                            {% for post in posts %}
                                <div class="card mb-3">
                                    <div class="card-body p-4">
                                        <div class="d-flex">
                                            {% include 'website/blog/_listed_post_preview.html.twig' with {
                                                post: post
                                            } %}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <p class="text-center">
                                <a class="text-decoration-none"
                                    href="{{ path('app_blog') }}">
                                    {{
                                        'app.homepage.go_to_blog'|trans(
                                            {},
                                            'app'
                                        )
                                    }}
                                    <i class="bi bi-arrow-right"></i>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}
