{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    {{
        'notification.import.skipped'|trans(
            {
                '%importName%': importName,
                '%importUser%': importUser,
                '%importHospital%': importHospital
            },
            'emails'
        )
    }}

    {% if exception is defined %}
        <p>
            {{ exception.message }}
        </p>
        <p>
            {{ exception.file }}: {{ exception.line }}<br />
        </p>
        <small>{{ exception.traceAsString }}</small>
    {% endif %}
{% endblock %}
