{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <p>
        <strong>Import:</strong> {{ import.name }}<br />
        <strong>User:</strong> {{ import.user }}<br />
        <strong>Hospital:</strong> {{ import.hospital }}
    </p>

    {% if exception is defined %}
        <p>
            {{ exception.message }}
        </p>
    {% endif %}
{% endblock %}

{% block action %}
    {% if exception is defined %}
        <p>
            No actions available.
        </p>
    {% else %}
        <spacer size="16"></spacer>
        <button href="{{
            url(
                'app_settings_import_show',
                {
                    id: import.id
                }
            )
            }}">
            {{ 'Review import'|trans([], 'emails') }}
        </button>
    {% endif %}
{% endblock %}
