<div class="toast show position-fixed bottom-0 end-0"
    role="alert"
    aria-live="assertive"
    aria-atomic="true">
    <div class="d-flex">
        <div class="toast-body">
            {{
                'This website is using cookies, you have to accept necessary cookies to proceed.'|trans
            }}

            {{ form_start(consentForm) }}

            <strong>{{ 'Options'|trans }}:</strong>
            {{ form_widget(consentForm.categories) }}

            {{
                form_widget(
                    consentForm.target,
                    {
                        value: app.request.pathInfo
                    }
                )
            }}

            <div class="mt-2 pt-2 border-top">
                {{ form_widget(consentForm.submit) }}
                {% if has_page('privacy') %}
                    <a class="btn btn-sm btn-outline-primary"
                        href="{{
                        path(
                            'app_page',
                            {
                                slug: get_slug('privacy')
                            }
                        )
                        }}">
                        {{ 'Learn more'|trans }}
                    </a>
                {% endif %}
                <button type="button"
                    class="btn btn-secondary btn-sm"
                    data-bs-dismiss="toast">
                    {{ 'Dismiss'|trans }}
                </button>
            </div>

            {{ form_end(consentForm) }}
        </div>
    </div>
</div>
