{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Allocations'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'Allocations'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Allocations'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Allocations'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': allocations.count
                    })
                }}
            </p>

            <div class="card mb-3">
                <div class="card-header">
                    <a data-toggle="collapse"
                        href="#collapse-example"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-example"
                        aria-expanded="false"
                        class="collapsible d-block">
                        <i class="bi bi-chevron-bar-down float-end collapsed">

                        </i>
                        {{ 'Filters'|trans({}, 'forms') }}
                    </a>
                </div>
                <div id="collapse-example"
                    class="collapse"
                    aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                {{ form(searchForm) }}

                                <hr />

                                {{ form_start(sortForm) }}

                                {{ form_row(sortForm.sortBy) }}
                                {{ form_row(sortForm.orderBy) }}

                                {{ form_end(sortForm) }}

                                {{ form_start(allocationForm) }}

                                {{ form_row(allocationForm.ownHospitals) }}
                            </div>
                            <div class="col">
                                <h5>
                                    {{ 'Filter by Location'|trans }}
                                </h5>

                                {{
                                    form_row(
                                        allocationForm.state,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.dispatchArea,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.supplyArea,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                <h5>
                                    {{ 'Filter by Dates'|trans }}
                                </h5>

                                <div class="input-group mb-3">
                                    {{
                                        form_widget(
                                            allocationForm.startDate,
                                            {
                                                label: false
                                            }
                                        )
                                    }}

                                    {{
                                        form_widget(
                                            allocationForm.endDate,
                                            {
                                                label: false
                                            }
                                        )
                                    }}
                                </div>
                                <h5>
                                    {{ 'Filter by Properties'|trans }}
                                </h5>

                                {{
                                    form_row(
                                        allocationForm.indication,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.speciality,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.specialityDetail,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.urgency,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.infection,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                <div class="row mb-3">
                                    <div class="col-6">
                                        {{
                                            form_widget(
                                                allocationForm.requiresResus
                                            )
                                        }}
                                    </div>
                                    <div class="col-6">
                                        {{
                                            form_widget(
                                                allocationForm.requiresCathlab
                                            )
                                        }}
                                    </div>
                                    <div class="col-6">
                                        {{ form_widget(allocationForm.isCPR) }}
                                    </div>
                                    <div class="col-6">
                                        {{
                                            form_widget(
                                                allocationForm.isVentilated
                                            )
                                        }}
                                    </div>
                                    <div class="col-6">
                                        {{
                                            form_widget(allocationForm.isShock)
                                        }}
                                    </div>
                                    <div class="col-6">
                                        {{
                                            form_widget(
                                                allocationForm.isWithPhysician
                                            )
                                        }}
                                    </div>
                                    <div class="col-6">
                                        {{
                                            form_widget(
                                                allocationForm.isPregnant
                                            )
                                        }}
                                    </div>
                                    <div class="col-6">
                                        {{
                                            form_widget(
                                                allocationForm.isWorkAccident
                                            )
                                        }}
                                    </div>
                                </div>

                                <h5>
                                    {{ 'Filter by Transport'|trans }}
                                </h5>

                                {{
                                    form_row(
                                        allocationForm.assignment,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.occasion,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.modeOfTransport,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                {{
                                    form_row(
                                        allocationForm.secondaryDeployment,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                <h5>
                                    {{ 'Admin filters'|trans }}
                                </h5>
                                {{
                                    form_row(
                                        allocationForm.owner,
                                        {
                                            label: false
                                        }
                                    )
                                }}
                                {{
                                    form_row(
                                        allocationForm.hospital,
                                        {
                                            label: false
                                        }
                                    )
                                }}

                                <div class="row">
                                    <div class="col">
                                        {{ form_row(allocationForm.submit) }}
                                    </div>
                                    <div class="col">
                                        <div class="float-end">
                                            {{ form_row(allocationForm.reset) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Created at'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Import'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Actions'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in allocations %}
                        <tr>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_allocation_show',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    {{ allocation.id }}
                                </a>
                            </td>
                            <td>
                                {{ allocation.createdAt|date('d.m.Y H:i:s') }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_hospital_show',
                                        {
                                            id: allocation.hospital
                                        }
                                    )
                                    }}">
                                    {{ allocation.hospital.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_import_show',
                                        {
                                            id: allocation.import.id
                                        }
                                    )
                                    }}">
                                    {{ allocation.import.name }}
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary"
                                    href="{{
                                    path(
                                        'app_settings_allocation_show',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    {{ 'Show'|trans({}, 'forms') }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                {{ 'No Allocations found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_hospital_index') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
