{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Allocations'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'Allocations'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Allocations'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Allocations'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': allocations.count
                    })
                }}
            </p>

            <div class="card mb-3">
                <div class="card-header">
                    <a data-toggle="collapse"
                        href="#collapse-example"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-example"
                        aria-expanded="false"
                        class="collapsible d-block">
                        <i class="bi bi-chevron-bar-down float-end collapsed">

                        </i>
                        {{ 'Filters'|trans({}, 'forms') }}
                    </a>
                </div>
                <div id="collapse-example"
                    class="collapse"
                    aria-labelledby="heading-example">
                    <div class="card-body">
                        <h5 class="card-title">
                            Search
                        </h5>
                        <form>
                            <div class="input-group mb-3">
                                {% if filters.search %}
                                    <input type="text"
                                        name="search"
                                        class="form-control"
                                        placeholder="{{ filters.search }}"
                                        aria-label="Search" />
                                {% else %}
                                    <input type="text"
                                        name="search"
                                        class="form-control"
                                        placeholder="Search..."
                                        aria-label="Search" />
                                {% endif %}
                                <button type="submit"
                                    class="btn btn-outline-secondary">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </form>

                        <h5 class="card-title">
                            {{ 'Filter by SupplyArea'|trans }}
                        </h5>
                        <p>
                            {% for supplyArea in supplyAreas %}
                                {% if
                                    supplyArea.name == filters.supplyArea %}
                                    <span class="badge bg-warning">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_settings_allocation_index',
                                                app.request.query.all|merge({
                                                    supplyArea: '',
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ supplyArea.name }}
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="badge bg-primary">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_settings_allocation_index',
                                                app.request.query.all|merge({
                                                    supplyArea: supplyArea.name,
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ supplyArea.name }}
                                        </a>
                                    </span>
                                {% endif %}
                            {% else %}
                                {{ 'No SupplyAreas found'|trans }}
                            {% endfor %}
                        </p>

                        <h5 class="card-title">
                            {{ 'Filter by DispatchArea'|trans }}
                        </h5>
                        <p>
                            {% for dispatchArea in dispatchAreas %}
                                {% if
                                    dispatchArea.name
                                        == filters.dispatchArea %}
                                    <span class="badge bg-warning">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_settings_allocation_index',
                                                app.request.query.all|merge({
                                                    dispatchArea: '',
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ dispatchArea.name }}
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="badge bg-primary">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_settings_allocation_index',
                                                app.request.query.all|merge({
                                                    dispatchArea: dispatchArea.name,
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ dispatchArea.name }}
                                        </a>
                                    </span>
                                {% endif %}
                            {% else %}
                                {{ 'No DispatchAreas found'|trans }}
                            {% endfor %}
                        </p>

                        <h5 class="card-title">
                            {{ 'Filter by Hospital'|trans }}
                        </h5>
                        <p class="mb-2">
                            {% for hospital in hospitals %}
                                {% if hospital.id == filters.hospital %}
                                    <span class="badge bg-warning">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_settings_allocation_index',
                                                app.request.query.all|merge({
                                                    hospital: '',
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </span>
                                {% else %}
                                    <span class="badge bg-primary">
                                        <i class="bi bi-tag"></i>
                                        <a class="link-light"
                                            href="{{
                                            path(
                                                'app_settings_allocation_index',
                                                app.request.query.all|merge({
                                                    hospital: hospital.id,
                                                    offset: '0'
                                                })
                                            )
                                            }}">
                                            {{ hospital.name }}
                                        </a>
                                    </span>
                                {% endif %}
                            {% else %}
                                {{ 'No Hospitals found'|trans }}
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Created at'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Hospital'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Import'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Actions'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for allocation in allocations %}
                        <tr>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_allocation_show',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    {{ allocation.id }}
                                </a>
                            </td>
                            <td>
                                {{ allocation.createdAt|date('d.m.Y H:i:s') }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_hospital_show',
                                        {
                                            id: allocation.hospital
                                        }
                                    )
                                    }}">
                                    {{ allocation.hospital.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_import_show',
                                        {
                                            id: allocation.import.id
                                        }
                                    )
                                    }}">
                                    {{ allocation.import.caption }}
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary"
                                    href="{{
                                    path(
                                        'app_settings_allocation_edit',
                                        {
                                            id: allocation.id
                                        }
                                    )
                                    }}">
                                    {{ 'Edit'|trans({}, 'forms') }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                {{ 'No Allocations found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_hospital_index') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
