{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'Edit Dispatch Area'|trans }}: {{ area.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
            breadcrumbs.render(
                [
                    {
                        url: url('app_dashboard'),
                        label: 'Home'|trans
                    },
                    {
                        url: url('app_settings'),
                        label: 'Settings'|trans
                    },
                    {
                        url: url('app_settings_area_index'),
                        label: 'Areas'|trans
                    },
                    {
                        label: 'Edit Dispatch Area'|trans
                    }
                ]
            )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'Edit Dispatch Area'|trans }}
            </h1>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}
