{% extends 'base.html.twig' %}

{% block title %}
    {{ page.title }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {% block breadcrumbs %}
                    {{
                        component(
                            'breadcrumb',
                            {
                                items: [
                                    {
                                        label: page.title
                                    }
                                ]
                            }
                        )
                    }}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                {% block content %}
                    {% if is_granted('edit', page) %}
                        {% set url =
                            ea_url().setController(
                                'App\\Controller\\Admin\\PageCrudController'
                            ).setAction(
                                'edit'
                            ).setEntityId(
                                page.id
                            )
                        %}
                        <div class="float-end">
                            <a class="btn btn-outline-primary" href="{{ url }}">
                                <i class="bi bi-pencil-fill"></i>
                            </a>
                        </div>
                    {% endif %}
                    <h1>
                        {{ page.title }}
                        {% if page.status.value == 'Draft' %}
                            <small>
                                <i class="bi bi-cone-striped text-warning"></i>
                            </small>
                        {% endif %}
                        {% if page.visibility.value == 'Private' %}
                            <small>
                                <i class="bi bi-lock-fill text-muted"></i>
                            </small>
                        {% endif %}
                    </h1>

                    {{ page.content|raw }}
                {% endblock %}
            </div>

            <div class="col-md-4">
                {% block aside %}
                    {% block aside_top %}
                        <div class="p-4 mb-3 bg-light rounded">
                            <h4 class="fst-italic">
                                {{ 'page.about'|trans({}, 'app') }}
                            </h4>
                            <p>
                                {% if page.updatedAt %}
                                    {{ 'Updated by'|trans }}: {{
                                        page.updatedBy
                                    }}. {{ 'Updated at'|trans }}: {{
                                        page.updatedAt|date('d.m.Y H:i')
                                    }}.
                                {% else %}
                                    {{ 'Created by'|trans }}: {{
                                        page.createdBy
                                    }}. {{ 'Created at'|trans }}: {{
                                        page.createdAt|date('d.m.Y H:i')
                                    }}.
                                {% endif %}
                            </p>
                        </div>
                    {% endblock %}
                    {% block aside_body %}

                    {% endblock %}
                    {% block aside_bottom %}

                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
