{% extends 'website/page/_page_layout.html.twig' %}

{% block aside_body %}
    <div class="position-sticky" style="top: 2rem;">
        <div class="card">
            <div class="card-header">
                {{ 'page.important_users'|trans({}, 'app') }}
            </div>
            <div class="card-body">
                <h5>
                    {{ 'page.admin_users'|trans({}, 'app') }}
                </h5>
                <ul class="list-unstyled">
                    {% for user in users %}
                        {% if user.isAdmin %}
                            <li>
                                <i class="bi bi-shield-exclamation"></i>
                                <a href="{{
                                    path(
                                        'app_user_profile',
                                        {
                                            username: user.username
                                        }
                                    )
                                    }}">
                                    {{ user.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <h5>
                    {{ 'page.member_users'|trans({}, 'app') }}
                </h5>
                <ul class="list-unstyled">
                    {% for user in users %}
                        {% if user.isMember %}
                            <li>
                                <i class="bi bi-person-fill"></i>
                                <a href="{{
                                    path(
                                        'app_user_profile',
                                        {
                                            username: user.username
                                        }
                                    )
                                    }}">
                                    {{ user.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="p-4">
            <p>
                {{ 'text.contact_us'|trans({}, 'app') }}
            </p>
            <p>
                <a class="text-decoration-none"
                    href="{{ path('app_contact') }}">
                    {{ 'link.to.contact'|trans({}, 'app') }}
                    <i class="bi bi-arrow-right"></i>
                </a>
            </p>
        </div>

        <div class="p4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4">
                    {{ component('page_menu') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
