{% extends 'website/page/_page_layout.html.twig' %}

{% block aside_body %}
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3">
            <h4 class="fst-italic">
                {{ 'page.contact'|trans({}, 'app') }}
            </h4>
            <p>
                {{ 'text.contact_us'|trans({}, 'app') }}
            </p>
            <p>
                <a class="text-decoration-none"
                    href="{{ path('app_contact') }}">
                    {{ 'link.to.contact'|trans({}, 'app') }}
                    <i class="bi bi-arrow-right"></i>
                </a>
            </p>
        </div>

        <div class="p4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4">
                    {{ component('page_menu') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
