{% extends 'website/page/_page_layout.html.twig' %}

{% block aside_body %}
    <div class="position-sticky" style="top: 2rem;">
        <div class="card">
            <div class="card-header">
                {{ 'Cookie Consent'|trans }}
            </div>
            <div class="card-body">
                <p>
                    {{
                        'This website is using cookies, you have to accept necessary cookies to proceed.'|trans
                    }}
                    {{ 'You will find more information on this page.'|trans }}
                </p>

                {{ form_start(consentForm) }}

                <strong>{{ 'Options'|trans }}:</strong>
                {{ form_widget(consentForm.categories) }}

                {{
                    form_widget(
                        consentForm.target,
                        {
                            value: app.request.pathInfo
                        }
                    )
                }}

                <div class="mt-2 pt-2">
                    {{ form_widget(consentForm.submit) }}
                </div>

                {{ form_end(consentForm) }}
            </div>
        </div>

        <div class="p4">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4">
                    {{ component('page_menu') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
