<div {{ attributes }}>
    <h4 class="fst-italic">
        {{ 'title.blog.categories'|trans({}, 'app') }}
    </h4>
    <ol class="list-unstyled mb-0">
        {% for category in this.categories %}
            <li>
                <a href="{{
                    path(
                        'app_blog_category',
                        {
                            category: category
                        }
                    )
                    }}">
                    {{ category.name }}
                </a>
            </li>
        {% else %}
            {{ 'blog.post.no_categories'|trans({}, 'app') }}
        {% endfor %}
    </ol>
</div>
