<div {{ attributes }}>
    <h4 class="fst-italic">
        {{ 'title.blog.recent_posts'|trans({}, 'app') }}
    </h4>
    <ol class="list-unstyled mb-0">
        {% for post in this.recentPosts %}
            <li>
                <!-- prettier-ignore-start -->
                <a href="{{ path('app_post', {slug: post.slug}) }}">{{ post.title }}</a> ({{ post.createdAt|date }})
                <!-- prettier-ignore-end -->
            </li>
        {% else %}
            <li>Sorry, there are no posts!</li>
        {% endfor %}
    </ol>
</div>
