<div {{ attributes }}
        data-poll="delay(2000)|$render"
>
    {% if this.status == 'success' %}
            <a class="btn btn-outline-primary" href="{{ path('app_import_show', {id: this.id}) }}" role="button"><i class="bi bi-check-circle text-success">

                </i>{{ 'View Import'|trans() }}</a>
    {% elseif this.status == 'pending' %}
        <a class="btn btn-primary disabled" href="#">
            <span class="spinner-border spinner-border-sm" role="status"></span>
                {{ 'View Import'|trans() }}
        </a>
    {% elseif this.status == 'incomplete' %}
            <a class="btn btn-outline-primary" href="{{ path('app_import_show', {id: this.id}) }}" role="button"><i class="bi bi-exclamation-triangle text-warning">

                </i>{{ 'View Import'|trans() }}</a>
    {% elseif this.status == 'failure' %}
            <a class="btn btn-outline-primary" href="{{ path('app_import_show', {id: this.id}) }}" role="button"><i class="bi bi-exclamation-circle text-danger">

                </i>{{ 'View Import'|trans() }}</a>
    {% elseif this.status == 'empty' %}
            <a class="btn btn-outline-primary" href="{{ path('app_import_show', {id: this.id}) }}" role="button"><i class="bi bi-exclamation-circle text-danger">

                </i>{{ 'View Import'|trans() }}</a>
    {% endif %}
</div>
