{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}
{% import '_elements/macro/pagination.html.twig' as pagination %}
{% import '_elements/macro/filters.html.twig' as filter %}

{% block title %}
    {{ 'Hospitals'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'Hospitals'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                <a class="btn btn-primary"
                    href="{{ path('app_settings_hospital_new') }}">
                    {{ 'Create new Hospital'|trans({}, 'forms') }}
                </a>
            </div>

            <h1>
                {{ 'Hospitals'|trans }}
            </h1>

            <p>
                {{
                    'Showing count Hospitals'|trans({
                        '%perPage%': pages.perPage,
                        '%count%': hospitals.count
                    })
                }}
            </p>

            <div class="card mb-3">
                <div class="card-header">
                    <a data-toggle="collapse"
                        href="#collapse-example"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse-example"
                        aria-expanded="false"
                        class="collapsible d-block">
                        <i class="bi bi-chevron-bar-down float-end collapsed">

                        </i>
                        {{ 'Filters'|trans({}, 'forms') }}
                    </a>
                </div>
                <div id="collapse-example"
                    class="collapse"
                    aria-labelledby="heading-example">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                {{ form(searchForm) }}

                                {{ form_start(sortForm) }}

                                {{ form_row(sortForm.sortBy) }}
                                {{ form_row(sortForm.orderBy) }}

                                {{ form_end(sortForm) }}
                            </div>
                            <div class="col">
                                {{ form_start(hospitalForm) }}

                                {{ form_row(hospitalForm.owner) }}

                                {{ form_row(hospitalForm.ownHospitals) }}

                                {{ form_row(hospitalForm.location) }}

                                {{ form_row(hospitalForm.size) }}

                                {{ form_row(hospitalForm.state) }}

                                {{ form_row(hospitalForm.dispatchArea) }}

                                {{ form_row(hospitalForm.supplyArea) }}

                                <div class="row">
                                    <div class="col">
                                        {{ form_row(hospitalForm.submit) }}
                                    </div>
                                    <div class="col">
                                        <div class="float-end">
                                            {{ form_row(hospitalForm.reset) }}
                                        </div>
                                    </div>
                                </div>

                                {{ form_end(hospitalForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Name'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Owner'|trans({}, 'forms') }}
                        </th>
                        <th>
                            {{ 'Actions'|trans({}, 'forms') }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for hospital in hospitals %}
                        <tr>
                            <td>
                                {{ hospital.id }}
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_hospital_show',
                                        {
                                            id: hospital.id
                                        }
                                    )
                                    }}">
                                    {{ hospital.name }}
                                </a>
                            </td>
                            <td>
                                <a href="{{
                                    path(
                                        'app_settings_user_show',
                                        {
                                            id: hospital.owner.id
                                        }
                                    )
                                    }}">
                                    {{ hospital.owner }}
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-outline-primary"
                                    href="{{
                                    path(
                                        'app_settings_hospital_edit',
                                        {
                                            id: hospital.id
                                        }
                                    )
                                    }}">
                                    {{ 'Edit'|trans({}, 'forms') }}
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">
                                {{ 'No Hospitals found'|trans({}, 'forms') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="row">
                <div class="col-2">
                    <p class="text-muted">
                        {{
                            'Showing Page page of pages'|trans({
                                '%page%': pages.page,
                                '%pages%': pages.last
                            })
                        }}
                    </p>
                </div>
                <div class="col-8">
                    {{
                        pagination.navbar(
                            pages.last,
                            pages.page,
                            pages.previous,
                            pages.next
                        )
                    }}
                </div>
                <div class="col-2">
                    {{ pagination.goTo('app_hospital_index') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
