{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'View Hospital'|trans }}: {{ hospital.name }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            url: url('app_settings_hospital_index'),
                            label: 'Hospitals'|trans
                        },
                        {
                            label: 'View Hospital'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <div class="float-end">
                {{ include('settings/hospital/_delete_form.html.twig') }}
            </div>

            <h1>
                {{ 'View Hospital'|trans }}
            </h1>

            <table class="table table-hover">
                <tbody>
                    <tr>
                        <th>
                            {{ 'Id'|trans({}, 'forms') }}
                        </th>
                        <td>
                            {{ hospital.id }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Name'|trans({}) }}
                        </th>
                        <td>
                            {{ hospital.name }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Owner'|trans({}) }}
                        </th>
                        <td>
                            {% if hospital.owner %}
                                <a href="{{
                                    path(
                                        'app_settings_user_show',
                                        {
                                            id: hospital.owner.id
                                        }
                                    )
                                    }}">
                                    {{ hospital.owner }}
                                </a>
                            {% else %}
                                {{ 'Hospital has no Onwer'|trans }}
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Address'|trans({}) }}
                        </th>
                        <td>
                            {{ hospital.address|nl2br }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Hospital location'|trans({}) }}
                        </th>
                        <td>
                            <ul>
                                <li>
                                    <span class="badge bg-primary">
                                        <i class="bi bi-collection"></i>
                                        {{ hospital.supplyArea }}
                                    </span>
                                </li>
                                <li>
                                    <span class="badge bg-primary">
                                        <i class="bi bi-collection"></i>
                                        {{ hospital.dispatchArea }}
                                    </span>
                                </li>
                                <li>
                                    {% if hospital.location == 'rural' %}
                                        <span class="badge bg-info">
                                            <i class="bi bi-collection"></i>
                                            {{ 'Rural'|trans }}
                                        </span>
                                    {% elseif hospital.location == 'urban' %}
                                        <span class="badge bg-info">
                                            <i class="bi bi-collection"></i>
                                            {{ 'Urban'|trans }}
                                        </span>
                                    {% endif %}
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            {{ 'Hospital size'|trans({}) }}
                        </th>
                        <td>
                            {{ hospital.size }} ({{ hospital.beds }}
                            {{ 'Beds'|trans }})
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="float-end">
                <a class="btn btn-outline-secondary"
                    href="{{ path('app_settings_hospital_index') }}">
                    {{ 'Back to list'|trans({}, 'forms') }}
                </a>
                <a class="btn btn-primary"
                    href="{{
                    path(
                        'app_settings_hospital_edit',
                        {
                            id: hospital.id
                        }
                    )
                    }}">
                    Edit Hospital
                </a>
            </div>
        </div>
    </div>
{% endblock %}
