{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'dashboard.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>
    <div class="row">
        <h1>
            {{ 'dashboard.welcome'|trans }}
        </h1>

        <div class="col-md">
            {{
                component(
                    'onboarding',
                    {
                        user: app.user
                    }
                )
            }}

            {% if app.user.isParticipant %}
                <p>
                    {{ 'dashboard.get_started'|trans }}
                </p>

                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ 'Hospitals'|trans }}
                        </h2>
                        <p class="card-text">
                            {{
                                'Explore the participating hospitals, add or edit your own hospital.'|trans
                            }}
                        </p>
                        {% if is_granted('create_hospital', app.user) %}
                            <a href="{{ path('app_hospital_new') }}"
                                class="btn btn-success"
                                disabled>
                                <i class="bi bi-plus-circle"></i>
                                {{ 'Create Hospital'|trans }}
                            </a>
                        {% endif %}
                        <a href="{{ path('app_hospital_index') }}"
                            class="btn btn-primary">
                            <i class="bi bi-search"></i>
                            {{ 'View all hospitals'|trans }}
                        </a>
                        {% if (app.user.hospitals|length) == 1 %}
                            <a href="{{
                                path(
                                    'app_hospital_edit',
                                    {
                                        id: app.user.hospitals.first.id
                                    }
                                )
                                }}"
                                class="btn btn-secondary">
                                <i class="bi bi-pencil"></i>
                                {{ 'Edit your Hospital'|trans }}
                            </a>
                        {% elseif (app.user.hospitals|length) > 1 %}
                            <a href="{{
                                path(
                                    'app_hospital_index',
                                    {
                                        ownHospitals: 1
                                    }
                                )
                                }}"
                                class="btn btn-secondary">
                                <i class="bi bi-pencil"></i>
                                {{ 'View your Hospitals'|trans }}
                            </a>
                        {% endif %}
                    </div>
                </div>

                {% if app.user.hospitals is not empty or userImportCount > 0 %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <h2 class="card-title">
                                {{ 'Import data'|trans }}
                            </h2>
                            <p class="card-text">
                                {{
                                    'Add some of your data to the database.'|trans
                                }}
                            </p>
                            {% if app.user.hospitals is not empty %}
                                <a href="{{ path('app_import_new') }}"
                                    class="btn btn-success">
                                    <i class="bi bi-plus-circle"></i>
                                    {{ 'Import data'|trans }}
                                </a>
                            {% endif %}
                            <a href="{{ path('app_import_index') }}"
                                class="btn btn-primary">
                                <i class="bi bi-search"></i>
                                {{ 'View your imports'|trans }}
                            </a>
                        </div>
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="card-title">
                                    {{ 'Allocations'|trans }}
                                </h2>
                                <p class="card-text">
                                    {{
                                        'Browse trough all the data, filter it and explore what IVENA got for us.'|trans
                                    }}
                                </p>
                                <a href="{{ path('app_allocation_index') }}"
                                    class="btn btn-primary">
                                    <i class="bi bi-search"></i>
                                    {{ 'View all Allocations'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h2 class="card-title">
                                    {{ 'Statistics'|trans }}
                                </h2>
                                <p class="card-text">
                                    {{
                                        'Explore the statistics that we already generated from our IVENA data.'|trans
                                    }}
                                </p>
                                <a href="{{ path('app_statistics_index') }}"
                                    class="btn btn-primary">
                                    <i class="bi bi-search"></i>
                                    {{ 'View Statistics'|trans }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2 class="pb-2 border-bottom">
                {{ 'Statistics'|trans }}
            </h2>
            <div class="col d-flex align-items-start py-1">
                <i class="bi bi-person-fill flex-shrink-0 me-3"
                    style="font-size: 1.75em">

                </i>
                <div>
                    <h4 class="fw-bold mb-0">
                        {{ userCount|number_format(0, '', '.') }}
                        {{ 'Users'|trans }}
                    </h4>
                </div>
            </div>
            <div class="col d-flex align-items-start py-1">
                <i class="bi bi-house-door-fill flex-shrink-0 me-3"
                    style="font-size: 1.75em">

                </i>
                <div>
                    <h4 class="fw-bold mb-0">
                        {{ hospitalCount|number_format(0, '', '.') }}
                        {% if app.user.isParticipant %}
                            <a class="text-dark"
                                href="{{ path('app_hospital_index') }}">
                                {{ 'dashboard.hospitals'|trans }}
                            </a>
                        {% else %}
                            {{ 'dashboard.hospitals'|trans }}
                        {% endif %}
                    </h4>
                    {% if app.user.hospitals is not empty %}
                        <p>
                            {{
                                'dashboard.hospitals.by_user'|trans({
                                    '%count%': userHospitalCount|number_format(
                                        0,
                                        '',
                                        '.'
                                    )
                                })
                            }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col d-flex align-items-start py-1">
                <i class="bi bi-list-ul flex-shrink-0 me-3"
                    style="font-size: 1.75em">

                </i>
                <div>
                    <h4 class="fw-bold mb-0">
                        {{ allocationCount|number_format(0, '', '.') }}
                        {% if app.user.isParticipant %}
                            <a class="text-dark"
                                href="{{ path('app_allocation_index') }}">
                                {{ 'dashboard.allocations'|trans }}
                            </a>
                        {% else %}
                            {{ 'dashboard.allocations'|trans }}
                        {% endif %}
                    </h4>
                    {% if app.user.hospitals is not empty %}
                        <p>
                            {{
                                'dashboard.allocations.by_your_hospital'|trans({
                                    '%count%': userAllocationCount|number_format(
                                        0,
                                        '',
                                        '.'
                                    )
                                })
                            }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="col d-flex align-items-start py-1">
                <i class="bi bi-file-earmark-arrow-up-fill flex-shrink-0 me-3"
                    style="font-size: 1.75em">

                </i>
                <div>
                    <h4 class="fw-bold mb-0">
                        {{ importCount|number_format(0, '', '.') }}
                        {% if is_granted('create_import', app.user) %}
                            <a class="text-dark"
                                href="{{ path('app_import_index') }}">
                                {{ 'dashboard.imports'|trans }}
                            </a>
                        {% else %}
                            {{ 'dashboard.imports'|trans }}
                        {% endif %}
                    </h4>
                    {% if app.user.isParticipant %}
                        <p>
                            {{
                                'dashboard.imports.by_you'|trans({
                                    '%count%': userImportCount
                                })
                            }}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="p-4 mb-3 bg-light rounded">
                <div class="mb-4">
                    {{ component('recent_posts') }}
                </div>

                {{ component('page_menu') }}
            </div>
        </div>
    </div>
{% endblock %}
