{% extends 'base.html.twig' %}

{% block title %}
    {{ 'dashboard.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <h1>
            {{ 'dashboard.welcome'|trans }}
        </h1>

        <div class="col-md">
            <p>
                {{ 'dashboard.get_started'|trans }}
            </p>

            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ 'dashboard.allocation.title'|trans }}
                    </h2>
                    <p class="card-text">
                        {{ 'dashboard.allocation.text'|trans }}
                    </p>
                    <a href="{{ path('allocation_index') }}"
                       class="btn btn-primary">
                        {{ 'dashboard.allocation.button'|trans }}
                    </a>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ 'dashboard.hospital.title'|trans }}
                    </h2>
                    <p class="card-text">
                        {{ 'dashboard.hospital.text'|trans }}
                    </p>
                    <a href="{{ path('hospital_edit') }}"
                       class="btn btn-primary">
                        {{ 'dashboard.hospital.button_edit'|trans }}
                    </a>
                    <a href="{{ path('hospital_index') }}"
                       class="btn btn-secondary">
                        {{ 'dashboard.hospital.button_view'|trans }}
                    </a>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ 'dashboard.import.title'|trans }}
                    </h2>
                    <p class="card-text">
                        {{ 'dashboard.import.text'|trans }}
                    </p>
                    <a href="{{ path('import_index') }}"
                       class="btn btn-primary">
                        {{ 'dashboard.import.button'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-person-fill"></i> {{ users }}
                        <small class="text-muted">
                            {{ 'dashboard.users'|trans }}
                        </small>
                    </h3>
                </div>
            </div>

            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-house-door-fill"></i>
                        {{ hospitals }}
                        <small class="text-muted">
                            {{ 'dashboard.hospitals'|trans }}
                        </small>
                    </h3>
                </div>
            </div>

            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-list-ul"></i> {{ allocations }}
                        <small class="text-muted">
                            {{ 'dashboard.allocations'|trans }}
                        </small>
                    </h3>
                    <p>
                        {{
                        'dashboard.allocations.by_your_hospital'|trans({
                            '%count%': hospital_allocations
                        })
                        }}
                    </p>
                </div>
            </div>

            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        {{ imports }}
                        <small class="text-muted">
                            {{ 'dashboard.imports'|trans }}
                        </small>
                    </h3>
                    <p>
                        {{
                        'dashboard.imports.by_you'|trans({
                            '%count%': user_imports
                        })
                        }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
