{% extends 'base.html.twig' %}

{% block title %}
    {{ 'dashboard.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('app_dashboard') }}">Home</a>
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <h1>
            {{ 'dashboard.welcome'|trans }}
        </h1>

        <div class="col-md">
            {% if
                app.user.isVerified == false
                    or app.user.isParticipant == false %}
                <div class="card mb-3 border-warning">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ 'dashboard.verify.title'|trans }}
                        </h2>
                        <p class="card-text">
                            {{ 'dashboard.verify.text'|trans }}
                        </p>
                        <ul>
                            <li>
                                {% if app.user.isVerified %}
                                    <i class="bi bi-check-circle-fill text-success">

                                    </i>
                                    Your E-Mail is verified
                                {% else %}
                                    <i class="bi bi-stop-circle-fill text-danger">

                                    </i>
                                    Your E-Mail is <strong>not</strong> verified
                                {% endif %}
                            </li>
                            <li>
                                {% if app.user.isParticipant %}
                                    <i class="bi bi-check-circle-fill text-success">

                                    </i>
                                    Account has been confirmed by admin.
                                {% else %}
                                    <i class="bi bi-stop-circle-fill text-danger">

                                    </i>
                                    Account has <strong>
                                        not
                                    </strong> been confirmed by admin.
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
            {% endif %}

            {% if app.user.isParticipant %}
                <p>
                    {{ 'dashboard.get_started'|trans }}
                </p>

                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ 'dashboard.allocation.title'|trans }}
                        </h2>
                        <p class="card-text">
                            {{ 'dashboard.allocation.text'|trans }}
                        </p>
                        <a href="{{ path('app_allocation_index') }}"
                            class="btn btn-primary">
                            {{ 'dashboard.allocation.button'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ 'dashboard.hospitals.title'|trans }}
                        </h2>
                        <p class="card-text">
                            {{ 'dashboard.hospitals.text'|trans }}
                        </p>
                        {% if app.user.hospital %}
                            <a href="{{
                                path(
                                    'app_hospital_edit',
                                    {
                                        id: app.user.hospital.id
                                    }
                                )
                                }}"
                                class="btn btn-primary">
                                {{ 'dashboard.hospitals.button_edit'|trans }}
                            </a>
                        {% elseif
                            app.user.hospital == null
                                and app.user.isParticipant %}
                            <a href="{{ path('app_hospital_new') }}"
                                class="btn btn-primary"
                                disabled>
                                {{ 'Create Hospital'|trans }}
                            </a>
                        {% endif %}
                        <a href="{{ path('app_hospital_index') }}"
                            class="btn btn-secondary">
                            {{ 'dashboard.hospitals.button_view'|trans }}
                        </a>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="card-title">
                            {{ 'dashboard.import.title'|trans }}
                        </h2>
                        <p class="card-text">
                            {{ 'dashboard.import.text'|trans }}
                        </p>
                        <a href="{{ path('app_import_index') }}"
                            class="btn btn-primary">
                            {{ 'dashboard.import.button'|trans }}
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-person-fill"></i> {{ users }}
                        <small class="text-muted">
                            {{ 'dashboard.users'|trans }}
                        </small>
                    </h3>
                </div>
            </div>

            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-house-door-fill"></i>
                        {{ hospitals }}
                        <small class="text-muted">
                            {% if app.user.isParticipant %}
                                <a class="text-muted"
                                    href="{{ path('app_hospital_index') }}">
                                    {{ 'dashboard.hospitals'|trans }}
                                </a>
                            {% else %}
                                {{ 'dashboard.hospitals'|trans }}
                            {% endif %}
                        </small>
                    </h3>
                </div>
            </div>

            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-list-ul"></i>
                        {{ allocations|number_format(0, '', '.') }}
                        <small class="text-muted">
                            {% if app.user.isParticipant %}
                                <a class="text-muted"
                                    href="{{ path('app_allocation_index') }}">
                                    {{ 'dashboard.allocations'|trans }}
                                </a>
                            {% else %}
                                {{ 'dashboard.allocations'|trans }}
                            {% endif %}
                        </small>
                    </h3>
                    {% if app.user.hospital %}
                        <p>
                            {{
                                'dashboard.allocations.by_your_hospital'|trans({
                                    '%count%': hospital_allocations
                                })
                            }}
                        </p>
                    {% endif %}
                </div>
            </div>

            <div class="card text-dark bg-light mb-2">
                <div class="card-body">
                    <h3>
                        <i class="bi bi-file-earmark-arrow-up-fill"></i>
                        {{ imports }}
                        <small class="text-muted">
                            {% if app.user.canImport %}
                                <a class="text-muted"
                                    href="{{ path('app_import_index') }}">
                                    {{ 'dashboard.imports'|trans }}
                                </a>
                            {% else %}
                                {{ 'dashboard.imports'|trans }}
                            {% endif %}
                        </small>
                    </h3>
                    {% if app.user.isParticipant %}
                        <p>
                            {{
                                'dashboard.imports.by_you'|trans({
                                    '%count%': user_imports
                                })
                            }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
