{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'title.blog.tag'|trans }}: {{ tag.name }} - {{ 'title.blog'|trans }} - {{
        parent()
    }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{
                    breadcrumbs.render(
                        [
                            {
                                url: url('app_dashboard'),
                                label: 'Home'|trans
                            },
                            {
                                url: url('app_blog'),
                                label: 'title.blog'|trans
                            },
                            {
                                label: tag.name
                            }
                        ]
                    )
                }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Showing tag {{ tag.name }} <small class="text-muted">
                        with
                        {{ paginator.numResults }} posts
                    </small>
                </h3>

                <turbo-frame id="post-list-{{ paginator.currentPage }}">
                    {% for post in paginator.results %}
                        {% include 'website/blog/_listed_post.html.twig' with {
                            post: post
                        } %}
                    {% endfor %}

                    {% if paginator.hasNextPage %}
                        <turbo-frame id="post-list-{{ paginator.nextPage }}"
                            src="{{
                            path(
                                'app_blog',
                                {
                                    page: paginator.nextPage
                                }
                            )
                            }}"
                            loading="lazy"></turbo-frame>
                    {% endif %}
                </turbo-frame>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4">
                        {{ component('recent_posts') }}
                    </div>

                    <div class="p-4">
                        {{ component('categories') }}
                    </div>

                    <div class="p-4">
                        {{ component('tags') }}
                    </div>

                    <div class="p-4">
                        {{ component('archive') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
