{% extends 'base.html.twig' %}

{% trans_default_domain 'errors' %}

{% block title %}
    {{ 'title.error'|trans }} - {{ parent() }}
{% endblock %}

{% block header %}
    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_homepage') }}">
                    {{ app_title }}
                </a>
                <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        {% if has_page('about') %}
                            <li class="nav-item">
                                {% if
                                    app.request.attributes.get('_route')
                                        starts with 'app_about' %}
                                    <a class="nav-link active"
                                        aria-current="page"
                                        href="{{ path('app_page_about') }}">
                                        {{ 'link.about'|trans }}
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                        href="{{ path('app_page_about') }}">
                                        {{ 'link.about'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if app_enable_features %}
                            <li class="nav-item">
                                {% if
                                    app.request.attributes.get('_route')
                                        starts with 'app_blog' %}
                                    <a class="nav-link active"
                                        aria-current="page"
                                        href="{{ path('app_page_features') }}">
                                        {{ 'link.features'|trans }}
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                        href="{{ path('app_page_features') }}">
                                        {{ 'link.features'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if app_enable_blog %}
                            <li class="nav-item">
                                {% if
                                    app.request.attributes.get('_route')
                                        starts with 'app_blog' %}
                                    <a class="nav-link active"
                                        aria-current="page"
                                        href="{{ path('app_blog') }}">
                                        {{ 'link.blog'|trans }}
                                    </a>
                                {% else %}
                                    <a class="nav-link"
                                        href="{{ path('app_blog') }}">
                                        {{ 'link.blog'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if app_enable_help %}
                            <li class="nav-item">
                                {% if
                                    app.request.attributes.get('_route')
                                        starts with 'app_help' %}
                                    <a class="nav-link active"
                                        aria-current="page"
                                        href="#">
                                        {{ 'link.faq'|trans }}
                                    </a>
                                {% else %}
                                    <a class="nav-link" href="#">
                                        {{ 'link.faq'|trans }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

{% block body %}
    <div class="page-wrap d-flex flex-row align-items-center h-100">
        <div class="content container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <span class="display-1 d-block">
                        {{
                            ('messages.' ~ exception.getStatusCode
                                ~ '.title')|trans({})
                        }} ({{ exception.getStatusCode }})
                    </span>
                    <div class="mb-4 lead">
                        {{
                            ('messages.' ~ exception.getStatusCode
                                ~ '.description')
                                |trans({})
                                |nl2br
                        }}
                    </div>
                    <a href="javascript:history.back()">
                        {{ 'link.to.lastpage'|trans }}
                    </a>, <a href="{{ path('app_homepage') }}" class="btn btn-link">{{
                            'link.to.homepage'|trans
                        }}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
