{% extends 'base.html.twig' %}

{% import '_elements/macro/breadcrumb.html.twig' as breadcrumbs %}

{% block title %}
    {{ 'E-Mail settings'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            {{
                breadcrumbs.render(
                    [
                        {
                            url: url('app_dashboard'),
                            label: 'Home'|trans
                        },
                        {
                            url: url('app_settings'),
                            label: 'Settings'|trans
                        },
                        {
                            label: 'E-Mail'|trans
                        }
                    ]
                )
            }}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 col-md-3">
            {{ include('settings/_settings_subnav.html.twig') }}
        </div>
        <div class="col">
            <h1>
                {{ 'E-Mail settings'|trans }}
            </h1>

            <div class="card mb-3">
                <div class="card-header">
                    {{ 'Change your E-Mail'|trans }}
                </div>
                <div class="card-body">
                    <p>
                        {{ 'user.email.message'|trans }}
                        <mark>{{ user.email }}</mark><br />
                        {{ 'user.email.verify'|trans }} {% if user.isVerified %}
                            <mark>{{ 'user.email.verified'|trans }}</mark>.
                        {% else %}
                            <mark>{{ 'user.email.notVerified'|trans }}</mark>. <a href="{{
                                path(
                                    'account_email_verify'
                                )
                                }}">
                                {{ 'user.link.verifyEmail'|trans }}
                            </a>
                        {% endif %}
                    </p>

                    {{ form_start(form_email) }}

                    {{ form_row(form_email.new_email) }}

                    <div class="float-end">
                        {{ form_row(form_email.submit) }}
                    </div>
                    {{ form_end(form_email) }}
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    {{ 'Manage your notification settings'|trans }}
                </div>
                <div class="card-body">
                    {{ form_start(form_settings) }}

                    {{
                        form_row(
                            form_settings.allowsEmail,
                            {
                                label_attr: {
                                    class: 'switch-custom'
                                }
                            }
                        )
                    }}

                    {{
                        form_row(
                            form_settings.allowsEmailReminder,
                            {
                                label_attr: {
                                    class: 'switch-custom'
                                }
                            }
                        )
                    }}

                    <div class="float-end">
                        {{ form_row(form_settings.submit) }}
                    </div>

                    {{ form_end(form_settings) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
