{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user.account.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'user.account.title'|trans }}
    </h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active"
                aria-current="page"
                href="{{ path('account') }}">
                {{ 'user.link.overview'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_profile') }}">
                {{ 'user.link.account'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_security') }}">
                {{ 'user.link.security'|trans }}
            </a>
        </li>
    </ul>

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ 'user.card.account'|trans }}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ 'user.card.account.subtitle'|trans }}
                    </h6>
                    <p class="card-text">
                        {{ 'user.card.account.text'|trans }}
                    </p>
                    <a href="{{ path('account_profile') }}" class="card-link">
                        {{ 'user.link.profile'|trans }}
                    </a>
                    <a href="{{ path('account_email') }}" class="card-link">
                        {{ 'user.link.email'|trans }}
                    </a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-danger">
                <div class="card-body">
                    <h5 class="card-title text-danger">
                        {{ 'user.card.security'|trans }}
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ 'user.card.security.subtitle'|trans }}
                    </h6>
                    <p class="card-text">
                        {{ 'user.card.security.text'|trans }}
                    </p>
                    <a href="{{ path('account_change_password') }}"
                        class="card-link">
                        {{ 'user.link.password'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
