{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user.account.email.title'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'user.account.title'|trans }}
    </h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account') }}">
                {{ 'user.link.overview'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"
                aria-current="page"
                href="{{ path('account_profile') }}">
                {{ 'user.link.account'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_security') }}">
                {{ 'user.link.security'|trans }}
            </a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ path('account_profile') }}"
                    class="list-group-item list-group-item-action">
                    {{ 'user.link.profile'|trans }}
                </a>
                <a href="{{ path('account_email') }}"
                    class="list-group-item list-group-item-action active"
                    aria-current="true">
                    {{ 'user.link.email'|trans }}
                </a>
            </div>
        </div>
        <div class="col-md-9 order-first order-md-last my-auto">
            <h2>
                {{ 'user.email.title'|trans }}
            </h2>
            <hr />

            <p>
                {{ 'user.email.message'|trans }} <mark>{{ user.email }}</mark><br />
                {{ 'user.email.verify'|trans }} {% if user.isVerified %}
                    <mark>{{ 'user.email.verified'|trans }}</mark>.
                {% else %}
                    <mark>{{ 'user.email.notVerified'|trans }}</mark>. <a href="{{
                        path(
                            'account_email_verify'
                        )
                        }}">
                        {{ 'user.link.verifyEmail'|trans }}
                    </a>
                {% endif %}
            </p>

            {{ form_start(form_email) }}

            {{ form_row(form_email.new_email) }}

            {{ form_row(form_email.submit) }}

            {{ form_end(form_email) }}
        </div>
    </div>
{% endblock %}
