{% extends 'base.html.twig' %}

{% block title %}Change your password - {{ parent() }}{% endblock %}

{% block body %}
    <h1>My Account</h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account') }}">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('account_security') }}" aria-current="page" >Security</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ path('account_change_password') }}" class="list-group-item list-group-item-action active" aria-current="true">
                    Change password
                </a>
            </div>
        </div>
        <div class="col-md-9 order-first order-md-last my-auto">
            <h2>Change password</h2>
            <hr />

            {{ form_start(form) }}

            {{ form_row(form.currentPassword) }}
            {{ form_row(form.plainPassword) }}

            <div class="clearfix">
                <div class="btn-group float-right" role="group" aria-label="">
                    <button type="submit" class="btn btn-success">{{ "Change password"|trans }}</button>
                </div>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
