{% extends 'base.html.twig' %}

{% block title %}
    {{ 'user.account.profile'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>
        {{ 'user.account.title'|trans }}
    </h1>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}" role="alert">
                {{ message|trans }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account') }}">
                {{ 'user.link.overview'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active"
                aria-current="page"
                href="{{ path('account_profile') }}">
                {{ 'user.link.account'|trans }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('account_security') }}">
                {{ 'user.link.security'|trans }}
            </a>
        </li>
    </ul>

    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ path('account_profile') }}"
                    class="list-group-item list-group-item-action active">
                    {{ 'user.link.profile'|trans }}
                </a>
                <a href="{{ path('account_email') }}"
                    class="list-group-item list-group-item-action"
                    aria-current="true">
                    {{ 'user.link.email'|trans }}
                </a>
            </div>
        </div>
        <div class="col-md-9 order-first order-md-last my-auto">
            <h2>
                {{ 'user.profile.title'|trans }}
            </h2>
            <hr />

            {{ form_start(form_profile) }}

            {{ form_row(form_profile.username) }}

            {{ form_row(form_profile.submit) }}

            {{ form_end(form_profile) }}
        </div>
    </div>
{% endblock %}
